workflows/WF_AUDIENCE_INTELLIGENCE.json
{
  "name": "WF_AUDIENCE_INTELLIGENCE",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-audience-cron",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 220],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "trigger-audience-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "path": "audience/intelligence",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "audience-intelligence"
    },
    {
      "id": "code-audience-scope",
      "name": "Normalize + Scope Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 310],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CF16 WF_AUDIENCE_INTELLIGENCE — Sprint S8. Normalize triggers, scope projects.\n// Triggers:\n//   - Schedule (Sunday 04:00 UTC): scope = all non-paused/archived projects with >=1 published topic\n//   - Webhook POST /webhook/audience/intelligence: optional { project_id, force }\n// Output: one item per project, pre-loaded with week_of (current Sunday UTC).\n// Idempotency check deferred to per-project node (needs to honor force flag per-project).\n\nconst raw = $input.first().json;\nconst viaWebhook = !!raw.body;\nconst payload = raw.body || {};\nconst projectIdFilter = payload.project_id || null;\nconst force = payload.force === true;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst sbHeaders = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json'\n};\n\n// Compute current Sunday UTC as week_of anchor.\n// On Sunday, week_of = today. On other days, week_of = most recent Sunday.\nconst now = new Date();\nconst dow = now.getUTCDay();\nconst weekOf = new Date(now);\nweekOf.setUTCDate(now.getUTCDate() - dow);\nweekOf.setUTCHours(0, 0, 0, 0);\nconst weekOfDate = weekOf.toISOString().slice(0, 10);\n\n// Scope projects. Tolerate missing status (legacy rows). Include published topic count proxy via fetch.\nlet projUrl;\nif (projectIdFilter) {\n  projUrl = `${supabaseUrl}/rest/v1/projects?id=eq.${projectIdFilter}&select=id,name,niche,niche_description,status`;\n} else {\n  projUrl = `${supabaseUrl}/rest/v1/projects?or=(status.is.null,status.not.in.(paused,archived))&select=id,name,niche,niche_description,status`;\n}\n\nconst pRes = await fetch(projUrl, { method: 'GET', headers: sbHeaders });\nif (!pRes.ok) {\n  throw new Error(`Fetch projects failed: HTTP ${pRes.status}: ${(await pRes.text()).slice(0, 300)}`);\n}\nconst projects = await pRes.json();\n\nif (!Array.isArray(projects) || projects.length === 0) {\n  return [{\n    json: {\n      skipped: true,\n      reason: projectIdFilter ? `Project ${projectIdFilter} not found` : 'No active projects',\n      via_webhook: viaWebhook,\n      week_of: weekOfDate,\n      http_status: 200\n    }\n  }];\n}\n\n// Filter projects by \"has at least one published topic\" in one round-trip per project (lightweight count).\nconst items = [];\nfor (const p of projects) {\n  try {\n    const tUrl = `${supabaseUrl}/rest/v1/topics?project_id=eq.${p.id}&status=eq.published&select=id&limit=1`;\n    const tRes = await fetch(tUrl, { method: 'GET', headers: sbHeaders });\n    if (!tRes.ok) continue;\n    const rows = await tRes.json();\n    if (!Array.isArray(rows) || rows.length === 0) {\n      items.push({\n        json: {\n          project_id: p.id,\n          skipped: true,\n          skip_reason: 'no_published_topics_yet',\n          week_of: weekOfDate,\n          via_webhook: viaWebhook\n        }\n      });\n      continue;\n    }\n  } catch (_) { continue; }\n\n  items.push({\n    json: {\n      project_id: p.id,\n      name: p.name,\n      niche: p.niche,\n      niche_description: p.niche_description,\n      force,\n      via_webhook: viaWebhook,\n      week_of: weekOfDate,\n      started_at: now.toISOString()\n    }\n  });\n}\n\nif (items.length === 0) {\n  return [{\n    json: {\n      skipped: true,\n      reason: 'No projects with published topics',\n      via_webhook: viaWebhook,\n      week_of: weekOfDate,\n      http_status: 200\n    }\n  }];\n}\n\nreturn items;"
      }
    },
    {
      "id": "code-audience-process",
      "name": "Process Audience Intelligence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 310],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// CF16 per-project weekly audience intelligence.\n// Stages:\n//   1. Idempotency: skip if audience_insights (project_id, week_of) exists and !force.\n//   2. Fetch comments for published topics (last 30d) from YouTube Data API v3 — dedup against audience_comments.\n//   3. Insert new unclassified audience_comments rows.\n//   4. Classify unclassified batch (max 500) via Haiku 4.5 in chunks of 25, PATCH each row.\n//   5. Load last 7d of classified non-noise comments; Opus 4.6 synthesizes weekly insights.\n//   6. UPSERT audience_insights on (project_id, week_of).\n//   7. Log to production_logs.\n// Global fetch + $env only. Inline exponential backoff. No WF_RETRY_WRAPPER.\n\nconst data = $input.item.json;\nif (data.skipped) return $input.item;\n\nconst projectId = data.project_id;\nconst weekOfDate = data.week_of;\nconst force = data.force === true;\nconst runStart = Date.now();\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst sbHeaders = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json'\n};\nconst anthropicKey = $env.ANTHROPIC_API_KEY;\nconst youtubeApiKey = $env.YOUTUBE_API_KEY || null;\n\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\n\nasync function sbGet(url, label) {\n  const res = await fetch(url, { method: 'GET', headers: sbHeaders });\n  if (!res.ok) throw new Error(`${label} failed: HTTP ${res.status}: ${(await res.text()).slice(0, 200)}`);\n  return res.json();\n}\n\nasync function logProduction(action, status, durationMs, costUsd, retryCount) {\n  try {\n    await fetch(`${supabaseUrl}/rest/v1/production_logs`, {\n      method: 'POST',\n      headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n      body: JSON.stringify({\n        project_id: projectId,\n        topic_id: null,\n        stage: 'audience_intelligence',\n        scene_number: null,\n        action,\n        status,\n        duration_ms: durationMs,\n        cost_usd: costUsd,\n        retry_count: retryCount\n      })\n    });\n  } catch (_) { /* best-effort */ }\n}\n\n// Generic Anthropic caller with inline exponential backoff (1s -> 2s -> 4s -> 8s, 30s cap).\n// 429 gets a fixed 30s backoff. 4xx (non-429) fails fast.\nasync function callAnthropic({ model, max_tokens, user_content, maxRetries }) {\n  let lastErr = null;\n  let retriesTaken = 0;\n  for (let attempt = 1; attempt <= maxRetries; attempt++) {\n    try {\n      const res = await fetch('https://api.anthropic.com/v1/messages', {\n        method: 'POST',\n        headers: {\n          'x-api-key': anthropicKey,\n          'anthropic-version': '2023-06-01',\n          'content-type': 'application/json'\n        },\n        body: JSON.stringify({\n          model,\n          max_tokens,\n          messages: [{ role: 'user', content: user_content }]\n        })\n      });\n      if (res.ok) {\n        const body = await res.json();\n        return {\n          ok: true,\n          text: body.content?.[0]?.text || '',\n          input_tokens: body.usage?.input_tokens || 0,\n          output_tokens: body.usage?.output_tokens || 0,\n          retries: retriesTaken\n        };\n      }\n      const errBody = await res.text();\n      lastErr = new Error(`HTTP ${res.status}: ${errBody.slice(0, 300)}`);\n      if (res.status === 429) {\n        retriesTaken += 1;\n        await sleep(30000);\n        continue;\n      }\n      if (res.status >= 400 && res.status < 500) break;\n    } catch (e) {\n      lastErr = e;\n    }\n    if (attempt < maxRetries) {\n      retriesTaken += 1;\n      await sleep(Math.min(1000 * Math.pow(2, attempt - 1), 30000));\n    }\n  }\n  return { ok: false, error: lastErr?.message || 'anthropic call failed', retries: retriesTaken };\n}\n\nfunction extractJsonObject(text) {\n  if (!text) return null;\n  const clean = text.replace(/```json|```/g, '').trim();\n  try { return JSON.parse(clean); } catch {}\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { return JSON.parse(m[0]); } catch {} }\n  return null;\n}\n\n// Inline exponential backoff for YouTube Data API (1s -> 2s -> 4s, max 3).\nasync function fetchYouTubeComments(videoId) {\n  if (!youtubeApiKey) return { ok: false, skipped_no_key: true, items: [] };\n  const url = `https://www.googleapis.com/youtube/v3/commentThreads?part=snippet&videoId=${videoId}&maxResults=100&order=relevance&key=${youtubeApiKey}`;\n  for (let attempt = 1; attempt <= 3; attempt++) {\n    try {\n      const res = await fetch(url, { method: 'GET' });\n      if (res.ok) {\n        const body = await res.json();\n        return { ok: true, items: body.items || [] };\n      }\n      if (res.status === 403) {\n        // Quota or comments disabled — don't retry, surface to caller\n        const bodyText = (await res.text()).slice(0, 200);\n        return { ok: false, quota_or_disabled: true, status: 403, error: bodyText };\n      }\n      if (res.status === 404) {\n        return { ok: false, not_found: true, status: 404 };\n      }\n      // 5xx or unexpected — retry\n    } catch (_) { /* network blip, retry */ }\n    if (attempt < 3) await sleep(Math.min(1000 * Math.pow(2, attempt - 1), 30000));\n  }\n  return { ok: false, error: 'youtube_fetch_exhausted' };\n}\n\ntry {\n  // ───── 1. Idempotency ─────\n  if (!force) {\n    const idUrl = `${supabaseUrl}/rest/v1/audience_insights?project_id=eq.${projectId}&week_of=eq.${weekOfDate}&select=id&limit=1`;\n    const idRes = await fetch(idUrl, { method: 'GET', headers: sbHeaders });\n    if (idRes.ok) {\n      const rows = await idRes.json();\n      if (Array.isArray(rows) && rows.length > 0) {\n        await logProduction('idempotent_skip', 'skipped', Date.now() - runStart, 0, 0);\n        return {\n          json: {\n            project_id: projectId,\n            skipped: true,\n            skip_reason: `audience_insights already exists for week ${weekOfDate}`,\n            week_of: weekOfDate,\n            via_webhook: data.via_webhook\n          }\n        };\n      }\n    }\n  }\n\n  // ───── 2. Load recent published topics (last 30d) ─────\n  const thirtyDaysAgo = new Date(Date.now() - 30 * 86400000).toISOString();\n  const topicsUrl = `${supabaseUrl}/rest/v1/topics?project_id=eq.${projectId}&status=eq.published&published_at=gte.${encodeURIComponent(thirtyDaysAgo)}&youtube_video_id=not.is.null&select=id,youtube_video_id,seo_title,published_at&order=published_at.desc&limit=20`;\n  let recentTopics = [];\n  try { recentTopics = await sbGet(topicsUrl, 'fetch recent topics'); } catch (_) { recentTopics = []; }\n\n  let consecutive403s = 0;\n  let videosFetched = 0;\n  let newCommentsInserted = 0;\n  let youtubeAbortedQuota = false;\n\n  // ───── 3. Fetch YouTube comments per video + dedup + insert ─────\n  if (recentTopics.length > 0 && youtubeApiKey) {\n    for (const topic of recentTopics) {\n      const videoId = topic.youtube_video_id;\n      if (!videoId) continue;\n\n      if (consecutive403s >= 3) {\n        youtubeAbortedQuota = true;\n        break;\n      }\n\n      const ytRes = await fetchYouTubeComments(videoId);\n      videosFetched += 1;\n\n      if (!ytRes.ok) {\n        if (ytRes.quota_or_disabled) consecutive403s += 1;\n        await sleep(500);\n        continue;\n      }\n      consecutive403s = 0;\n\n      const items = ytRes.items || [];\n      if (items.length === 0) { await sleep(500); continue; }\n\n      // Extract top-level comment IDs only\n      const incoming = items.map(it => {\n        const tlc = it.snippet?.topLevelComment;\n        if (!tlc || !tlc.id || !tlc.snippet) return null;\n        const s = tlc.snippet;\n        return {\n          youtube_comment_id: tlc.id,\n          author_display_name: (s.authorDisplayName || '').slice(0, 100),\n          author_channel_id: (s.authorChannelId?.value || '').slice(0, 50) || null,\n          comment_text: s.textOriginal || s.textDisplay || '',\n          like_count: Number(s.likeCount) || 0,\n          reply_count: Number(it.snippet?.totalReplyCount) || 0,\n          published_at: s.publishedAt || null\n        };\n      }).filter(Boolean).filter(c => c.comment_text && c.comment_text.length > 0);\n\n      if (incoming.length === 0) { await sleep(500); continue; }\n\n      // Dedup against existing audience_comments\n      const ids = incoming.map(c => `\"${c.youtube_comment_id}\"`).join(',');\n      const dedupUrl = `${supabaseUrl}/rest/v1/audience_comments?project_id=eq.${projectId}&youtube_comment_id=in.(${ids})&select=youtube_comment_id`;\n      let existingIds = new Set();\n      try {\n        const dRes = await fetch(dedupUrl, { method: 'GET', headers: sbHeaders });\n        if (dRes.ok) {\n          const rows = await dRes.json();\n          existingIds = new Set((rows || []).map(r => r.youtube_comment_id));\n        }\n      } catch (_) { /* best-effort dedup */ }\n\n      const newRows = incoming\n        .filter(c => !existingIds.has(c.youtube_comment_id))\n        .map(c => ({\n          project_id: projectId,\n          topic_id: topic.id,\n          youtube_video_id: videoId,\n          youtube_comment_id: c.youtube_comment_id,\n          author_display_name: c.author_display_name || null,\n          author_channel_id: c.author_channel_id,\n          comment_text: c.comment_text.slice(0, 4000),\n          like_count: c.like_count,\n          reply_count: c.reply_count,\n          published_at: c.published_at\n        }));\n\n      if (newRows.length > 0) {\n        try {\n          const insRes = await fetch(`${supabaseUrl}/rest/v1/audience_comments`, {\n            method: 'POST',\n            headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n            body: JSON.stringify(newRows)\n          });\n          if (insRes.ok) newCommentsInserted += newRows.length;\n        } catch (_) { /* continue */ }\n      }\n\n      await sleep(500); // Respect YouTube quota cadence\n    }\n  }\n\n  // ───── 4. Classify unclassified comments via Haiku 4.5 ─────\n  const unclsUrl = `${supabaseUrl}/rest/v1/audience_comments?project_id=eq.${projectId}&classification=is.null&order=first_seen_at.asc&limit=500&select=id,comment_text`;\n  let unclassified = [];\n  try { unclassified = await sbGet(unclsUrl, 'fetch unclassified'); } catch (_) { unclassified = []; }\n\n  const BATCH_SIZE = 25;\n  let classifiedCount = 0;\n  let haikuCostUsd = 0;\n  let haikuRetries = 0;\n\n  for (let i = 0; i < unclassified.length; i += BATCH_SIZE) {\n    const batch = unclassified.slice(i, i + BATCH_SIZE);\n    const promptText = `Classify each of these YouTube comments into EXACTLY ONE of: question, complaint, praise, suggestion, noise.\n\nAlso extract an intent — for questions: the actual question. For complaints: the actual gripe. For suggestions: the actual idea. For praise/noise: empty string.\n\nAlso detect language (2-letter ISO code) if not English.\n\nComments:\n${batch.map((c, idx) => `[${idx}] \"${(c.comment_text || '').replace(/\"/g, '\\'').substring(0, 300)}\"`).join('\\n')}\n\nReturn ONLY JSON:\n{\n  \"classifications\": [\n    {\"index\": 0, \"classification\": \"<question|complaint|praise|suggestion|noise>\", \"confidence\": <0-1>, \"extracted_intent\": \"<string>\", \"language_hint\": \"<iso or null>\"}\n  ]\n}`;\n\n    const callRes = await callAnthropic({\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 2000,\n      user_content: promptText,\n      maxRetries: 4\n    });\n    haikuRetries += (callRes.retries || 0);\n\n    // Haiku 4.5 pricing: $1/M input, $5/M output\n    if (callRes.ok) {\n      haikuCostUsd += ((callRes.input_tokens * 1) + (callRes.output_tokens * 5)) / 1_000_000;\n    }\n\n    if (!callRes.ok) continue;\n\n    const parsed = extractJsonObject(callRes.text);\n    if (!parsed || !Array.isArray(parsed.classifications)) continue;\n\n    const nowIso = new Date().toISOString();\n    // Validate + PATCH each\n    for (const cls of parsed.classifications) {\n      const idx = Number(cls.index);\n      if (!Number.isFinite(idx) || idx < 0 || idx >= batch.length) continue;\n      const commentRow = batch[idx];\n      const label = String(cls.classification || '').toLowerCase().trim();\n      if (!['question', 'complaint', 'praise', 'suggestion', 'noise'].includes(label)) continue;\n      const conf = Math.max(0, Math.min(1, Number(cls.confidence)));\n      const intent = String(cls.extracted_intent || '').slice(0, 500);\n      let lang = null;\n      if (cls.language_hint && typeof cls.language_hint === 'string') {\n        const l = cls.language_hint.trim().toLowerCase().slice(0, 10);\n        if (l && l !== 'null' && l !== 'none') lang = l;\n      }\n\n      try {\n        const pRes = await fetch(`${supabaseUrl}/rest/v1/audience_comments?id=eq.${commentRow.id}`, {\n          method: 'PATCH',\n          headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n          body: JSON.stringify({\n            classification: label,\n            classification_confidence: Number.isFinite(conf) ? conf : null,\n            extracted_intent: intent || null,\n            language_hint: lang,\n            classified_at: nowIso,\n            classified_by: 'claude-haiku-4-5-20251001'\n          })\n        });\n        if (pRes.ok) classifiedCount += 1;\n      } catch (_) { /* continue */ }\n    }\n  }\n\n  if (unclassified.length > 0) {\n    await logProduction('haiku_classify', classifiedCount > 0 ? 'success' : 'partial', Date.now() - runStart, Math.round(haikuCostUsd * 10000) / 10000, haikuRetries);\n  }\n\n  // ───── 5. Opus 4.6 weekly synthesis ─────\n  const sevenDaysAgo = new Date(Date.now() - 7 * 86400000).toISOString();\n  const weeklyUrl = `${supabaseUrl}/rest/v1/audience_comments?project_id=eq.${projectId}&classification=neq.noise&classified_at=gte.${encodeURIComponent(sevenDaysAgo)}&select=youtube_video_id,classification,extracted_intent,like_count,comment_text,author_display_name&limit=800&order=like_count.desc.nullslast`;\n  let weekly = [];\n  try { weekly = await sbGet(weeklyUrl, 'fetch weekly comments'); } catch (_) { weekly = []; }\n\n  // Full class counts (including noise) for audience_insights storage — separate fetch for totals\n  const countsUrl = `${supabaseUrl}/rest/v1/audience_comments?project_id=eq.${projectId}&classification=not.is.null&classified_at=gte.${encodeURIComponent(sevenDaysAgo)}&select=classification&limit=1500`;\n  let byClass = { question: 0, complaint: 0, praise: 0, suggestion: 0, noise: 0 };\n  let totalAnalyzed = 0;\n  try {\n    const cArr = await sbGet(countsUrl, 'fetch class counts');\n    for (const r of (cArr || [])) {\n      const c = r.classification;\n      if (c && byClass[c] !== undefined) { byClass[c] += 1; totalAnalyzed += 1; }\n    }\n  } catch (_) { /* non-fatal */ }\n\n  // Insufficient signal: <10 non-noise classified comments\n  const nonNoiseTotal = byClass.question + byClass.complaint + byClass.praise + byClass.suggestion;\n  if (nonNoiseTotal < 10) {\n    await logProduction('skipped_insufficient_signal', 'skipped', Date.now() - runStart, Math.round(haikuCostUsd * 10000) / 10000, haikuRetries);\n    return {\n      json: {\n        success: false,\n        project_id: projectId,\n        week_of: weekOfDate,\n        skipped: true,\n        skip_reason: `insufficient_signal (only ${nonNoiseTotal} non-noise classified comments in last 7 days; need 10+)`,\n        new_comments_inserted: newCommentsInserted,\n        comments_classified_this_run: classifiedCount,\n        videos_fetched: videosFetched,\n        youtube_aborted_quota: youtubeAbortedQuota,\n        haiku_cost_usd: Math.round(haikuCostUsd * 10000) / 10000,\n        via_webhook: data.via_webhook\n      }\n    };\n  }\n\n  // Trim weekly comments for prompt (up to 200 most-liked)\n  const weeklyForPrompt = (weekly || []).slice(0, 200);\n  const commentsBlock = weeklyForPrompt.map(c => {\n    const intent = (c.extracted_intent || c.comment_text || '').slice(0, 200);\n    return `[${c.classification}] ${intent} (+${c.like_count || 0})`;\n  }).join('\\n');\n\n  const synthPrompt = `You are an audience research specialist. Synthesize a week of YouTube comments into actionable audience intelligence for this channel's scriptwriter.\n\nProject: ${data.name || '(unnamed)'} (${data.niche || 'uncategorized niche'})\nComments analyzed: ${totalAnalyzed} (${byClass.question} questions, ${byClass.complaint} complaints, ${byClass.suggestion} suggestions)\n\nTop comments (ordered by like_count, up to 200 included):\n${commentsBlock}\n\nTASK — Return JSON only, no markdown:\n{\n  \"recurring_questions\": [\n    {\"question\": \"<question paraphrased>\", \"occurrence_count\": <int>, \"example_comments\": [\"<quote>\"]}\n  ],\n  \"content_complaints\": [\n    {\"complaint\": \"<issue>\", \"occurrence_count\": <int>, \"severity_hint\": \"<low|medium|high>\", \"example_comments\": [\"<quote>\"]}\n  ],\n  \"topic_suggestions\": [\n    {\"suggested_title\": \"<YouTube-style title>\", \"seed_question\": \"<which recurring question it answers>\", \"demand_signal\": <0-100>}\n  ],\n  \"audience_persona_summary\": \"<2-4 sentence paragraph describing WHO they are based on comment evidence>\",\n  \"dominant_persona_traits\": {\n    \"prior_knowledge_hints\": [\"<concept>\"],\n    \"geographic_hints\": [\"<region>\"],\n    \"interests\": [\"<topic>\"]\n  },\n  \"vocabulary_level\": \"<beginner|intermediate|advanced|mixed>\",\n  \"assumed_prior_knowledge\": [\"<concept>\"],\n  \"frequent_objections\": [\n    {\"objection\": \"<objection phrasing>\", \"counter_angle_needed\": \"<what to address>\"}\n  ],\n  \"audience_context_block\": \"<pre-rendered block for {{audience_context}} injection into script Pass 1, 200-300 words max. Format: 'Our audience ____. They frequently ask ____. They already know ____. Their biggest complaint is ____. Avoid ____.'>\"\n}\n\nConstraints: up to 5 recurring_questions (most asked), up to 3 content_complaints (most common), 3-5 topic_suggestions, 3-5 assumed_prior_knowledge entries. Use only evidence from the comments above.`;\n\n  const opusStart = Date.now();\n  const synthRes = await callAnthropic({\n    model: 'claude-opus-4-6',\n    max_tokens: 3000,\n    user_content: synthPrompt,\n    maxRetries: 4\n  });\n  const opusDuration = Date.now() - opusStart;\n\n  // Opus 4.6 pricing: $15/M input, $75/M output\n  let opusCostUsd = 0;\n  if (synthRes.ok) {\n    opusCostUsd = ((synthRes.input_tokens * 15) + (synthRes.output_tokens * 75)) / 1_000_000;\n  }\n  opusCostUsd = Math.round(opusCostUsd * 10000) / 10000;\n\n  // Parse + validate with fallback\n  let parsed = null;\n  if (synthRes.ok) parsed = extractJsonObject(synthRes.text);\n\n  function sanitizeStr(s, maxLen) { return String(s == null ? '' : s).slice(0, maxLen); }\n  function sanitizeArrOfStr(arr, maxItems, maxStrLen) {\n    if (!Array.isArray(arr)) return [];\n    return arr.slice(0, maxItems).map(x => sanitizeStr(x, maxStrLen)).filter(x => x.length > 0);\n  }\n  function sanitizeArrOfObj(arr, maxItems, mapper) {\n    if (!Array.isArray(arr)) return [];\n    return arr.slice(0, maxItems).map(mapper).filter(x => x !== null);\n  }\n\n  let insightsRow;\n  if (parsed) {\n    const recurring_questions = sanitizeArrOfObj(parsed.recurring_questions, 5, (q) => {\n      const question = sanitizeStr(q?.question, 500);\n      if (!question) return null;\n      return {\n        question,\n        occurrence_count: Math.max(1, Math.min(9999, Number(q?.occurrence_count) || 1)),\n        example_comments: sanitizeArrOfStr(q?.example_comments, 3, 500)\n      };\n    });\n    const content_complaints = sanitizeArrOfObj(parsed.content_complaints, 3, (c) => {\n      const complaint = sanitizeStr(c?.complaint, 500);\n      if (!complaint) return null;\n      const sev = String(c?.severity_hint || '').toLowerCase().trim();\n      return {\n        complaint,\n        occurrence_count: Math.max(1, Math.min(9999, Number(c?.occurrence_count) || 1)),\n        severity_hint: ['low', 'medium', 'high'].includes(sev) ? sev : 'medium',\n        example_comments: sanitizeArrOfStr(c?.example_comments, 3, 500)\n      };\n    });\n    const topic_suggestions = sanitizeArrOfObj(parsed.topic_suggestions, 5, (t) => {\n      const title = sanitizeStr(t?.suggested_title, 300);\n      if (!title) return null;\n      return {\n        suggested_title: title,\n        seed_question: sanitizeStr(t?.seed_question, 500),\n        demand_signal: Math.max(0, Math.min(100, Math.round(Number(t?.demand_signal) || 50)))\n      };\n    });\n    const frequent_objections = sanitizeArrOfObj(parsed.frequent_objections, 5, (o) => {\n      const obj = sanitizeStr(o?.objection, 500);\n      if (!obj) return null;\n      return {\n        objection: obj,\n        counter_angle_needed: sanitizeStr(o?.counter_angle_needed, 500)\n      };\n    });\n\n    let vocab = String(parsed.vocabulary_level || '').toLowerCase().trim();\n    if (!['beginner', 'intermediate', 'advanced', 'mixed'].includes(vocab)) vocab = 'mixed';\n\n    const dominantRaw = parsed.dominant_persona_traits || {};\n    const dominant_persona_traits = {\n      prior_knowledge_hints: sanitizeArrOfStr(dominantRaw.prior_knowledge_hints, 10, 200),\n      geographic_hints: sanitizeArrOfStr(dominantRaw.geographic_hints, 10, 100),\n      interests: sanitizeArrOfStr(dominantRaw.interests, 10, 100)\n    };\n\n    const assumed_prior_knowledge = sanitizeArrOfStr(parsed.assumed_prior_knowledge, 10, 300);\n\n    insightsRow = {\n      project_id: projectId,\n      week_of: weekOfDate,\n      comments_analyzed: totalAnalyzed,\n      questions_count: byClass.question,\n      complaints_count: byClass.complaint,\n      praise_count: byClass.praise,\n      suggestions_count: byClass.suggestion,\n      noise_count: byClass.noise,\n      recurring_questions,\n      content_complaints,\n      topic_suggestions,\n      audience_persona_summary: sanitizeStr(parsed.audience_persona_summary, 2000) || null,\n      dominant_persona_traits,\n      vocabulary_level: vocab,\n      assumed_prior_knowledge,\n      frequent_objections,\n      audience_context_block: sanitizeStr(parsed.audience_context_block, 3000) || null,\n      generated_by: 'claude-opus-4-6',\n      synthesis_cost_usd: opusCostUsd\n    };\n  } else {\n    // Fallback on parse/synthesis failure\n    insightsRow = {\n      project_id: projectId,\n      week_of: weekOfDate,\n      comments_analyzed: totalAnalyzed,\n      questions_count: byClass.question,\n      complaints_count: byClass.complaint,\n      praise_count: byClass.praise,\n      suggestions_count: byClass.suggestion,\n      noise_count: byClass.noise,\n      recurring_questions: [],\n      content_complaints: [],\n      topic_suggestions: [],\n      audience_persona_summary: null,\n      dominant_persona_traits: { prior_knowledge_hints: [], geographic_hints: [], interests: [] },\n      vocabulary_level: 'mixed',\n      assumed_prior_knowledge: [],\n      frequent_objections: [],\n      audience_context_block: 'Audience intelligence synthesis failed this week. Rerun via /webhook/audience/intelligence when ready.',\n      generated_by: 'claude-opus-4-6',\n      synthesis_cost_usd: opusCostUsd\n    };\n  }\n\n  // ───── 6. UPSERT audience_insights ─────\n  let upsertStatus = 'ok';\n  try {\n    const upRes = await fetch(`${supabaseUrl}/rest/v1/audience_insights?on_conflict=project_id,week_of`, {\n      method: 'POST',\n      headers: { ...sbHeaders, 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n      body: JSON.stringify(insightsRow)\n    });\n    if (!upRes.ok) upsertStatus = `insights_upsert HTTP ${upRes.status}: ${(await upRes.text()).slice(0, 200)}`;\n  } catch (e) { upsertStatus = `insights_upsert threw: ${e.message}`; }\n\n  // ───── 7. Log opus_synthesis ─────\n  const synthesisStatusLog = synthRes.ok && upsertStatus === 'ok' ? 'success' : (upsertStatus === 'ok' ? 'partial' : 'error');\n  await logProduction('opus_synthesis', synthesisStatusLog, opusDuration, opusCostUsd, synthRes.retries || 0);\n\n  return {\n    json: {\n      success: upsertStatus === 'ok' && synthRes.ok,\n      project_id: projectId,\n      week_of: weekOfDate,\n      new_comments_inserted: newCommentsInserted,\n      comments_classified_this_run: classifiedCount,\n      unclassified_batch_size: unclassified.length,\n      videos_fetched: videosFetched,\n      youtube_aborted_quota: youtubeAbortedQuota,\n      weekly_comments_analyzed: totalAnalyzed,\n      by_class: byClass,\n      synthesis_ok: synthRes.ok,\n      synthesis_error: synthRes.ok ? null : synthRes.error,\n      upsert_status: upsertStatus,\n      haiku_cost_usd: Math.round(haikuCostUsd * 10000) / 10000,\n      opus_cost_usd: opusCostUsd,\n      total_cost_usd: Math.round((haikuCostUsd + opusCostUsd) * 10000) / 10000,\n      duration_ms: Date.now() - runStart,\n      via_webhook: data.via_webhook\n    }\n  };\n} catch (e) {\n  await logProduction('project_error', 'error', Date.now() - runStart, 0, 0);\n  return {\n    json: {\n      success: false,\n      project_id: projectId,\n      week_of: weekOfDate,\n      error: e.message,\n      via_webhook: data.via_webhook\n    }\n  };\n}"
      }
    },
    {
      "id": "code-audience-summary",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 310],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate per-project results into a single webhook response.\nconst items = $input.all().map(i => i.json || {});\n\n// Top-level envelope (nothing to process)\nif (items.length === 1 && items[0].skipped && !items[0].project_id) {\n  return [{ json: { ...items[0], http_status: 200 } }];\n}\n\nconst projectsTotal = items.length;\nconst projectsSucceeded = items.filter(r => r.success === true).length;\nconst projectsSkipped = items.filter(r => r.skipped === true).length;\nconst projectsFailed = items.filter(r => r.success === false && !r.skipped).length;\n\nconst totalComments = items.reduce((a, r) => a + (Number(r.new_comments_inserted) || 0), 0);\nconst totalClassified = items.reduce((a, r) => a + (Number(r.comments_classified_this_run) || 0), 0);\nconst totalHaikuCost = items.reduce((a, r) => a + (Number(r.haiku_cost_usd) || 0), 0);\nconst totalOpusCost = items.reduce((a, r) => a + (Number(r.opus_cost_usd) || 0), 0);\nconst totalCost = Math.round((totalHaikuCost + totalOpusCost) * 10000) / 10000;\n\nconst viaWebhook = items.some(r => r.via_webhook === true);\nconst weekOf = items.find(r => r.week_of)?.week_of || null;\n\nreturn [{\n  json: {\n    success: projectsSucceeded > 0 || projectsSkipped === projectsTotal,\n    week_of: weekOf,\n    projects_total: projectsTotal,\n    projects_succeeded: projectsSucceeded,\n    projects_skipped: projectsSkipped,\n    projects_failed: projectsFailed,\n    total_new_comments_inserted: totalComments,\n    total_comments_classified: totalClassified,\n    total_haiku_cost_usd: Math.round(totalHaikuCost * 10000) / 10000,\n    total_opus_cost_usd: Math.round(totalOpusCost * 10000) / 10000,\n    total_cost_usd: totalCost,\n    per_project: items.map(r => ({\n      project_id: r.project_id,\n      success: r.success === true,\n      skipped: r.skipped === true,\n      skip_reason: r.skip_reason || null,\n      new_comments_inserted: r.new_comments_inserted || 0,\n      comments_classified_this_run: r.comments_classified_this_run || 0,\n      weekly_comments_analyzed: r.weekly_comments_analyzed || 0,\n      synthesis_ok: r.synthesis_ok === true,\n      by_class: r.by_class || null,\n      total_cost_usd: r.total_cost_usd || 0,\n      error: r.error || r.synthesis_error || null,\n      upsert_status: r.upsert_status || null\n    })),\n    via_webhook: viaWebhook,\n    finished_at: new Date().toISOString(),\n    http_status: 200\n  }\n}];"
      }
    },
    {
      "id": "respond-audience",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 310],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Normalize + Scope Projects", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Normalize + Scope Projects", "type": "main", "index": 0 }]]
    },
    "Normalize + Scope Projects": {
      "main": [[{ "node": "Process Audience Intelligence", "type": "main", "index": 0 }]]
    },
    "Process Audience Intelligence": {
      "main": [[{ "node": "Run Summary", "type": "main", "index": 0 }]]
    },
    "Run Summary": {
      "main": [[{ "node": "Respond To Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "executionTimeout": 3600,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "tags": []
}
