workflows/WF_ANALYTICS_CRON.json
{
  "name": "WF_ANALYTICS_CRON",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 6AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analytics/refresh",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Manual Refresh Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        496
      ],
      "webhookId": "809aeb83-e8df-4824-ab7e-0544dc824906"
    },
    {
      "parameters": {
        "jsCode": "// Normalize input from either trigger\nconst body = $input.first().json?.body || $input.first().json || {};\nconst projectId = body.project_id || null;\nreturn [{ json: { projectId, source: projectId ? 'webhook' : 'cron' } }];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,youtube_video_id,status,published_at,project_id,seo_title,topic_number"
            },
            {
              "name": "youtube_video_id",
              "value": "not.is.null"
            },
            {
              "name": "order",
              "value": "topic_number.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-published-topics",
      "name": "Fetch Published Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,youtube_video_id,status,published_at,project_id,seo_title,topic_number"
            },
            {
              "name": "youtube_video_id",
              "value": "not.is.null"
            },
            {
              "name": "project_id",
              "value": "eq.{{$json.projectId}}"
            },
            {
              "name": "order",
              "value": "topic_number.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-project-topics",
      "name": "Fetch Project Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$('Normalize Input').item.json.projectId}}",
              "operation": "isEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "has-project-filter",
      "name": "Has Project Filter?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle private-to-public transitions for scheduled and over-quota videos\nconst topics = $input.first().json;\nconst allTopics = Array.isArray(topics) ? topics : [];\nconst now = new Date();\n\n// Find scheduled videos whose publish time has passed\nconst transitionCandidates = allTopics.filter(t => {\n  if (t.status === 'scheduled' && t.published_at) {\n    return new Date(t.published_at) <= now;\n  }\n  // Also catch videos stuck in 'publishing' (over-quota private uploads)\n  if (t.status === 'publishing') {\n    return true;\n  }\n  return false;\n});\n\n// Collect video IDs for analytics pull (all topics with youtube_video_id)\nconst videoIds = allTopics\n  .filter(t => t.youtube_video_id)\n  .map(t => t.youtube_video_id);\n\nreturn [{\n  json: {\n    allTopics,\n    transitionCandidates,\n    transitionCount: transitionCandidates.length,\n    videoIds,\n    videoIdString: videoIds.join(','),\n    totalVideos: videoIds.length\n  }\n}];"
      },
      "id": "process-topics",
      "name": "Process Topics & Transitions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.transitionCount}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "has-transitions",
      "name": "Has Transitions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split transition candidates into individual items\nconst { transitionCandidates } = $('Process Topics & Transitions').first().json;\nreturn transitionCandidates.map(t => ({ json: t }));"
      },
      "id": "split-transitions",
      "name": "Split Transitions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        208
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.googleapis.com/youtube/v3/videos?part=status",
        "authentication": "oAuth2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={\"id\": \"{{$json.youtube_video_id}}\", \"status\": {\"privacyStatus\": \"public\"}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "youtube-set-public",
      "name": "YouTube Set Public",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{$('Split Transitions').item.json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\", \"published_at\": \"{{ new Date().toISOString() }}\" }",
        "options": {}
      },
      "id": "update-transition-status",
      "name": "Update Transition Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$('Process Topics & Transitions').first().json.totalVideos}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "has-videos",
      "name": "Has Videos to Analyze?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build YouTube Analytics API request parameters\nconst { videoIdString, allTopics } = $('Process Topics & Transitions').first().json;\n\nconst now = new Date();\nconst ninetyDaysAgo = new Date(now.getTime() - 90 * 24 * 60 * 60 * 1000);\n\nconst startDate = ninetyDaysAgo.toISOString().split('T')[0];\nconst endDate = now.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    startDate,\n    endDate,\n    videoIdString,\n    allTopics,\n    analyticsUrl: `https://youtubeanalytics.googleapis.com/v2/reports?ids=channel==MINE&startDate=${startDate}&endDate=${endDate}&metrics=views,estimatedMinutesWatched,averageViewDuration,averageViewPercentage,likes,comments,subscribersGained,estimatedRevenue,cpm,impressions&dimensions=video&filters=video==${videoIdString}&sort=-views`\n  }\n}];"
      },
      "id": "build-analytics-query",
      "name": "Build Analytics Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{$json.analyticsUrl}}",
        "authentication": "oAuth2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "youtube-analytics-api",
      "name": "YouTube Analytics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse YouTube Analytics response and map to topic updates\nconst response = $input.first().json;\nconst allTopics = $('Build Analytics Query').first().json.allTopics;\n\n// Handle API errors (403 scope issue, empty results, etc.)\nif (response.error) {\n  const errorCode = response.error.code || 'unknown';\n  const errorMsg = response.error.message || JSON.stringify(response.error);\n  return [{\n    json: {\n      updates: [],\n      videosUpdated: 0,\n      error: true,\n      errorCode,\n      errorMessage: errorMsg,\n      scopeWarning: errorCode === 403 ? 'YouTube OAuth2 credential requires yt-analytics.readonly scope' : null\n    }\n  }];\n}\n\nconst rows = response.rows || [];\nif (rows.length === 0) {\n  return [{ json: { updates: [], videosUpdated: 0, error: false } }];\n}\n\n// Column order: videoId, views, estimatedMinutesWatched, averageViewDuration,\n// averageViewPercentage, likes, comments, subscribersGained, estimatedRevenue, cpm, impressions\nconst updates = rows.map(row => {\n  const [videoId, views, watchMinutes, avgDuration, avgPct, likes, comments, subsGained, revenue, cpm, impressions] = row;\n\n  // Find matching topic\n  const topic = allTopics.find(t => t.youtube_video_id === videoId);\n  if (!topic) return null;\n\n  // Format avgDuration (seconds) as M:SS\n  const durationMin = Math.floor(avgDuration / 60);\n  const durationSec = Math.round(avgDuration % 60);\n  const avgViewDuration = `${durationMin}:${String(durationSec).padStart(2, '0')}`;\n\n  // Compute CTR: views / impressions * 100\n  const ctr = impressions > 0 ? Math.round((views / impressions) * 10000) / 100 : 0;\n\n  return {\n    topicId: topic.id,\n    youtubeVideoId: videoId,\n    yt_views: views,\n    yt_watch_hours: Math.round((watchMinutes / 60) * 100) / 100,\n    yt_avg_view_duration: avgViewDuration,\n    yt_avg_view_pct: Math.round(avgPct * 100) / 100,\n    yt_ctr: ctr,\n    yt_impressions: impressions,\n    yt_likes: likes,\n    yt_comments: comments,\n    yt_subscribers_gained: subsGained,\n    yt_estimated_revenue: Math.round(revenue * 100) / 100,\n    yt_actual_cpm: Math.round(cpm * 100) / 100\n  };\n}).filter(Boolean);\n\nreturn [{ json: { updates, videosUpdated: updates.length, error: false } }];"
      },
      "id": "parse-analytics",
      "name": "Parse Analytics Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.videosUpdated}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "has-updates",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split updates into individual items for batch write\nconst { updates } = $('Parse Analytics Response').first().json;\nreturn updates.map(u => ({ json: u }));"
      },
      "id": "split-updates",
      "name": "Split Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        472
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{$json.topicId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"yt_views\": {{$json.yt_views}},\n  \"yt_watch_hours\": {{$json.yt_watch_hours}},\n  \"yt_avg_view_duration\": \"{{$json.yt_avg_view_duration}}\",\n  \"yt_avg_view_pct\": {{$json.yt_avg_view_pct}},\n  \"yt_ctr\": {{$json.yt_ctr}},\n  \"yt_impressions\": {{$json.yt_impressions}},\n  \"yt_likes\": {{$json.yt_likes}},\n  \"yt_comments\": {{$json.yt_comments}},\n  \"yt_subscribers_gained\": {{$json.yt_subscribers_gained}},\n  \"yt_estimated_revenue\": {{$json.yt_estimated_revenue}},\n  \"yt_actual_cpm\": {{$json.yt_actual_cpm}},\n  \"yt_last_updated\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "write-analytics",
      "name": "Write Analytics to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        472
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"analytics\",\n  \"action\": \"completed\",\n  \"details\": {\n    \"videos_updated\": {{$('Parse Analytics Response').first().json.videosUpdated || 0}},\n    \"transitions\": {{$('Process Topics & Transitions').first().json.transitionCount || 0}},\n    \"source\": \"{{$('Normalize Input').first().json.source}}\",\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "id": "log-completion",
      "name": "Log Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        472
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build response for webhook trigger\nconst videosUpdated = $('Parse Analytics Response').first()?.json?.videosUpdated || 0;\nconst transitionCount = $('Process Topics & Transitions').first()?.json?.transitionCount || 0;\nconst error = $('Parse Analytics Response').first()?.json?.error || false;\nconst scopeWarning = $('Parse Analytics Response').first()?.json?.scopeWarning || null;\n\nreturn [{\n  json: {\n    success: !error,\n    videos_updated: videosUpdated,\n    transitions: transitionCount,\n    ...(scopeWarning ? { warning: scopeWarning } : {}),\n    ...(error ? { error: $('Parse Analytics Response').first()?.json?.errorMessage } : {})\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3360,
        472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"analytics\",\n  \"action\": \"failed\",\n  \"details\": {\n    \"error\": \"{{$json.errorMessage || 'Unknown error'}}\",\n    \"source\": \"{{$('Normalize Input').first().json.source}}\",\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        888
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// No videos to analyze — skip analytics pull\nreturn [{ json: { updates: [], videosUpdated: 0, error: false } }];"
      },
      "id": "no-videos-skip",
      "name": "No Videos — Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        664
      ]
    },
    {
      "id": "588c801c-8eb5-4763-98ca-21483b5eebd1",
      "name": "AU Retention Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        632
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// AU Retention Analysis — Day-7+ analyzer for published AU videos\n// Runs after the daily analytics write. Picks up to 10 AU topics with:\n//   country_target = 'AU'\n//   yt_views > 0  (analytics ran at least once)\n//   published_at < now() - 7 days\n//   next_video_directives IS NULL  (not yet analysed)\n// Calls Claude Haiku with retention_analyze_au prompt + topic metadata +\n// aggregate metrics + script chapter snapshot. Writes the result back\n// to topics.next_video_directives. Failures are non-fatal — they're\n// recorded in the per-topic results array and the workflow proceeds to\n// Build Response unchanged. Costs ~$0.005/topic at Haiku rates.\n\nconst SB = $env.SUPABASE_URL;\nconst SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst ANON = $env.SUPABASE_ANON_KEY;\nconst AK = $env.ANTHROPIC_API_KEY;\nconst sbHeaders = { apikey: ANON || SRK, Authorization: 'Bearer ' + SRK, 'Content-Type': 'application/json' };\n\nconst upstream = ($input && $input.first && $input.first().json) || {};\n\n// 1. Discover candidates\nconst cutoffIso = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString();\nconst candUrl = `${SB}/rest/v1/topics?country_target=eq.AU&yt_views=gt.0&published_at=lt.${cutoffIso}&next_video_directives=is.null&select=id,seo_title,niche_variant,published_at,yt_avg_view_pct,yt_views,yt_watch_hours,script_json&limit=10`;\n\nlet topics = [];\ntry {\n  const r = await fetch(candUrl, { headers: sbHeaders });\n  if (r.ok) topics = await r.json();\n} catch (e) {\n  return [{ json: { ...upstream, au_retention: { status: 'fetch_error', count: 0, error: String(e && e.message || e) } } }];\n}\n\nif (!Array.isArray(topics) || topics.length === 0) {\n  return [{ json: { ...upstream, au_retention: { status: 'nothing_to_analyze', count: 0 } } }];\n}\n\n// 2. Fetch the prompt once\nlet promptText = '';\ntry {\n  const pr = await fetch(`${SB}/rest/v1/system_prompts?prompt_type=eq.retention_analyze_au&is_active=eq.true&select=prompt_text`, { headers: sbHeaders });\n  if (pr.ok) {\n    const rows = await pr.json();\n    promptText = (Array.isArray(rows) && rows[0] && rows[0].prompt_text) || '';\n  }\n} catch (_) {}\nif (!promptText) {\n  return [{ json: { ...upstream, au_retention: { status: 'prompt_missing', count: 0 } } }];\n}\n\n// 3. Per-topic: build user message, call Claude, write next_video_directives\nfunction summariseScript(sj) {\n  let scenes = [];\n  try {\n    if (typeof sj === 'string') {\n      try { sj = JSON.parse(sj); } catch (_) { return ''; }\n    }\n    if (Array.isArray(sj)) scenes = sj;\n    else if (sj && Array.isArray(sj.scenes)) scenes = sj.scenes;\n    else if (sj && Array.isArray(sj.combined_scenes)) scenes = sj.combined_scenes;\n  } catch (_) { return ''; }\n  if (!scenes.length) return '';\n  return scenes.slice(0, 30).map((s, i) => {\n    const text = (s && (s.narration_text || s.narration || '')) || '';\n    return `Scene ${i + 1}: ${String(text).slice(0, 100).replace(/\\s+/g, ' ').trim()}`;\n  }).join('\\n');\n}\n\nconst results = [];\nfor (const t of topics) {\n  const chapters = summariseScript(t.script_json) || '(script_json not parseable)';\n  const userMsg = [\n    '[VIDEO METADATA]',\n    `Title: ${t.seo_title || '(unknown)'}`,\n    `Sub-niche: ${t.niche_variant || '(unset)'}`,\n    `Published: ${t.published_at || '(unknown)'}`,\n    '',\n    '[AGGREGATE METRICS]',\n    `Avg view %: ${t.yt_avg_view_pct == null ? 'unknown' : t.yt_avg_view_pct}`,\n    `Views: ${t.yt_views == null ? 0 : t.yt_views}`,\n    `Watch hours: ${t.yt_watch_hours == null ? 0 : t.yt_watch_hours}`,\n    '',\n    '[SCRIPT — first 30 scenes (narration excerpts)]',\n    chapters,\n    '',\n    '[TASK]',\n    'Per the retention_analyze_au system prompt, infer hook strength, drop-off hypotheses, AU disclaimer placement issues, and surge moments. We do NOT have per-second retention curves — reason from aggregate metrics + script structure + known AU patterns. Return ONLY this JSON shape, no markdown:',\n    '{',\n    '  \"diagnosis\": [\"weak_hook\" | \"setup_too_slow\" | \"pacing_lull\" | \"retention_cliff\" | \"cta_chasm\" | \"disclaimer_drop\"],',\n    '  \"drop_off_hypotheses\": [{\"scene_range\": \"1-5\", \"reason\": \"...\"}],',\n    '  \"surge_hypotheses\": [{\"scene_range\": \"...\", \"reason\": \"...\"}],',\n    '  \"next_video_directives\": [{\"action\": \"...\", \"rationale\": \"...\", \"priority\": \"high\" | \"med\" | \"low\"}],',\n    '  \"au_specific_notes\": \"...\"',\n    '}'\n  ].join('\\n');\n\n  let analysis = null;\n  let claudeErr = null;\n  try {\n    const cr = await fetch('https://api.anthropic.com/v1/messages', {\n      method: 'POST',\n      headers: { 'x-api-key': AK, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n      body: JSON.stringify({\n        model: 'claude-haiku-4-5-20251001',\n        max_tokens: 2000,\n        system: promptText,\n        messages: [{ role: 'user', content: userMsg }]\n      })\n    });\n    if (!cr.ok) {\n      claudeErr = `HTTP ${cr.status}: ${(await cr.text()).slice(0, 200)}`;\n    } else {\n      const cd = await cr.json();\n      const txt = (cd.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n      const m = txt.match(/\\{[\\s\\S]*\\}/);\n      if (m) {\n        try { analysis = JSON.parse(m[0]); } catch (e) { claudeErr = 'json_parse_failed: ' + e.message; }\n      } else {\n        claudeErr = 'no_json_in_response';\n      }\n    }\n  } catch (e) {\n    claudeErr = String(e && e.message || e);\n  }\n\n  if (!analysis) {\n    results.push({ topic_id: t.id, status: 'analyze_failed', error: claudeErr });\n    continue;\n  }\n\n  try {\n    const pr = await fetch(`${SB}/rest/v1/topics?id=eq.${t.id}`, {\n      method: 'PATCH',\n      headers: { ...sbHeaders, Prefer: 'return=minimal' },\n      body: JSON.stringify({ next_video_directives: analysis })\n    });\n    if (!pr.ok) {\n      results.push({ topic_id: t.id, status: 'patch_failed', error: `HTTP ${pr.status}` });\n      continue;\n    }\n    results.push({ topic_id: t.id, status: 'updated' });\n  } catch (e) {\n    results.push({ topic_id: t.id, status: 'patch_failed', error: String(e && e.message || e) });\n  }\n}\n\nreturn [{ json: { ...upstream, au_retention: { status: 'completed', count: results.length, results } } }];\n"
      }
    }
  ],
  "connections": {
    "Daily 6AM UTC": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Refresh Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Project Filter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Project Filter?": {
      "main": [
        [
          {
            "node": "Fetch Published Topics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Project Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Published Topics": {
      "main": [
        [
          {
            "node": "Process Topics & Transitions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Topics": {
      "main": [
        [
          {
            "node": "Process Topics & Transitions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Topics & Transitions": {
      "main": [
        [
          {
            "node": "Has Transitions?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Videos to Analyze?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transitions?": {
      "main": [
        [
          {
            "node": "Split Transitions",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Transitions": {
      "main": [
        [
          {
            "node": "YouTube Set Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Set Public": {
      "main": [
        [
          {
            "node": "Update Transition Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Videos to Analyze?": {
      "main": [
        [
          {
            "node": "Build Analytics Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Videos — Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analytics Query": {
      "main": [
        [
          {
            "node": "YouTube Analytics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Analytics API": {
      "main": [
        [
          {
            "node": "Parse Analytics Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analytics Response": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Split Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Updates": {
      "main": [
        [
          {
            "node": "Write Analytics to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Analytics to Supabase": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Completion": {
      "main": [
        [
          {
            "node": "AU Retention Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Videos — Skip": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AU Retention Analysis": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
