workflows/WF_CAPTIONS_ASSEMBLY.json
{
  "name": "WF_CAPTIONS_ASSEMBLY",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "production/assembly",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-assembly-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "production-assembly-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-assembly",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-auth-assembly",
      "name": "Check Auth Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $('Webhook Trigger').item.json.body.topic_id, message: 'Assembly workflow started' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-accepted",
      "name": "Respond Assembly Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Webhook Trigger').item.json.body.topic_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'assembling', assembly_status: 'in_progress', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-status-assembling",
      "name": "Update Status Assembling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "topic_id", "value": "=eq.{{ $('Webhook Trigger').item.json.body.topic_id }}" },
            { "name": "order", "value": "scene_number.asc" },
            { "name": "select", "value": "id,topic_id,project_id,scene_number,scene_id,narration_text,visual_type,audio_duration_ms,audio_file_url,audio_file_drive_id,image_url,image_drive_id,video_url,video_drive_id,start_time_ms,end_time_ms,skipped,skip_reason,audio_status,image_status,video_status" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "load-all-scenes",
      "name": "Load All Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Webhook Trigger').item.json.body.topic_id }}" },
            { "name": "select", "value": "id,project_id,topic_number,seo_title,drive_folder_id,drive_subfolder_ids" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "load-topic",
      "name": "Load Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Load Topic').item.json[0]?.project_id || $('Load All Scenes').item.json[0]?.project_id, topic_id: $('Webhook Trigger').item.json.body.topic_id, stage: 'assembly', action: 'started', details: { total_scenes: $('Load All Scenes').item.json.length } }) }}",
        "options": {}
      },
      "id": "log-assembly-started",
      "name": "Log Assembly Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate SRT captions from scene timeline data\nconst scenes = $('Load All Scenes').first().json;\nconst topic = $('Load Topic').first().json;\nconst topicData = Array.isArray(topic) ? topic[0] : topic;\nconst topicId = topicData.id || $('Webhook Trigger').item.json.body.topic_id;\nconst topicTitle = (topicData.seo_title || 'video').replace(/[^a-zA-Z0-9_\\- ]/g, '').substring(0, 80);\n\nconst allScenes = Array.isArray(scenes) ? scenes : [scenes];\n\n// Helper: convert milliseconds to SRT timestamp format HH:MM:SS,mmm\nfunction msToSrt(ms) {\n  const totalSeconds = Math.floor(ms / 1000);\n  const hours = Math.floor(totalSeconds / 3600);\n  const minutes = Math.floor((totalSeconds % 3600) / 60);\n  const seconds = totalSeconds % 60;\n  const millis = ms % 1000;\n  return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')},${String(millis).padStart(3, '0')}`;\n}\n\nlet srtEntries = [];\nlet sequenceNum = 1;\nlet skippedCount = 0;\nlet totalDurationMs = 0;\n\nfor (const scene of allScenes) {\n  const startMs = scene.start_time_ms || 0;\n  const endMs = scene.end_time_ms || (startMs + (scene.audio_duration_ms || 0));\n  const durationMs = scene.audio_duration_ms || (endMs - startMs);\n  \n  if (endMs > totalDurationMs) totalDurationMs = endMs;\n\n  if (scene.skipped) {\n    // Include skipped scenes with marker text\n    srtEntries.push(`${sequenceNum}\\n${msToSrt(startMs)} --> ${msToSrt(endMs)}\\n[Scene skipped]\\n`);\n    sequenceNum++;\n    skippedCount++;\n    continue;\n  }\n\n  if (scene.narration_text && scene.narration_text.trim()) {\n    srtEntries.push(`${sequenceNum}\\n${msToSrt(startMs)} --> ${msToSrt(endMs)}\\n${scene.narration_text.trim()}\\n`);\n    sequenceNum++;\n  }\n}\n\nconst srtContent = srtEntries.join('\\n');\n\n// Build scene processing list for clip building\nconst sceneList = allScenes.map(s => ({\n  id: s.id,\n  scene_number: s.scene_number,\n  scene_id: s.scene_id,\n  visual_type: s.visual_type,\n  audio_duration_ms: s.audio_duration_ms || 0,\n  audio_file_url: s.audio_file_url,\n  audio_file_drive_id: s.audio_file_drive_id,\n  image_url: s.image_url,\n  image_drive_id: s.image_drive_id,\n  video_url: s.video_url,\n  video_drive_id: s.video_drive_id,\n  skipped: s.skipped || false,\n  padded_num: String(s.scene_number).padStart(3, '0')\n}));\n\nreturn [{\n  json: {\n    topic_id: topicId,\n    project_id: topicData.project_id || allScenes[0]?.project_id,\n    topic_title: topicTitle,\n    topic_number: topicData.topic_number,\n    drive_folder_id: topicData.drive_folder_id,\n    drive_subfolder_ids: topicData.drive_subfolder_ids,\n    srt_content: srtContent,\n    srt_entry_count: sequenceNum - 1,\n    scene_list: sceneList,\n    total_scenes: sceneList.length,\n    skipped_count: skippedCount,\n    total_duration_ms: totalDurationMs,\n    clips_built: 0,\n    clips_failed: 0\n  }\n}];"
      },
      "id": "generate-srt-and-prepare",
      "name": "Generate SRT and Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "command": "=mkdir -p /tmp/production/{{ $json.topic_id }}/clips /tmp/production/{{ $json.topic_id }}/captions /tmp/production/{{ $json.topic_id }}/final /tmp/production/{{ $json.topic_id }}/audio /tmp/production/{{ $json.topic_id }}/images /tmp/production/{{ $json.topic_id }}/video_clips && echo '{{ $json.srt_content.replace(/'/g, \"'\\''\") }}' > '/tmp/production/{{ $json.topic_id }}/captions/{{ $json.topic_title }}.srt' && echo 'Directories created and SRT written'"
      },
      "id": "create-dirs-write-srt",
      "name": "Create Dirs and Write SRT",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "jsCode": "// Write SRT file using Node.js fs for reliability (handles special chars)\nconst fs = require('fs');\nconst path = require('path');\nconst data = $('Generate SRT and Prepare').first().json;\n\nconst srtDir = `/tmp/production/${data.topic_id}/captions`;\nfs.mkdirSync(srtDir, { recursive: true });\nfs.writeFileSync(path.join(srtDir, `${data.topic_title}.srt`), data.srt_content, 'utf8');\n\n// Also create all needed directories\nconst dirs = ['clips', 'final', 'audio', 'images', 'video_clips'];\nfor (const dir of dirs) {\n  fs.mkdirSync(`/tmp/production/${data.topic_id}/${dir}`, { recursive: true });\n}\n\nreturn [{ json: { ...data, srt_path: path.join(srtDir, `${data.topic_title}.srt`) } }];"
      },
      "id": "write-srt-file",
      "name": "Write SRT File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "jsCode": "// Convert scene_list to individual items for SplitInBatches\nconst data = $input.first().json;\nconst items = data.scene_list.map(scene => ({\n  json: {\n    ...scene,\n    topic_id: data.topic_id,\n    project_id: data.project_id,\n    topic_title: data.topic_title,\n    total_scenes: data.total_scenes\n  }\n}));\nreturn items;"
      },
      "id": "expand-scene-list",
      "name": "Expand Scene List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "id": "loop-scenes-clips",
      "name": "Loop Scene Clips",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Determine the FFmpeg command for this scene based on visual_type and skipped status\nconst scene = $input.first().json;\nconst topicId = scene.topic_id;\nconst padded = scene.padded_num;\nconst durationSec = (scene.audio_duration_ms / 1000).toFixed(3);\n\nconst audioPath = `/tmp/production/${topicId}/audio/scene_${padded}.mp3`;\nconst imagePath = `/tmp/production/${topicId}/images/scene_${padded}.png`;\nconst videoPath = `/tmp/production/${topicId}/video_clips/scene_${padded}.mp4`;\nconst outputPath = `/tmp/production/${topicId}/clips/scene_${padded}.mp4`;\n\nlet ffmpegCmd = '';\nlet needsDownload = { audio: false, image: false, video: false };\n\nif (scene.skipped) {\n  // Black frame with white '[Scene skipped]' text\n  ffmpegCmd = `ffmpeg -y -f lavfi -i color=c=black:s=1920x1080:r=30:d=${durationSec} -i ${audioPath} -vf \"drawtext=text='[Scene skipped]':fontcolor=white:fontsize=48:x=(w-text_w)/2:y=(h-text_h)/2\" -c:v libx264 -preset fast -crf 23 -pix_fmt yuv420p -c:a aac -b:a 128k -r 30 -t ${durationSec} -movflags +faststart ${outputPath}`;\n  needsDownload.audio = true;\n} else if (scene.visual_type === 'static_image') {\n  // Static image displayed for audio duration\n  ffmpegCmd = `ffmpeg -y -loop 1 -i ${imagePath} -i ${audioPath} -c:v libx264 -preset fast -crf 23 -pix_fmt yuv420p -c:a aac -b:a 128k -vf \"scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2\" -r 30 -t ${durationSec} -movflags +faststart ${outputPath}`;\n  needsDownload.audio = true;\n  needsDownload.image = true;\n} else if (scene.visual_type === 'i2v' || scene.visual_type === 't2v') {\n  // Video scene - loop if audio > 5s, trim if <= 5s\n  if (scene.audio_duration_ms > 5000) {\n    ffmpegCmd = `ffmpeg -y -stream_loop -1 -i ${videoPath} -i ${audioPath} -c:v libx264 -preset fast -crf 23 -pix_fmt yuv420p -c:a aac -b:a 128k -vf \"scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2\" -r 30 -t ${durationSec} -movflags +faststart ${outputPath}`;\n  } else {\n    ffmpegCmd = `ffmpeg -y -i ${videoPath} -i ${audioPath} -c:v libx264 -preset fast -crf 23 -pix_fmt yuv420p -c:a aac -b:a 128k -vf \"scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2\" -r 30 -t ${durationSec} -movflags +faststart ${outputPath}`;\n  }\n  needsDownload.audio = true;\n  needsDownload.video = true;\n} else {\n  // Fallback: treat as static image\n  ffmpegCmd = `ffmpeg -y -loop 1 -i ${imagePath} -i ${audioPath} -c:v libx264 -preset fast -crf 23 -pix_fmt yuv420p -c:a aac -b:a 128k -vf \"scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2\" -r 30 -t ${durationSec} -movflags +faststart ${outputPath}`;\n  needsDownload.audio = true;\n  needsDownload.image = true;\n}\n\nreturn [{\n  json: {\n    ...scene,\n    ffmpeg_cmd: ffmpegCmd,\n    output_path: outputPath,\n    audio_path: audioPath,\n    image_path: imagePath,\n    video_path: videoPath,\n    needs_download: needsDownload,\n    duration_sec: parseFloat(durationSec)\n  }\n}];"
      },
      "id": "determine-ffmpeg-cmd",
      "name": "Determine FFmpeg Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2670, 300]
    },
    {
      "parameters": {
        "jsCode": "// Download required assets from Google Drive or URLs\n// In n8n, Google Drive downloads happen via Google Drive node or HTTP Request\n// Here we build the download commands for Execute Command\nconst scene = $input.first().json;\nconst needs = scene.needs_download;\nconst topicId = scene.topic_id;\nconst padded = scene.padded_num;\n\nlet downloadCmds = [];\n\nif (needs.audio && scene.audio_file_url) {\n  // Download audio from Drive URL or direct URL\n  downloadCmds.push(`curl -sL -o /tmp/production/${topicId}/audio/scene_${padded}.mp3 \"${scene.audio_file_url}\"`);\n} else if (needs.audio && scene.audio_file_drive_id) {\n  // Download from Google Drive using drive export link\n  downloadCmds.push(`curl -sL -o /tmp/production/${topicId}/audio/scene_${padded}.mp3 \"https://www.googleapis.com/drive/v3/files/${scene.audio_file_drive_id}?alt=media\"`);\n}\n\nif (needs.image && scene.image_url) {\n  downloadCmds.push(`curl -sL -o /tmp/production/${topicId}/images/scene_${padded}.png \"${scene.image_url}\"`);\n} else if (needs.image && scene.image_drive_id) {\n  downloadCmds.push(`curl -sL -o /tmp/production/${topicId}/images/scene_${padded}.png \"https://www.googleapis.com/drive/v3/files/${scene.image_drive_id}?alt=media\"`);\n}\n\nif (needs.video && scene.video_url) {\n  downloadCmds.push(`curl -sL -o /tmp/production/${topicId}/video_clips/scene_${padded}.mp4 \"${scene.video_url}\"`);\n} else if (needs.video && scene.video_drive_id) {\n  downloadCmds.push(`curl -sL -o /tmp/production/${topicId}/video_clips/scene_${padded}.mp4 \"https://www.googleapis.com/drive/v3/files/${scene.video_drive_id}?alt=media\"`);\n}\n\nreturn [{\n  json: {\n    ...scene,\n    download_cmd: downloadCmds.length > 0 ? downloadCmds.join(' && ') : 'echo \"No downloads needed\"'\n  }\n}];"
      },
      "id": "prepare-downloads",
      "name": "Prepare Downloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2890, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.download_cmd }}"
      },
      "id": "download-assets",
      "name": "Download Assets",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3110, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_cmd }}"
      },
      "id": "run-ffmpeg-clip",
      "name": "Build Scene Clip",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3330, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-clip-success",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-clip-success",
      "name": "If Clip Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3550, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Determine FFmpeg Command').item.json.id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ clip_status: 'complete' }) }}",
        "options": {}
      },
      "id": "mark-clip-complete",
      "name": "Mark Clip Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3770, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Determine FFmpeg Command').item.json.id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ clip_status: 'failed' }) }}",
        "options": {}
      },
      "id": "mark-clip-failed",
      "name": "Mark Clip Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3770, 450]
    },
    {
      "parameters": {
        "jsCode": "// Track clip completion/failure counts using workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.clips_built) staticData.clips_built = 0;\nif (!staticData.clips_failed) staticData.clips_failed = 0;\nstaticData.clips_built++;\nreturn [{ json: { clips_built: staticData.clips_built, status: 'complete' } }];"
      },
      "id": "track-clip-success",
      "name": "Track Clip Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3990, 200]
    },
    {
      "parameters": {
        "jsCode": "// Track clip failure count\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.clips_built) staticData.clips_built = 0;\nif (!staticData.clips_failed) staticData.clips_failed = 0;\nstaticData.clips_failed++;\nreturn [{ json: { clips_failed: staticData.clips_failed, status: 'failed', error: $('Build Scene Clip').item.json.stderr || 'FFmpeg error' } }];"
      },
      "id": "track-clip-failure",
      "name": "Track Clip Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3990, 450]
    },
    {
      "parameters": {},
      "id": "continue-loop",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4210, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate concat.txt file listing all scene clips in order\nconst fs = require('fs');\nconst data = $('Write SRT File').first().json;\nconst topicId = data.topic_id;\nconst totalScenes = data.total_scenes;\n\nlet concatLines = [];\nfor (let i = 1; i <= totalScenes; i++) {\n  const padded = String(i).padStart(3, '0');\n  const clipPath = `/tmp/production/${topicId}/clips/scene_${padded}.mp4`;\n  \n  // Only include clips that exist (skip failed ones that weren't built)\n  try {\n    fs.accessSync(clipPath);\n    concatLines.push(`file '${clipPath}'`);\n  } catch (e) {\n    // Clip missing - skip it in concat\n  }\n}\n\nconst concatContent = concatLines.join('\\n');\nconst concatPath = `/tmp/production/${topicId}/concat.txt`;\nfs.writeFileSync(concatPath, concatContent, 'utf8');\n\nreturn [{\n  json: {\n    topic_id: topicId,\n    project_id: data.project_id,\n    topic_title: data.topic_title,\n    concat_path: concatPath,\n    clips_in_concat: concatLines.length,\n    total_scenes: totalScenes,\n    skipped_count: data.skipped_count,\n    srt_path: data.srt_path,\n    drive_folder_id: data.drive_folder_id,\n    drive_subfolder_ids: data.drive_subfolder_ids\n  }\n}];"
      },
      "id": "generate-concat-list",
      "name": "Generate Concat List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4430, 300]
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -f concat -safe 0 -i /tmp/production/{{ $json.topic_id }}/concat.txt -c copy -movflags +faststart /tmp/production/{{ $json.topic_id }}/raw_final.mp4 2>&1 && echo 'CONCAT_SUCCESS' || echo 'CONCAT_FAILED'"
      },
      "id": "concat-video",
      "name": "Concat Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-concat-success",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "CONCAT_SUCCESS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-concat-success",
      "name": "If Concat Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4870, 300]
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i /tmp/production/{{ $('Generate Concat List').item.json.topic_id }}/raw_final.mp4 -af \"loudnorm=I=-16:TP=-1.5:LRA=11\" -c:v copy -movflags +faststart \"/tmp/production/{{ $('Generate Concat List').item.json.topic_id }}/final/{{ $('Generate Concat List').item.json.topic_title }}.mp4\" 2>&1 && echo 'NORMALIZE_SUCCESS' || echo 'NORMALIZE_FAILED'"
      },
      "id": "normalize-audio",
      "name": "Normalize Audio",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5090, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-normalize-success",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "NORMALIZE_SUCCESS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-normalize-success",
      "name": "If Normalize Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [5310, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Generate Concat List').item.json.topic_title }}.mp4",
        "folderId": "={{ $('Generate Concat List').item.json.drive_subfolder_ids?.final || $('Generate Concat List').item.json.drive_folder_id }}",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "upload-video-drive",
      "name": "Upload Video to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [5530, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read the final video file as binary for Google Drive upload\nconst fs = require('fs');\nconst data = $('Generate Concat List').first().json;\nconst finalPath = `/tmp/production/${data.topic_id}/final/${data.topic_title}.mp4`;\n\nconst fileBuffer = fs.readFileSync(finalPath);\nconst binaryData = {\n  data: {\n    data: fileBuffer.toString('base64'),\n    mimeType: 'video/mp4',\n    fileName: `${data.topic_title}.mp4`\n  }\n};\n\nreturn [{ json: { ...data }, binary: binaryData }];"
      },
      "id": "read-final-video",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5530, 200]
    },
    {
      "parameters": {
        "jsCode": "// Read SRT file as binary for Google Drive upload\nconst fs = require('fs');\nconst data = $('Generate Concat List').first().json;\nconst srtPath = data.srt_path;\n\nconst srtBuffer = fs.readFileSync(srtPath);\nconst binaryData = {\n  data: {\n    data: srtBuffer.toString('base64'),\n    mimeType: 'text/plain',\n    fileName: `${data.topic_title}.srt`\n  }\n};\n\nreturn [{ json: { ...data }, binary: binaryData }];"
      },
      "id": "read-srt-file",
      "name": "Read SRT File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5530, 350]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Generate Concat List').item.json.topic_title }}.srt",
        "folderId": "={{ $('Generate Concat List').item.json.drive_subfolder_ids?.captions || $('Generate Concat List').item.json.drive_folder_id }}",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "upload-srt-drive",
      "name": "Upload SRT to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [5750, 350],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-cred",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Generate Concat List').item.json.topic_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'assembled', assembly_status: 'complete', drive_video_url: $('Upload Video to Drive').item.json?.webViewLink || $('Upload Video to Drive').item.json?.id || 'uploaded', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-topic-assembled",
      "name": "Update Topic Assembled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5970, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Generate Concat List').item.json.project_id, topic_id: $('Generate Concat List').item.json.topic_id, stage: 'assembly', action: 'completed', details: { scene_count: $('Generate Concat List').item.json.total_scenes, clips_in_concat: $('Generate Concat List').item.json.clips_in_concat, skipped_count: $('Generate Concat List').item.json.skipped_count } }) }}",
        "options": {}
      },
      "id": "log-assembly-complete",
      "name": "Log Assembly Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6190, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "project_id", "value": "=eq.{{ $('Generate Concat List').item.json.project_id }}" },
            { "name": "status", "value": "=eq.queued" },
            { "name": "order", "value": "topic_number.asc" },
            { "name": "limit", "value": "1" },
            { "name": "select", "value": "id,topic_number,seo_title" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "check-queue-next",
      "name": "Check Queue Next",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6410, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-queued",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-queued",
      "name": "If Has Queued Topic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [6630, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/production/trigger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Check Queue Next').item.json[0].id }) }}",
        "options": {}
      },
      "id": "fire-next-topic",
      "name": "Fire Next Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6850, 100]
    },
    {
      "parameters": {
        "command": "=rm -rf /tmp/production/{{ $('Generate Concat List').item.json.topic_id }}/ && echo 'CLEANUP_DONE'"
      },
      "id": "cleanup-temp",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [6850, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Generate Concat List').item.json.topic_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', assembly_status: 'failed', error_log: 'Concat failed: ' + ($json.stderr || $json.stdout || 'Unknown error'), last_status_change: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "mark-assembly-failed-concat",
      "name": "Mark Assembly Failed (Concat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5090, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Generate Concat List').item.json.project_id, topic_id: $('Generate Concat List').item.json.topic_id, stage: 'assembly', action: 'failed', details: { step: 'concat', error: $json.stderr || $json.stdout || 'Unknown' } }) }}",
        "options": {}
      },
      "id": "log-concat-failure",
      "name": "Log Concat Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5310, 450]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Generate Concat List').item.json.topic_id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', assembly_status: 'failed', error_log: 'Normalization failed: ' + ($json.stderr || $json.stdout || 'Unknown error'), last_status_change: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "mark-assembly-failed-normalize",
      "name": "Mark Assembly Failed (Normalize)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5530, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Generate Concat List').item.json.project_id, topic_id: $('Generate Concat List').item.json.topic_id, stage: 'assembly', action: 'failed', details: { step: 'normalization', error: $json.stderr || $json.stdout || 'Unknown' } }) }}",
        "options": {}
      },
      "id": "log-normalize-failure",
      "name": "Log Normalize Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5750, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Check Auth Token", "type": "main", "index": 0 }]
      ]
    },
    "Check Auth Token": {
      "main": [
        [{ "node": "Respond Assembly Accepted", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Respond Assembly Accepted": {
      "main": [
        [{ "node": "Update Status Assembling", "type": "main", "index": 0 }]
      ]
    },
    "Update Status Assembling": {
      "main": [
        [
          { "node": "Load All Scenes", "type": "main", "index": 0 },
          { "node": "Load Topic", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load All Scenes": {
      "main": [
        [{ "node": "Log Assembly Started", "type": "main", "index": 0 }]
      ]
    },
    "Load Topic": {
      "main": [
        [{ "node": "Log Assembly Started", "type": "main", "index": 0 }]
      ]
    },
    "Log Assembly Started": {
      "main": [
        [{ "node": "Generate SRT and Prepare", "type": "main", "index": 0 }]
      ]
    },
    "Generate SRT and Prepare": {
      "main": [
        [{ "node": "Write SRT File", "type": "main", "index": 0 }]
      ]
    },
    "Write SRT File": {
      "main": [
        [{ "node": "Expand Scene List", "type": "main", "index": 0 }]
      ]
    },
    "Expand Scene List": {
      "main": [
        [{ "node": "Loop Scene Clips", "type": "main", "index": 0 }]
      ]
    },
    "Loop Scene Clips": {
      "main": [
        [{ "node": "Generate Concat List", "type": "main", "index": 0 }],
        [{ "node": "Determine FFmpeg Command", "type": "main", "index": 0 }]
      ]
    },
    "Determine FFmpeg Command": {
      "main": [
        [{ "node": "Prepare Downloads", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Downloads": {
      "main": [
        [{ "node": "Download Assets", "type": "main", "index": 0 }]
      ]
    },
    "Download Assets": {
      "main": [
        [{ "node": "Build Scene Clip", "type": "main", "index": 0 }]
      ]
    },
    "Build Scene Clip": {
      "main": [
        [{ "node": "If Clip Success", "type": "main", "index": 0 }]
      ]
    },
    "If Clip Success": {
      "main": [
        [{ "node": "Mark Clip Complete", "type": "main", "index": 0 }],
        [{ "node": "Mark Clip Failed", "type": "main", "index": 0 }]
      ]
    },
    "Mark Clip Complete": {
      "main": [
        [{ "node": "Track Clip Success", "type": "main", "index": 0 }]
      ]
    },
    "Mark Clip Failed": {
      "main": [
        [{ "node": "Track Clip Failure", "type": "main", "index": 0 }]
      ]
    },
    "Track Clip Success": {
      "main": [
        [{ "node": "Continue Loop", "type": "main", "index": 0 }]
      ]
    },
    "Track Clip Failure": {
      "main": [
        [{ "node": "Continue Loop", "type": "main", "index": 0 }]
      ]
    },
    "Continue Loop": {
      "main": [
        [{ "node": "Loop Scene Clips", "type": "main", "index": 0 }]
      ]
    },
    "Generate Concat List": {
      "main": [
        [{ "node": "Concat Video", "type": "main", "index": 0 }]
      ]
    },
    "Concat Video": {
      "main": [
        [{ "node": "If Concat Success", "type": "main", "index": 0 }]
      ]
    },
    "If Concat Success": {
      "main": [
        [{ "node": "Normalize Audio", "type": "main", "index": 0 }],
        [{ "node": "Mark Assembly Failed (Concat)", "type": "main", "index": 0 }]
      ]
    },
    "Mark Assembly Failed (Concat)": {
      "main": [
        [{ "node": "Log Concat Failure", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Audio": {
      "main": [
        [{ "node": "If Normalize Success", "type": "main", "index": 0 }]
      ]
    },
    "If Normalize Success": {
      "main": [
        [
          { "node": "Read Final Video", "type": "main", "index": 0 },
          { "node": "Read SRT File", "type": "main", "index": 0 }
        ],
        [{ "node": "Mark Assembly Failed (Normalize)", "type": "main", "index": 0 }]
      ]
    },
    "Mark Assembly Failed (Normalize)": {
      "main": [
        [{ "node": "Log Normalize Failure", "type": "main", "index": 0 }]
      ]
    },
    "Read Final Video": {
      "main": [
        [{ "node": "Upload Video to Drive", "type": "main", "index": 0 }]
      ]
    },
    "Upload Video to Drive": {
      "main": [
        [{ "node": "Update Topic Assembled", "type": "main", "index": 0 }]
      ]
    },
    "Read SRT File": {
      "main": [
        [{ "node": "Upload SRT to Drive", "type": "main", "index": 0 }]
      ]
    },
    "Update Topic Assembled": {
      "main": [
        [{ "node": "Log Assembly Complete", "type": "main", "index": 0 }]
      ]
    },
    "Log Assembly Complete": {
      "main": [
        [{ "node": "Check Queue Next", "type": "main", "index": 0 }]
      ]
    },
    "Check Queue Next": {
      "main": [
        [{ "node": "If Has Queued Topic", "type": "main", "index": 0 }]
      ]
    },
    "If Has Queued Topic": {
      "main": [
        [{ "node": "Fire Next Topic", "type": "main", "index": 0 }],
        [{ "node": "Cleanup Temp Files", "type": "main", "index": 0 }]
      ]
    },
    "Fire Next Topic": {
      "main": [
        [{ "node": "Cleanup Temp Files", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "production" },
    { "name": "assembly" },
    { "name": "captions" },
    { "name": "ffmpeg" }
  ],
  "triggerCount": 1,
  "active": false
}