workflows/WF_DASHBOARD_READ.json
{
  "updatedAt": "2026-04-28T15:04:27.980Z",
  "createdAt": "2026-04-21T18:50:19.985Z",
  "id": "E1rnqJAbejG63q5G",
  "name": "WF_DASHBOARD_READ",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-dashboard-read",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        310
      ],
      "parameters": {
        "path": "dashboard/read",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "dashboard-read",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "dispatch-handler",
      "name": "Dispatch Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        310
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// WF_DASHBOARD_READ — Batch 2 of security audit remediation.\n// Single entry point for all dashboard reads. RLS migration 030 locked\n// down every VG table; this workflow is the only authenticated route\n// back in, using service_role from n8n env (never exposed to browser).\n//\n// Contract: POST /webhook/dashboard/read\n// Bearer auth from nginx-injected Authorization header.\n// Body: { query: string, params?: object }\n// Supported queries (10):\n//   - projects_list\n//   - topics_for_project          (params: { project_id })\n//   - topic_detail                (params: { topic_id })\n//   - analytics_summary           (params: { project_id, time_range })\n//   - scene_progress              (params: { topic_id })\n//   - delete_project              (params: { project_id })         <- state-changing\n//   - ab_tests_for_project        (params: { project_id, filter })\n//   - update_ab_test_status       (params: { ab_test_id, status }) <- state-changing\n//   - apply_ab_test_winner        (params: { ab_test_id })         <- state-changing\n//   - sb_query                    (params: { table, action, select, filters[], orders[], limit, single, insertPayload, updatePayload, countOnly, head, preferReturn })\n//       Generic PostgREST proxy for the dashboard supabase-js shim. Table\n//       allowlist enforced server-side. All reads/writes go service_role.\n// Returns: { success, data, error, http_status }\n\nconst raw = $input.first().json;\nconst payload = raw.body || raw;\nconst query = typeof payload.query === 'string' ? payload.query : null;\nconst params = (payload.params && typeof payload.params === 'object') ? payload.params : {};\n\nif (!query) {\n  return [{ json: { success: false, data: null, error: 'query is required', http_status: 400 } }];\n}\n\nconst SUPABASE = $env.SUPABASE_URL;\nconst SB_HEADERS = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json',\n  'Accept-Profile': 'public'\n};\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nasync function sbGet(path) {\n  const res = await fetch(`${SUPABASE}/rest/v1/${path}`, { method: 'GET', headers: SB_HEADERS });\n  if (!res.ok) {\n    const text = await res.text();\n    throw new Error(`HTTP ${res.status}: ${text.slice(0, 300)}`);\n  }\n  return res.json();\n}\n\nfunction err(msg, code) {\n  return { success: false, data: null, error: msg, http_status: code || 400 };\n}\n\nfunction ok(data) {\n  return { success: true, data, error: null, http_status: 200 };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 1. projects_list\n// ────────────────────────────────────────────────────────────────\nasync function projectsList() {\n  // Minimum fields needed for the home grid + project cards.\n  const projFields = [\n    'id','name','niche','niche_description','status','channel_style',\n    'target_video_count','created_at','updated_at',\n    'auto_pilot_enabled','monthly_budget_usd','monthly_spend_usd',\n    'niche_health_score','niche_rpm_category','estimated_rpm_mid',\n    'youtube_channel_id','drive_root_folder_id',\n    // AU overlay fields — required for the country-tab filter on the dashboard\n    'country_target','language','channel_type','parent_project_id','cost_ceiling_usd',\n    'reference_analyses'\n  ].join(',');\n  const projects = await sbGet(`projects?select=${projFields}&order=created_at.desc`);\n  if (!projects || projects.length === 0) return [];\n\n  // Topic summary fields for status computation (matches useProjects.js pre-refactor).\n  const ids = projects.map(p => `\"${p.id}\"`).join(',');\n  const topicFields = [\n    'id','project_id','topic_number','status','review_status',\n    'script_review_status','video_review_status','seo_title',\n    'audio_progress','images_progress','i2v_progress','t2v_progress',\n    'assembly_status','total_cost','yt_estimated_revenue','updated_at'\n  ].join(',');\n  const topics = await sbGet(`topics?select=${topicFields}&project_id=in.(${ids})`);\n  const byProject = {};\n  for (const t of (topics || [])) {\n    if (!byProject[t.project_id]) byProject[t.project_id] = [];\n    byProject[t.project_id].push(t);\n  }\n  return projects.map(p => ({ ...p, topics_summary: byProject[p.id] || [] }));\n}\n\n// ────────────────────────────────────────────────────────────────\n// 2. topics_for_project(project_id)\n// ────────────────────────────────────────────────────────────────\nasync function topicsForProject(project_id) {\n  if (!project_id || !UUID_RE.test(project_id)) {\n    throw new Error('project_id must be a UUID');\n  }\n  // Mirror useTopics.js: select('*, avatars(*)') ordered by topic_number.\n  const path = `topics?select=*,avatars(*)&project_id=eq.${project_id}&order=topic_number.asc`;\n  const rows = await sbGet(path);\n  return rows || [];\n}\n\n// ────────────────────────────────────────────────────────────────\n// 3. topic_detail(topic_id)\n// ────────────────────────────────────────────────────────────────\nasync function topicDetail(topic_id) {\n  if (!topic_id || !UUID_RE.test(topic_id)) {\n    throw new Error('topic_id must be a UUID');\n  }\n  // Return topic + its project (for header) + its avatar (if any). Scenes\n  // come via scene_progress to keep this response compact.\n  const topics = await sbGet(`topics?select=*,avatars(*)&id=eq.${topic_id}`);\n  const topic = (topics && topics[0]) || null;\n  if (!topic) return null;\n  let project = null;\n  try {\n    const projFields = 'id,name,niche,niche_description,status,channel_style,style_dna,youtube_channel_id,drive_root_folder_id,estimated_rpm_mid,niche_health_score';\n    const arr = await sbGet(`projects?select=${projFields}&id=eq.${topic.project_id}`);\n    project = (arr && arr[0]) || null;\n  } catch (_) {}\n  return { topic, project };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 4. analytics_summary(project_id, time_range)\n// ────────────────────────────────────────────────────────────────\nasync function analyticsSummary(project_id, time_range) {\n  if (!project_id || !UUID_RE.test(project_id)) {\n    throw new Error('project_id must be a UUID');\n  }\n  const valid = new Set(['7d','30d','90d','all']);\n  const range = valid.has(time_range) ? time_range : '30d';\n\n  // Only analytics-relevant fields — not full topic rows.\n  const analyticsFields = [\n    'id','topic_number','seo_title','status','published_at','thumbnail_url',\n    'youtube_url','youtube_video_id',\n    'yt_views','yt_watch_hours','yt_ctr','yt_impressions',\n    'yt_avg_view_duration','yt_avg_view_pct',\n    'yt_likes','yt_comments','yt_subscribers_gained',\n    'yt_estimated_revenue','yt_actual_cpm','yt_last_updated',\n    'total_cost','cost_breakdown'\n  ].join(',');\n\n  let currentPath = `topics?select=${analyticsFields}&project_id=eq.${project_id}&status=eq.published&order=published_at.desc`;\n  if (range !== 'all') {\n    const days = range === '7d' ? 7 : range === '90d' ? 90 : 30;\n    const cutoff = new Date(Date.now() - days * 24 * 60 * 60 * 1000).toISOString();\n    currentPath += `&published_at=gte.${cutoff}`;\n  }\n  const current = await sbGet(currentPath);\n\n  // Previous period — trimmed field set for trend math only.\n  let previous = [];\n  if (range !== 'all') {\n    const days = range === '7d' ? 7 : range === '90d' ? 90 : 30;\n    const end = new Date(Date.now() - days * 24 * 60 * 60 * 1000);\n    const start = new Date(end.getTime() - days * 24 * 60 * 60 * 1000);\n    try {\n      previous = await sbGet(\n        `topics?select=yt_views,yt_watch_hours,yt_ctr,yt_estimated_revenue&project_id=eq.${project_id}&status=eq.published&published_at=gte.${start.toISOString()}&published_at=lt.${end.toISOString()}`\n      );\n    } catch (_) { previous = []; }\n  }\n\n  return { current: current || [], previous: previous || [], time_range: range };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 5. scene_progress(topic_id)\n// ────────────────────────────────────────────────────────────────\nasync function sceneProgress(topic_id) {\n  if (!topic_id || !UUID_RE.test(topic_id)) {\n    throw new Error('topic_id must be a UUID');\n  }\n  // Dashboard renders 172 scene dots + expands into narration/image on click.\n  // Return minimal-ish fields: we keep narration_text and image_prompt because\n  // TopicDetail.jsx already displays them.\n  const fields = [\n    'id','topic_id','scene_number','scene_id','chapter',\n    'audio_status','image_status','video_status','clip_status',\n    'audio_duration_ms','start_time_ms','end_time_ms',\n    'visual_type','emotional_beat','color_mood','zoom_direction',\n    'caption_highlight_word','transition_to_next',\n    'narration_text','image_prompt',\n    'image_url','video_url','video_clip_url','audio_file_url',\n    'skipped','skip_reason','pipeline_stage','has_video',\n    'video_placement_start_ms','video_placement_end_ms'\n  ].join(',');\n  const rows = await sbGet(`scenes?select=${fields}&topic_id=eq.${topic_id}&order=scene_number.asc`);\n  return rows || [];\n}\n\n// ────────────────────────────────────────────────────────────────\n// 6. delete_project(project_id) — cascade delete in child->parent order.\n//    Only whitelisted tables; only projects in 'created'/'researching*'/\n//    'research_failed'/'failed' states. Everything else must go through\n//    a deeper workflow because it has side effects (published YouTube\n//    videos, Drive uploads, etc).\n// ────────────────────────────────────────────────────────────────\nasync function sbDelete(path) {\n  const res = await fetch(`${SUPABASE}/rest/v1/${path}`, {\n    method: 'DELETE',\n    headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' }\n  });\n  if (!res.ok) {\n    const text = await res.text();\n    throw new Error(`HTTP ${res.status}: ${text.slice(0,300)}`);\n  }\n  return true;\n}\nasync function deleteProject(project_id) {\n  if (!project_id || !UUID_RE.test(project_id)) {\n    throw new Error('project_id must be a UUID');\n  }\n  const SAFE_STATUSES = new Set([\n    'created','researching','researching_competitors','researching_pain_points',\n    'researching_keywords','researching_blue_ocean','researching_prompts',\n    'research_failed','failed','topics_pending_review'\n  ]);\n  const proj = await sbGet(`projects?select=id,status&id=eq.${project_id}`);\n  if (!proj || proj.length === 0) throw new Error(`project ${project_id} not found`);\n  if (!SAFE_STATUSES.has(proj[0].status)) {\n    throw new Error(`refusing to delete project in status=${proj[0].status}; only early-stage projects are deletable`);\n  }\n  // Child-first cascade. Each table is deleted via service_role.\n  const tables = ['production_log','scenes','avatars','topics','prompt_configs','niche_profiles'];\n  for (const t of tables) {\n    try { await sbDelete(`${t}?project_id=eq.${project_id}`); }\n    catch (e) { throw new Error(`failed deleting ${t}: ${e.message}`); }\n  }\n  await sbDelete(`projects?id=eq.${project_id}`);\n  return { deleted: project_id, tables_cascaded: tables };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 7. ab_tests_for_project(project_id, filter)\n// ────────────────────────────────────────────────────────────────\nasync function abTestsForProject(project_id, filter) {\n  if (!project_id || !UUID_RE.test(project_id)) throw new Error('project_id must be a UUID');\n  const validFilters = new Set(['all','running','completed','paused']);\n  const f = validFilters.has(filter) ? filter : 'all';\n  const selectCols = [\n    'id','topic_id','project_id','youtube_video_id','test_type','status',\n    'min_impressions_per_variant','min_days_per_variant','rotation_interval_hours',\n    'confidence_threshold','current_variant_id','last_rotated_at','started_at',\n    'completed_at','winning_variant_id','winner_applied','test_notes','created_at'\n  ];\n  const nestedSelect = selectCols.join(',') +\n    ',variants:ab_test_variants(*),' +\n    'topics(id,topic_number,seo_title,original_title,selected_title,thumbnail_url)';\n  let path = `ab_tests?select=${nestedSelect}&project_id=eq.${project_id}&order=started_at.desc.nullslast,created_at.desc`;\n  if (f !== 'all') path += `&status=eq.${f}`;\n  let rows;\n  try { rows = await sbGet(path); }\n  catch (e) {\n    // Fallback: nested select can fail if the FK relationship isn't introspected.\n    const fallbackCols = selectCols.join(',');\n    let path2 = `ab_tests?select=${fallbackCols}&project_id=eq.${project_id}&order=started_at.desc.nullslast,created_at.desc`;\n    if (f !== 'all') path2 += `&status=eq.${f}`;\n    const tests = await sbGet(path2);\n    const ids = (tests || []).map(t => `\"${t.id}\"`).join(',');\n    const variants = ids ? await sbGet(`ab_test_variants?select=*&ab_test_id=in.(${ids})`) : [];\n    rows = (tests || []).map(t => ({\n      ...t,\n      variants: (variants || []).filter(v => v.ab_test_id === t.id),\n      topics: null\n    }));\n  }\n  return (rows || []).map(t => ({\n    ...t,\n    variants: Array.isArray(t.variants)\n      ? [...t.variants].sort((a,b) => (a.variant_order ?? 0) - (b.variant_order ?? 0))\n      : []\n  }));\n}\n\n// ────────────────────────────────────────────────────────────────\n// 8. update_ab_test_status(ab_test_id, status) — narrow writer.\n// ────────────────────────────────────────────────────────────────\nasync function updateABTestStatus(ab_test_id, status) {\n  if (!ab_test_id || !UUID_RE.test(ab_test_id)) throw new Error('ab_test_id must be a UUID');\n  const allowed = new Set(['paused','running','completed','aborted']);\n  if (!allowed.has(status)) throw new Error(`status must be one of ${[...allowed].join(',')}`);\n  const now = new Date().toISOString();\n  const patch = { status, updated_at: now };\n  if (status === 'completed' || status === 'aborted') patch.completed_at = now;\n  const res = await fetch(`${SUPABASE}/rest/v1/ab_tests?id=eq.${ab_test_id}`, {\n    method: 'PATCH',\n    headers: { ...SB_HEADERS, 'Prefer': 'return=representation' },\n    body: JSON.stringify(patch)\n  });\n  if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n  const rows = await res.json();\n  const row = Array.isArray(rows) && rows[0] ? rows[0] : null;\n  if (!row) throw new Error(`ab_test ${ab_test_id} not found`);\n  return row;\n}\n\n// ────────────────────────────────────────────────────────────────\n// 9. apply_ab_test_winner(ab_test_id) — mark winner_applied=true and\n//    (for non-thumbnail tests with a winning variant) promote the\n//    winning title back to topics.selected_title + title_ctr_score.\n// ────────────────────────────────────────────────────────────────\nasync function applyABTestWinner(ab_test_id) {\n  if (!ab_test_id || !UUID_RE.test(ab_test_id)) throw new Error('ab_test_id must be a UUID');\n  const tests = await sbGet(`ab_tests?select=id,test_type,winning_variant_id,topic_id&id=eq.${ab_test_id}`);\n  const test = (tests || [])[0];\n  if (!test) throw new Error(`ab_test ${ab_test_id} not found`);\n  const now = new Date().toISOString();\n  const patchAb = await fetch(`${SUPABASE}/rest/v1/ab_tests?id=eq.${ab_test_id}`, {\n    method: 'PATCH',\n    headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' },\n    body: JSON.stringify({ winner_applied: true, updated_at: now })\n  });\n  if (!patchAb.ok) throw new Error(`HTTP ${patchAb.status}: ${(await patchAb.text()).slice(0,300)}`);\n\n  let promoted = false;\n  if (test.test_type !== 'thumbnail' && test.winning_variant_id && test.topic_id) {\n    const variants = await sbGet(`ab_test_variants?select=id,title,predicted_ctr_score&id=eq.${test.winning_variant_id}`);\n    const winner = (variants || [])[0];\n    if (winner?.title) {\n      const patchT = await fetch(`${SUPABASE}/rest/v1/topics?id=eq.${test.topic_id}`, {\n        method: 'PATCH',\n        headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' },\n        body: JSON.stringify({\n          selected_title: winner.title,\n          title_ctr_score: winner.predicted_ctr_score ?? null,\n          title_selected_at: now\n        })\n      });\n      if (!patchT.ok) throw new Error(`HTTP ${patchT.status}: ${(await patchT.text()).slice(0,300)}`);\n      promoted = true;\n    }\n  }\n  return { ab_test_id, winner_applied: true, title_promoted: promoted };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 10. sb_query — generic PostgREST proxy for the supabase-js shim.\n// Dashboard hooks call supabase.from('tbl').select().eq().order() etc;\n// the client-side shim serialises that chain into a JSON state and hits\n// this handler, which reconstructs the PostgREST URL and runs it with\n// service_role. Table allowlist enforced here so the shim cant be\n// abused to hit arbitrary tables.\n// ────────────────────────────────────────────────────────────────\nconst SB_READ_ALLOWLIST = new Set([\n  'analysis_groups','audience_comments','audience_insights','avatars',\n  'channel_analyses','channel_comparison_reports','coach_messages','coach_sessions',\n  'comments','competitor_alerts','competitor_channels','competitor_intelligence',\n  'competitor_videos','cost_calculator_snapshots','daily_ideas','discovered_channels',\n  'keywords','music_library','niche_health_history','niche_profiles',\n  'niche_viability_reports','platform_metadata','pps_calibration','pps_config',\n  'production_log','production_logs','production_registers','projects','prompt_configs',\n  'renders','research_categories','research_results','research_runs',\n  'revenue_attribution','rpm_benchmarks','scenes','scheduled_posts','shorts',\n  'social_accounts','style_profiles','system_prompts','topic_keywords','topics',\n  'yt_discovery_results','yt_discovery_runs','yt_video_analyses',\n  'ab_tests','ab_test_variants','ab_test_impressions'\n]);\nconst SB_OP_ALLOWLIST = new Set(['eq','neq','gt','gte','lt','lte','like','ilike','is','in','not.is']);\nfunction _validName(s) { return /^[a-zA-Z_][a-zA-Z0-9_]*$/.test(s); }\nfunction _validSelect(s) { return typeof s === 'string' && s.length <= 4000 && /^[a-zA-Z0-9_,.:()*\\s!\\-\"']+$/.test(s); }\n\nasync function sbQuery(p) {\n  const table = p.table;\n  if (!table || !SB_READ_ALLOWLIST.has(table)) {\n    throw new Error(`table \"${table}\" not in sb_query allowlist`);\n  }\n  const action = p.action || 'select';\n  const sel = p.select || '*';\n  if (!_validSelect(sel)) throw new Error('select clause failed validation');\n  const filters = Array.isArray(p.filters) ? p.filters : [];\n  const orders = Array.isArray(p.orders) ? p.orders : [];\n\n  const parts = [];\n  if (action === 'select') parts.push(`select=${encodeURIComponent(sel)}`);\n\n  for (const tuple of filters) {\n    if (!Array.isArray(tuple) || tuple.length < 3) throw new Error('filter must be [col,op,val]');\n    const [col, op, val] = tuple;\n    if (!_validName(col)) throw new Error(`bad filter column: ${col}`);\n    if (!SB_OP_ALLOWLIST.has(op)) throw new Error(`bad filter op: ${op}`);\n    let v;\n    if (op === 'in') {\n      if (!Array.isArray(val)) throw new Error('\"in\" filter needs array value');\n      v = `(${val.map(x => `\"${String(x).replace(/[\"()]/g, '')}\"`).join(',')})`;\n    } else if (val === null || val === undefined) {\n      v = 'null';\n    } else if (typeof val === 'boolean') {\n      v = val ? 'true' : 'false';\n    } else {\n      v = String(val);\n    }\n    parts.push(`${col}=${op}.${encodeURIComponent(v)}`);\n  }\n  for (const ord of orders) {\n    if (!ord || !_validName(ord.col)) throw new Error(`bad order column: ${ord && ord.col}`);\n    const asc = ord.ascending !== false;\n    const nulls = ord.nullsFirst ? '.nullsfirst' : (ord.nullsLast ? '.nullslast' : '');\n    parts.push(`order=${ord.col}.${asc ? 'asc' : 'desc'}${nulls}`);\n  }\n  if (p.limit != null && Number.isFinite(+p.limit)) {\n    parts.push(`limit=${Math.min(Math.max(1, +p.limit), 2000)}`);\n  }\n  if (p.offset != null && Number.isFinite(+p.offset)) {\n    parts.push(`offset=${Math.max(0, +p.offset)}`);\n  }\n  const qs = parts.join('&');\n  const url = `${SUPABASE}/rest/v1/${table}${qs ? '?' + qs : ''}`;\n\n  if (action === 'select') {\n    const headers = { ...SB_HEADERS };\n    if (p.countOnly) headers['Prefer'] = 'count=exact';\n    if (p.head) headers['Range'] = '0-0';\n    const res = await fetch(url, { method: p.head ? 'HEAD' : 'GET', headers });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    let count = null;\n    const cr = res.headers.get('content-range');\n    if (cr && cr.includes('/')) count = parseInt(cr.split('/').pop(), 10) || 0;\n    if (p.head) return { rows: [], count, head: true };\n    const rows = await res.json();\n    if (p.single || p.maybeSingle) return (Array.isArray(rows) && rows[0]) || null;\n    return p.countOnly ? { rows, count } : rows;\n  }\n\n  if (action === 'insert') {\n    const pref = p.preferReturn === 'minimal' ? 'return=minimal' : 'return=representation';\n    const res = await fetch(url, {\n      method: 'POST',\n      headers: { ...SB_HEADERS, 'Prefer': pref },\n      body: JSON.stringify(p.insertPayload)\n    });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    if (pref === 'return=minimal') return null;\n    const body = await res.json();\n    if (p.single) return (Array.isArray(body) && body[0]) || null;\n    return body;\n  }\n\n  if (action === 'update') {\n    if (!filters.length) throw new Error('update requires at least one filter');\n    const pref = p.preferReturn === 'minimal' ? 'return=minimal' : 'return=representation';\n    const res = await fetch(url, {\n      method: 'PATCH',\n      headers: { ...SB_HEADERS, 'Prefer': pref },\n      body: JSON.stringify(p.updatePayload)\n    });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    if (pref === 'return=minimal') return null;\n    const body = await res.json();\n    if (p.single) return (Array.isArray(body) && body[0]) || null;\n    return body;\n  }\n\n  if (action === 'delete') {\n    if (!filters.length) throw new Error('delete requires at least one filter');\n    const res = await fetch(url, {\n      method: 'DELETE',\n      headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' }\n    });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    return null;\n  }\n\n  throw new Error(`unknown action: ${action}`);\n}\n\n// ────────────────────────────────────────────────────────────────\n// Dispatch\n// ────────────────────────────────────────────────────────────────\ntry {\n  let data;\n  switch (query) {\n    case 'projects_list':\n      data = await projectsList();\n      break;\n    case 'topics_for_project':\n      data = await topicsForProject(params.project_id);\n      break;\n    case 'topic_detail':\n      data = await topicDetail(params.topic_id);\n      break;\n    case 'analytics_summary':\n      data = await analyticsSummary(params.project_id, params.time_range);\n      break;\n    case 'scene_progress':\n      data = await sceneProgress(params.topic_id);\n      break;\n    case 'delete_project':\n      data = await deleteProject(params.project_id);\n      break;\n    case 'ab_tests_for_project':\n      data = await abTestsForProject(params.project_id, params.filter);\n      break;\n    case 'update_ab_test_status':\n      data = await updateABTestStatus(params.ab_test_id, params.status);\n      break;\n    case 'apply_ab_test_winner':\n      data = await applyABTestWinner(params.ab_test_id);\n      break;\n    case 'sb_query':\n      data = await sbQuery(params);\n      break;\n    default:\n      return [{ json: err(`unknown query: ${query}`, 400) }];\n  }\n  return [{ json: ok(data) }];\n} catch (e) {\n  const msg = e && e.message ? e.message : String(e);\n  const status = msg.startsWith('HTTP 4') ? 400 : msg.includes('must be a UUID') ? 400 : msg.includes('must be one of') ? 400 : msg.includes('must be a') ? 400 : msg.includes('refusing to delete') ? 409 : msg.includes('not found') ? 404 : 500;\n  return [{ json: err(msg, status) }];\n}\n"
      }
    },
    {
      "id": "respond-dashboard-read",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        310
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Dispatch Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Query": {
      "main": [
        [
          {
            "node": "Respond To Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "19c3bbc8-5f0f-4ac4-af4c-2ec8e7020a03",
  "activeVersionId": "19c3bbc8-5f0f-4ac4-af4c-2ec8e7020a03",
  "versionCounter": 30,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-21T18:50:19.988Z",
      "createdAt": "2026-04-21T18:50:19.988Z",
      "role": "workflow:owner",
      "workflowId": "E1rnqJAbejG63q5G",
      "projectId": "ccWn1Q4giuKzXIbJ",
      "project": {
        "updatedAt": "2026-01-26T11:09:31.107Z",
        "createdAt": "2026-01-26T03:51:33.410Z",
        "id": "ccWn1Q4giuKzXIbJ",
        "name": "Akinwunmi Akinrimisi <akinolacrypto@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ab010feb-355c-4130-b354-4e929908258e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-28T15:04:27.982Z",
    "createdAt": "2026-04-28T15:04:27.982Z",
    "versionId": "19c3bbc8-5f0f-4ac4-af4c-2ec8e7020a03",
    "workflowId": "E1rnqJAbejG63q5G",
    "nodes": [
      {
        "id": "trigger-dashboard-read",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          310
        ],
        "parameters": {
          "path": "dashboard/read",
          "httpMethod": "POST",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "dashboard-read",
        "credentials": {
          "httpHeaderAuth": {
            "id": "KtMyWD7uJJBZYLjt",
            "name": "Authorization"
          }
        }
      },
      {
        "id": "dispatch-handler",
        "name": "Dispatch Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          310
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// WF_DASHBOARD_READ — Batch 2 of security audit remediation.\n// Single entry point for all dashboard reads. RLS migration 030 locked\n// down every VG table; this workflow is the only authenticated route\n// back in, using service_role from n8n env (never exposed to browser).\n//\n// Contract: POST /webhook/dashboard/read\n// Bearer auth from nginx-injected Authorization header.\n// Body: { query: string, params?: object }\n// Supported queries (10):\n//   - projects_list\n//   - topics_for_project          (params: { project_id })\n//   - topic_detail                (params: { topic_id })\n//   - analytics_summary           (params: { project_id, time_range })\n//   - scene_progress              (params: { topic_id })\n//   - delete_project              (params: { project_id })         <- state-changing\n//   - ab_tests_for_project        (params: { project_id, filter })\n//   - update_ab_test_status       (params: { ab_test_id, status }) <- state-changing\n//   - apply_ab_test_winner        (params: { ab_test_id })         <- state-changing\n//   - sb_query                    (params: { table, action, select, filters[], orders[], limit, single, insertPayload, updatePayload, countOnly, head, preferReturn })\n//       Generic PostgREST proxy for the dashboard supabase-js shim. Table\n//       allowlist enforced server-side. All reads/writes go service_role.\n// Returns: { success, data, error, http_status }\n\nconst raw = $input.first().json;\nconst payload = raw.body || raw;\nconst query = typeof payload.query === 'string' ? payload.query : null;\nconst params = (payload.params && typeof payload.params === 'object') ? payload.params : {};\n\nif (!query) {\n  return [{ json: { success: false, data: null, error: 'query is required', http_status: 400 } }];\n}\n\nconst SUPABASE = $env.SUPABASE_URL;\nconst SB_HEADERS = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json',\n  'Accept-Profile': 'public'\n};\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nasync function sbGet(path) {\n  const res = await fetch(`${SUPABASE}/rest/v1/${path}`, { method: 'GET', headers: SB_HEADERS });\n  if (!res.ok) {\n    const text = await res.text();\n    throw new Error(`HTTP ${res.status}: ${text.slice(0, 300)}`);\n  }\n  return res.json();\n}\n\nfunction err(msg, code) {\n  return { success: false, data: null, error: msg, http_status: code || 400 };\n}\n\nfunction ok(data) {\n  return { success: true, data, error: null, http_status: 200 };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 1. projects_list\n// ────────────────────────────────────────────────────────────────\nasync function projectsList() {\n  // Minimum fields needed for the home grid + project cards.\n  const projFields = [\n    'id','name','niche','niche_description','status','channel_style',\n    'target_video_count','created_at','updated_at',\n    'auto_pilot_enabled','monthly_budget_usd','monthly_spend_usd',\n    'niche_health_score','niche_rpm_category','estimated_rpm_mid',\n    'youtube_channel_id','drive_root_folder_id',\n    // AU overlay fields — required for the country-tab filter on the dashboard\n    'country_target','language','channel_type','parent_project_id','cost_ceiling_usd',\n    'reference_analyses'\n  ].join(',');\n  const projects = await sbGet(`projects?select=${projFields}&order=created_at.desc`);\n  if (!projects || projects.length === 0) return [];\n\n  // Topic summary fields for status computation (matches useProjects.js pre-refactor).\n  const ids = projects.map(p => `\"${p.id}\"`).join(',');\n  const topicFields = [\n    'id','project_id','topic_number','status','review_status',\n    'script_review_status','video_review_status','seo_title',\n    'audio_progress','images_progress','i2v_progress','t2v_progress',\n    'assembly_status','total_cost','yt_estimated_revenue','updated_at'\n  ].join(',');\n  const topics = await sbGet(`topics?select=${topicFields}&project_id=in.(${ids})`);\n  const byProject = {};\n  for (const t of (topics || [])) {\n    if (!byProject[t.project_id]) byProject[t.project_id] = [];\n    byProject[t.project_id].push(t);\n  }\n  return projects.map(p => ({ ...p, topics_summary: byProject[p.id] || [] }));\n}\n\n// ────────────────────────────────────────────────────────────────\n// 2. topics_for_project(project_id)\n// ────────────────────────────────────────────────────────────────\nasync function topicsForProject(project_id) {\n  if (!project_id || !UUID_RE.test(project_id)) {\n    throw new Error('project_id must be a UUID');\n  }\n  // Mirror useTopics.js: select('*, avatars(*)') ordered by topic_number.\n  const path = `topics?select=*,avatars(*)&project_id=eq.${project_id}&order=topic_number.asc`;\n  const rows = await sbGet(path);\n  return rows || [];\n}\n\n// ────────────────────────────────────────────────────────────────\n// 3. topic_detail(topic_id)\n// ────────────────────────────────────────────────────────────────\nasync function topicDetail(topic_id) {\n  if (!topic_id || !UUID_RE.test(topic_id)) {\n    throw new Error('topic_id must be a UUID');\n  }\n  // Return topic + its project (for header) + its avatar (if any). Scenes\n  // come via scene_progress to keep this response compact.\n  const topics = await sbGet(`topics?select=*,avatars(*)&id=eq.${topic_id}`);\n  const topic = (topics && topics[0]) || null;\n  if (!topic) return null;\n  let project = null;\n  try {\n    const projFields = 'id,name,niche,niche_description,status,channel_style,style_dna,youtube_channel_id,drive_root_folder_id,estimated_rpm_mid,niche_health_score';\n    const arr = await sbGet(`projects?select=${projFields}&id=eq.${topic.project_id}`);\n    project = (arr && arr[0]) || null;\n  } catch (_) {}\n  return { topic, project };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 4. analytics_summary(project_id, time_range)\n// ────────────────────────────────────────────────────────────────\nasync function analyticsSummary(project_id, time_range) {\n  if (!project_id || !UUID_RE.test(project_id)) {\n    throw new Error('project_id must be a UUID');\n  }\n  const valid = new Set(['7d','30d','90d','all']);\n  const range = valid.has(time_range) ? time_range : '30d';\n\n  // Only analytics-relevant fields — not full topic rows.\n  const analyticsFields = [\n    'id','topic_number','seo_title','status','published_at','thumbnail_url',\n    'youtube_url','youtube_video_id',\n    'yt_views','yt_watch_hours','yt_ctr','yt_impressions',\n    'yt_avg_view_duration','yt_avg_view_pct',\n    'yt_likes','yt_comments','yt_subscribers_gained',\n    'yt_estimated_revenue','yt_actual_cpm','yt_last_updated',\n    'total_cost','cost_breakdown'\n  ].join(',');\n\n  let currentPath = `topics?select=${analyticsFields}&project_id=eq.${project_id}&status=eq.published&order=published_at.desc`;\n  if (range !== 'all') {\n    const days = range === '7d' ? 7 : range === '90d' ? 90 : 30;\n    const cutoff = new Date(Date.now() - days * 24 * 60 * 60 * 1000).toISOString();\n    currentPath += `&published_at=gte.${cutoff}`;\n  }\n  const current = await sbGet(currentPath);\n\n  // Previous period — trimmed field set for trend math only.\n  let previous = [];\n  if (range !== 'all') {\n    const days = range === '7d' ? 7 : range === '90d' ? 90 : 30;\n    const end = new Date(Date.now() - days * 24 * 60 * 60 * 1000);\n    const start = new Date(end.getTime() - days * 24 * 60 * 60 * 1000);\n    try {\n      previous = await sbGet(\n        `topics?select=yt_views,yt_watch_hours,yt_ctr,yt_estimated_revenue&project_id=eq.${project_id}&status=eq.published&published_at=gte.${start.toISOString()}&published_at=lt.${end.toISOString()}`\n      );\n    } catch (_) { previous = []; }\n  }\n\n  return { current: current || [], previous: previous || [], time_range: range };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 5. scene_progress(topic_id)\n// ────────────────────────────────────────────────────────────────\nasync function sceneProgress(topic_id) {\n  if (!topic_id || !UUID_RE.test(topic_id)) {\n    throw new Error('topic_id must be a UUID');\n  }\n  // Dashboard renders 172 scene dots + expands into narration/image on click.\n  // Return minimal-ish fields: we keep narration_text and image_prompt because\n  // TopicDetail.jsx already displays them.\n  const fields = [\n    'id','topic_id','scene_number','scene_id','chapter',\n    'audio_status','image_status','video_status','clip_status',\n    'audio_duration_ms','start_time_ms','end_time_ms',\n    'visual_type','emotional_beat','color_mood','zoom_direction',\n    'caption_highlight_word','transition_to_next',\n    'narration_text','image_prompt',\n    'image_url','video_url','video_clip_url','audio_file_url',\n    'skipped','skip_reason','pipeline_stage','has_video',\n    'video_placement_start_ms','video_placement_end_ms'\n  ].join(',');\n  const rows = await sbGet(`scenes?select=${fields}&topic_id=eq.${topic_id}&order=scene_number.asc`);\n  return rows || [];\n}\n\n// ────────────────────────────────────────────────────────────────\n// 6. delete_project(project_id) — cascade delete in child->parent order.\n//    Only whitelisted tables; only projects in 'created'/'researching*'/\n//    'research_failed'/'failed' states. Everything else must go through\n//    a deeper workflow because it has side effects (published YouTube\n//    videos, Drive uploads, etc).\n// ────────────────────────────────────────────────────────────────\nasync function sbDelete(path) {\n  const res = await fetch(`${SUPABASE}/rest/v1/${path}`, {\n    method: 'DELETE',\n    headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' }\n  });\n  if (!res.ok) {\n    const text = await res.text();\n    throw new Error(`HTTP ${res.status}: ${text.slice(0,300)}`);\n  }\n  return true;\n}\nasync function deleteProject(project_id) {\n  if (!project_id || !UUID_RE.test(project_id)) {\n    throw new Error('project_id must be a UUID');\n  }\n  const SAFE_STATUSES = new Set([\n    'created','researching','researching_competitors','researching_pain_points',\n    'researching_keywords','researching_blue_ocean','researching_prompts',\n    'research_failed','failed','topics_pending_review'\n  ]);\n  const proj = await sbGet(`projects?select=id,status&id=eq.${project_id}`);\n  if (!proj || proj.length === 0) throw new Error(`project ${project_id} not found`);\n  if (!SAFE_STATUSES.has(proj[0].status)) {\n    throw new Error(`refusing to delete project in status=${proj[0].status}; only early-stage projects are deletable`);\n  }\n  // Child-first cascade. Each table is deleted via service_role.\n  const tables = ['production_log','scenes','avatars','topics','prompt_configs','niche_profiles'];\n  for (const t of tables) {\n    try { await sbDelete(`${t}?project_id=eq.${project_id}`); }\n    catch (e) { throw new Error(`failed deleting ${t}: ${e.message}`); }\n  }\n  await sbDelete(`projects?id=eq.${project_id}`);\n  return { deleted: project_id, tables_cascaded: tables };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 7. ab_tests_for_project(project_id, filter)\n// ────────────────────────────────────────────────────────────────\nasync function abTestsForProject(project_id, filter) {\n  if (!project_id || !UUID_RE.test(project_id)) throw new Error('project_id must be a UUID');\n  const validFilters = new Set(['all','running','completed','paused']);\n  const f = validFilters.has(filter) ? filter : 'all';\n  const selectCols = [\n    'id','topic_id','project_id','youtube_video_id','test_type','status',\n    'min_impressions_per_variant','min_days_per_variant','rotation_interval_hours',\n    'confidence_threshold','current_variant_id','last_rotated_at','started_at',\n    'completed_at','winning_variant_id','winner_applied','test_notes','created_at'\n  ];\n  const nestedSelect = selectCols.join(',') +\n    ',variants:ab_test_variants(*),' +\n    'topics(id,topic_number,seo_title,original_title,selected_title,thumbnail_url)';\n  let path = `ab_tests?select=${nestedSelect}&project_id=eq.${project_id}&order=started_at.desc.nullslast,created_at.desc`;\n  if (f !== 'all') path += `&status=eq.${f}`;\n  let rows;\n  try { rows = await sbGet(path); }\n  catch (e) {\n    // Fallback: nested select can fail if the FK relationship isn't introspected.\n    const fallbackCols = selectCols.join(',');\n    let path2 = `ab_tests?select=${fallbackCols}&project_id=eq.${project_id}&order=started_at.desc.nullslast,created_at.desc`;\n    if (f !== 'all') path2 += `&status=eq.${f}`;\n    const tests = await sbGet(path2);\n    const ids = (tests || []).map(t => `\"${t.id}\"`).join(',');\n    const variants = ids ? await sbGet(`ab_test_variants?select=*&ab_test_id=in.(${ids})`) : [];\n    rows = (tests || []).map(t => ({\n      ...t,\n      variants: (variants || []).filter(v => v.ab_test_id === t.id),\n      topics: null\n    }));\n  }\n  return (rows || []).map(t => ({\n    ...t,\n    variants: Array.isArray(t.variants)\n      ? [...t.variants].sort((a,b) => (a.variant_order ?? 0) - (b.variant_order ?? 0))\n      : []\n  }));\n}\n\n// ────────────────────────────────────────────────────────────────\n// 8. update_ab_test_status(ab_test_id, status) — narrow writer.\n// ────────────────────────────────────────────────────────────────\nasync function updateABTestStatus(ab_test_id, status) {\n  if (!ab_test_id || !UUID_RE.test(ab_test_id)) throw new Error('ab_test_id must be a UUID');\n  const allowed = new Set(['paused','running','completed','aborted']);\n  if (!allowed.has(status)) throw new Error(`status must be one of ${[...allowed].join(',')}`);\n  const now = new Date().toISOString();\n  const patch = { status, updated_at: now };\n  if (status === 'completed' || status === 'aborted') patch.completed_at = now;\n  const res = await fetch(`${SUPABASE}/rest/v1/ab_tests?id=eq.${ab_test_id}`, {\n    method: 'PATCH',\n    headers: { ...SB_HEADERS, 'Prefer': 'return=representation' },\n    body: JSON.stringify(patch)\n  });\n  if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n  const rows = await res.json();\n  const row = Array.isArray(rows) && rows[0] ? rows[0] : null;\n  if (!row) throw new Error(`ab_test ${ab_test_id} not found`);\n  return row;\n}\n\n// ────────────────────────────────────────────────────────────────\n// 9. apply_ab_test_winner(ab_test_id) — mark winner_applied=true and\n//    (for non-thumbnail tests with a winning variant) promote the\n//    winning title back to topics.selected_title + title_ctr_score.\n// ────────────────────────────────────────────────────────────────\nasync function applyABTestWinner(ab_test_id) {\n  if (!ab_test_id || !UUID_RE.test(ab_test_id)) throw new Error('ab_test_id must be a UUID');\n  const tests = await sbGet(`ab_tests?select=id,test_type,winning_variant_id,topic_id&id=eq.${ab_test_id}`);\n  const test = (tests || [])[0];\n  if (!test) throw new Error(`ab_test ${ab_test_id} not found`);\n  const now = new Date().toISOString();\n  const patchAb = await fetch(`${SUPABASE}/rest/v1/ab_tests?id=eq.${ab_test_id}`, {\n    method: 'PATCH',\n    headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' },\n    body: JSON.stringify({ winner_applied: true, updated_at: now })\n  });\n  if (!patchAb.ok) throw new Error(`HTTP ${patchAb.status}: ${(await patchAb.text()).slice(0,300)}`);\n\n  let promoted = false;\n  if (test.test_type !== 'thumbnail' && test.winning_variant_id && test.topic_id) {\n    const variants = await sbGet(`ab_test_variants?select=id,title,predicted_ctr_score&id=eq.${test.winning_variant_id}`);\n    const winner = (variants || [])[0];\n    if (winner?.title) {\n      const patchT = await fetch(`${SUPABASE}/rest/v1/topics?id=eq.${test.topic_id}`, {\n        method: 'PATCH',\n        headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' },\n        body: JSON.stringify({\n          selected_title: winner.title,\n          title_ctr_score: winner.predicted_ctr_score ?? null,\n          title_selected_at: now\n        })\n      });\n      if (!patchT.ok) throw new Error(`HTTP ${patchT.status}: ${(await patchT.text()).slice(0,300)}`);\n      promoted = true;\n    }\n  }\n  return { ab_test_id, winner_applied: true, title_promoted: promoted };\n}\n\n// ────────────────────────────────────────────────────────────────\n// 10. sb_query — generic PostgREST proxy for the supabase-js shim.\n// Dashboard hooks call supabase.from('tbl').select().eq().order() etc;\n// the client-side shim serialises that chain into a JSON state and hits\n// this handler, which reconstructs the PostgREST URL and runs it with\n// service_role. Table allowlist enforced here so the shim cant be\n// abused to hit arbitrary tables.\n// ────────────────────────────────────────────────────────────────\nconst SB_READ_ALLOWLIST = new Set([\n  'analysis_groups','audience_comments','audience_insights','avatars',\n  'channel_analyses','channel_comparison_reports','coach_messages','coach_sessions',\n  'comments','competitor_alerts','competitor_channels','competitor_intelligence',\n  'competitor_videos','cost_calculator_snapshots','daily_ideas','discovered_channels',\n  'keywords','music_library','niche_health_history','niche_profiles',\n  'niche_viability_reports','platform_metadata','pps_calibration','pps_config',\n  'production_log','production_logs','production_registers','projects','prompt_configs',\n  'renders','research_categories','research_results','research_runs',\n  'revenue_attribution','rpm_benchmarks','scenes','scheduled_posts','shorts',\n  'social_accounts','style_profiles','system_prompts','topic_keywords','topics',\n  'yt_discovery_results','yt_discovery_runs','yt_video_analyses',\n  'ab_tests','ab_test_variants','ab_test_impressions'\n]);\nconst SB_OP_ALLOWLIST = new Set(['eq','neq','gt','gte','lt','lte','like','ilike','is','in','not.is']);\nfunction _validName(s) { return /^[a-zA-Z_][a-zA-Z0-9_]*$/.test(s); }\nfunction _validSelect(s) { return typeof s === 'string' && s.length <= 4000 && /^[a-zA-Z0-9_,.:()*\\s!\\-\"']+$/.test(s); }\n\nasync function sbQuery(p) {\n  const table = p.table;\n  if (!table || !SB_READ_ALLOWLIST.has(table)) {\n    throw new Error(`table \"${table}\" not in sb_query allowlist`);\n  }\n  const action = p.action || 'select';\n  const sel = p.select || '*';\n  if (!_validSelect(sel)) throw new Error('select clause failed validation');\n  const filters = Array.isArray(p.filters) ? p.filters : [];\n  const orders = Array.isArray(p.orders) ? p.orders : [];\n\n  const parts = [];\n  if (action === 'select') parts.push(`select=${encodeURIComponent(sel)}`);\n\n  for (const tuple of filters) {\n    if (!Array.isArray(tuple) || tuple.length < 3) throw new Error('filter must be [col,op,val]');\n    const [col, op, val] = tuple;\n    if (!_validName(col)) throw new Error(`bad filter column: ${col}`);\n    if (!SB_OP_ALLOWLIST.has(op)) throw new Error(`bad filter op: ${op}`);\n    let v;\n    if (op === 'in') {\n      if (!Array.isArray(val)) throw new Error('\"in\" filter needs array value');\n      v = `(${val.map(x => `\"${String(x).replace(/[\"()]/g, '')}\"`).join(',')})`;\n    } else if (val === null || val === undefined) {\n      v = 'null';\n    } else if (typeof val === 'boolean') {\n      v = val ? 'true' : 'false';\n    } else {\n      v = String(val);\n    }\n    parts.push(`${col}=${op}.${encodeURIComponent(v)}`);\n  }\n  for (const ord of orders) {\n    if (!ord || !_validName(ord.col)) throw new Error(`bad order column: ${ord && ord.col}`);\n    const asc = ord.ascending !== false;\n    const nulls = ord.nullsFirst ? '.nullsfirst' : (ord.nullsLast ? '.nullslast' : '');\n    parts.push(`order=${ord.col}.${asc ? 'asc' : 'desc'}${nulls}`);\n  }\n  if (p.limit != null && Number.isFinite(+p.limit)) {\n    parts.push(`limit=${Math.min(Math.max(1, +p.limit), 2000)}`);\n  }\n  if (p.offset != null && Number.isFinite(+p.offset)) {\n    parts.push(`offset=${Math.max(0, +p.offset)}`);\n  }\n  const qs = parts.join('&');\n  const url = `${SUPABASE}/rest/v1/${table}${qs ? '?' + qs : ''}`;\n\n  if (action === 'select') {\n    const headers = { ...SB_HEADERS };\n    if (p.countOnly) headers['Prefer'] = 'count=exact';\n    if (p.head) headers['Range'] = '0-0';\n    const res = await fetch(url, { method: p.head ? 'HEAD' : 'GET', headers });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    let count = null;\n    const cr = res.headers.get('content-range');\n    if (cr && cr.includes('/')) count = parseInt(cr.split('/').pop(), 10) || 0;\n    if (p.head) return { rows: [], count, head: true };\n    const rows = await res.json();\n    if (p.single || p.maybeSingle) return (Array.isArray(rows) && rows[0]) || null;\n    return p.countOnly ? { rows, count } : rows;\n  }\n\n  if (action === 'insert') {\n    const pref = p.preferReturn === 'minimal' ? 'return=minimal' : 'return=representation';\n    const res = await fetch(url, {\n      method: 'POST',\n      headers: { ...SB_HEADERS, 'Prefer': pref },\n      body: JSON.stringify(p.insertPayload)\n    });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    if (pref === 'return=minimal') return null;\n    const body = await res.json();\n    if (p.single) return (Array.isArray(body) && body[0]) || null;\n    return body;\n  }\n\n  if (action === 'update') {\n    if (!filters.length) throw new Error('update requires at least one filter');\n    const pref = p.preferReturn === 'minimal' ? 'return=minimal' : 'return=representation';\n    const res = await fetch(url, {\n      method: 'PATCH',\n      headers: { ...SB_HEADERS, 'Prefer': pref },\n      body: JSON.stringify(p.updatePayload)\n    });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    if (pref === 'return=minimal') return null;\n    const body = await res.json();\n    if (p.single) return (Array.isArray(body) && body[0]) || null;\n    return body;\n  }\n\n  if (action === 'delete') {\n    if (!filters.length) throw new Error('delete requires at least one filter');\n    const res = await fetch(url, {\n      method: 'DELETE',\n      headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' }\n    });\n    if (!res.ok) throw new Error(`HTTP ${res.status}: ${(await res.text()).slice(0,300)}`);\n    return null;\n  }\n\n  throw new Error(`unknown action: ${action}`);\n}\n\n// ────────────────────────────────────────────────────────────────\n// Dispatch\n// ────────────────────────────────────────────────────────────────\ntry {\n  let data;\n  switch (query) {\n    case 'projects_list':\n      data = await projectsList();\n      break;\n    case 'topics_for_project':\n      data = await topicsForProject(params.project_id);\n      break;\n    case 'topic_detail':\n      data = await topicDetail(params.topic_id);\n      break;\n    case 'analytics_summary':\n      data = await analyticsSummary(params.project_id, params.time_range);\n      break;\n    case 'scene_progress':\n      data = await sceneProgress(params.topic_id);\n      break;\n    case 'delete_project':\n      data = await deleteProject(params.project_id);\n      break;\n    case 'ab_tests_for_project':\n      data = await abTestsForProject(params.project_id, params.filter);\n      break;\n    case 'update_ab_test_status':\n      data = await updateABTestStatus(params.ab_test_id, params.status);\n      break;\n    case 'apply_ab_test_winner':\n      data = await applyABTestWinner(params.ab_test_id);\n      break;\n    case 'sb_query':\n      data = await sbQuery(params);\n      break;\n    default:\n      return [{ json: err(`unknown query: ${query}`, 400) }];\n  }\n  return [{ json: ok(data) }];\n} catch (e) {\n  const msg = e && e.message ? e.message : String(e);\n  const status = msg.startsWith('HTTP 4') ? 400 : msg.includes('must be a UUID') ? 400 : msg.includes('must be one of') ? 400 : msg.includes('must be a') ? 400 : msg.includes('refusing to delete') ? 409 : msg.includes('not found') ? 404 : 500;\n  return [{ json: err(msg, status) }];\n}\n"
        }
      },
      {
        "id": "respond-dashboard-read",
        "name": "Respond To Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          760,
          310
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": "={{ $json.http_status || 200 }}"
          }
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Dispatch Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dispatch Query": {
        "main": [
          [
            {
              "node": "Respond To Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Akinwunmi Akinrimisi",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-28T15:04:28.032Z",
        "id": 3684,
        "workflowId": "E1rnqJAbejG63q5G",
        "versionId": "19c3bbc8-5f0f-4ac4-af4c-2ec8e7020a03",
        "event": "activated",
        "userId": "ab010feb-355c-4130-b354-4e929908258e"
      },
      {
        "createdAt": "2026-04-28T15:04:28.017Z",
        "id": 3683,
        "workflowId": "E1rnqJAbejG63q5G",
        "versionId": "19c3bbc8-5f0f-4ac4-af4c-2ec8e7020a03",
        "event": "deactivated",
        "userId": "ab010feb-355c-4130-b354-4e929908258e"
      }
    ]
  }
}
