workflows/WF_DAILY_IDEAS.json
{
  "name": "WF_DAILY_IDEAS",
  "nodes": [
    {
      "id": "trigger-ideas-cron",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        220
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "trigger-ideas-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "path": "ideas/generate",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      },
      "webhookId": "ideas-generate"
    },
    {
      "id": "code-ideas-scope",
      "name": "Normalize + Scope Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        310
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CF08 WF_DAILY_IDEAS — normalize triggers, scope the project list.\n// Triggers:\n//   - Schedule (daily 07:00 UTC): no payload, scope = all active projects\n//   - Webhook POST /webhook/ideas/generate: optional { project_id, force }\n// Output: one item per project to process.\n// Global fetch + $env per MEMORY.md (n8n 2.8.4 task runner compat).\n\nconst raw = $input.first().json;\nconst viaWebhook = !!raw.body;\nconst payload = raw.body || {};\nconst projectIdFilter = payload.project_id || null;\nconst force = payload.force === true;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst sbHeaders = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json'\n};\n\n// Compute today's UTC date (YYYY-MM-DD) for run_date + idempotency\nconst now = new Date();\nconst runDate = now.toISOString().slice(0, 10);\n\n// Scope projects. Webhook with project_id = single project; cron/manual-all = all non-paused/archived.\nlet projUrl;\nif (projectIdFilter) {\n  projUrl = `${supabaseUrl}/rest/v1/projects?id=eq.${projectIdFilter}&select=id,name,niche,niche_description,niche_rpm_category,estimated_rpm_low,estimated_rpm_mid,estimated_rpm_high,niche_health_score,status`;\n} else {\n  // 'active' is the canonical production status; also allow null (legacy rows) but skip paused/archived\n  projUrl = `${supabaseUrl}/rest/v1/projects?status=not.in.(paused,archived)&select=id,name,niche,niche_description,niche_rpm_category,estimated_rpm_low,estimated_rpm_mid,estimated_rpm_high,niche_health_score,status`;\n}\n\nconst projRes = await fetch(projUrl, { method: 'GET', headers: sbHeaders });\nif (!projRes.ok) {\n  throw new Error(`Fetch projects failed: HTTP ${projRes.status}: ${await projRes.text()}`);\n}\nconst projects = await projRes.json();\n\nif (!Array.isArray(projects) || projects.length === 0) {\n  return [{\n    json: {\n      skipped: true,\n      reason: projectIdFilter\n        ? `Project ${projectIdFilter} not found`\n        : 'No active projects found',\n      via_webhook: viaWebhook,\n      run_date: runDate\n    }\n  }];\n}\n\nreturn projects.map(p => ({\n  json: {\n    project_id: p.id,\n    project: p,\n    force,\n    via_webhook: viaWebhook,\n    run_date: runDate,\n    triggered_at: now.toISOString()\n  }\n}));"
      }
    },
    {
      "id": "code-ideas-process",
      "name": "Process Project Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        310
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// CF08 per-project idea generator.\n// For one project: idempotency check -> load context (topics, keywords, outliers,\n// synthesis) -> call Claude Opus 4.6 with embedded prompt -> validate & clamp ->\n// bulk INSERT 15-20 daily_ideas rows -> log to production_logs.\n// Single retry to top up if Claude returns <15 ideas.\n\nconst data = $input.item.json;\nif (data.skipped) return $input.item;\n\nconst projectId = data.project_id;\nconst project = data.project || {};\nconst force = data.force === true;\nconst runDate = data.run_date;\nconst runStart = Date.now();\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst sbHeaders = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json'\n};\nconst anthropicKey = $env.ANTHROPIC_API_KEY;\n\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\n\nasync function logProduction(action, status, durationMs, costUsd, retryCount, extraDetails) {\n  try {\n    await fetch(`${supabaseUrl}/rest/v1/production_logs`, {\n      method: 'POST',\n      headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n      body: JSON.stringify({\n        project_id: projectId,\n        topic_id: null,\n        stage: 'daily_ideas',\n        scene_number: null,\n        action,\n        status,\n        duration_ms: durationMs,\n        cost_usd: costUsd,\n        retry_count: retryCount\n      })\n    });\n  } catch (_) { /* best-effort */ }\n}\n\nasync function sbGet(url, label) {\n  const res = await fetch(url, { method: 'GET', headers: sbHeaders });\n  if (!res.ok) throw new Error(`${label} failed: HTTP ${res.status}: ${(await res.text()).slice(0, 200)}`);\n  return res.json();\n}\n\n// 1. Idempotency — skip if any daily_ideas row already exists for (project_id, run_date)\nif (!force) {\n  try {\n    const dupUrl = `${supabaseUrl}/rest/v1/daily_ideas?project_id=eq.${projectId}&run_date=eq.${runDate}&select=id&limit=1`;\n    const dupRes = await fetch(dupUrl, { method: 'GET', headers: sbHeaders });\n    if (dupRes.ok) {\n      const dupArr = await dupRes.json();\n      if (Array.isArray(dupArr) && dupArr.length > 0) {\n        await logProduction('idempotent_skip', 'skipped', Date.now() - runStart, 0, 0);\n        return {\n          json: {\n            project_id: projectId,\n            skipped: true,\n            reason: `Ideas already generated for ${runDate} (pass force=true to regenerate)`,\n            run_date: runDate,\n            via_webhook: data.via_webhook\n          }\n        };\n      }\n    }\n  } catch (_) { /* non-fatal — proceed */ }\n}\n\n// 2. Load context (parallel where safe)\nconst recentTopicsUrl = `${supabaseUrl}/rest/v1/topics?project_id=eq.${projectId}&status=eq.published&select=seo_title,selected_title,original_title&order=published_at.desc.nullslast&limit=20`;\nconst keywordsUrl = `${supabaseUrl}/rest/v1/keywords?project_id=eq.${projectId}&select=keyword,opportunity_score&order=opportunity_score.desc.nullslast&limit=10`;\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString();\nconst outliersUrl = `${supabaseUrl}/rest/v1/competitor_videos?project_id=eq.${projectId}&is_outlier=eq.true&published_at=gte.${sevenDaysAgo}&select=title,channel_name:competitor_channel_id,views_7d,outlier_ratio&order=outlier_ratio.desc&limit=10`;\nconst synthesisUrl = `${supabaseUrl}/rest/v1/competitor_intelligence?project_id=eq.${projectId}&select=weekly_synthesis&order=created_at.desc&limit=1`;\n\nlet recentTopics = [];\nlet keywords = [];\nlet outlierVideos = [];\nlet weeklySynthesis = '';\n\ntry { recentTopics = await sbGet(recentTopicsUrl, 'fetch topics'); } catch (_) {}\ntry { keywords = await sbGet(keywordsUrl, 'fetch keywords'); } catch (_) {}\ntry { outlierVideos = await sbGet(outliersUrl, 'fetch outliers'); } catch (_) {}\ntry {\n  const synthArr = await sbGet(synthesisUrl, 'fetch synthesis');\n  weeklySynthesis = (synthArr && synthArr[0] && synthArr[0].weekly_synthesis) ? String(synthArr[0].weekly_synthesis).slice(0, 2000) : '';\n} catch (_) {}\n\n// Resolve competitor channel names for outlier list (best-effort join)\nif (Array.isArray(outlierVideos) && outlierVideos.length > 0) {\n  const channelIds = Array.from(new Set(outlierVideos.map(v => v.channel_name).filter(Boolean)));\n  if (channelIds.length > 0) {\n    try {\n      const csv = channelIds.map(c => `\"${c}\"`).join(',');\n      const chArr = await sbGet(`${supabaseUrl}/rest/v1/competitor_channels?id=in.(${csv})&select=id,channel_name`, 'fetch channel names');\n      const nameMap = new Map((chArr || []).map(c => [c.id, c.channel_name]));\n      outlierVideos = outlierVideos.map(v => ({ ...v, channel_name: nameMap.get(v.channel_name) || 'competitor' }));\n    } catch (_) {\n      outlierVideos = outlierVideos.map(v => ({ ...v, channel_name: 'competitor' }));\n    }\n  }\n}\n\n// 3. Build the embedded prompt\nconst name = project.name || '(unnamed project)';\nconst niche = project.niche || '';\nconst nicheDesc = project.niche_description || '';\nconst rpmCat = project.niche_rpm_category || 'uncategorized';\nconst rpmMid = project.estimated_rpm_mid != null ? Number(project.estimated_rpm_mid) : 0;\n\nconst recentTopicsBlock = (recentTopics || []).map(t => `- ${t.selected_title || t.seo_title || t.original_title || '(untitled)'}`).join('\\n') || '(none yet)';\nconst keywordsBlock = (keywords || []).map(k => `- ${k.keyword} (opportunity ${k.opportunity_score != null ? k.opportunity_score : 'n/a'})`).join('\\n') || '(none loaded)';\nconst outliersBlock = (outlierVideos || []).map(v => `- \"${v.title}\" (${v.channel_name}, ${Number(v.views_7d || 0).toLocaleString()} views, ${Number(v.outlier_ratio || 0).toFixed(1)}x)`).join('\\n') || '(no breakouts detected)';\nconst synthesisBlock = weeklySynthesis ? `Latest competitor synthesis:\\n${weeklySynthesis}` : '';\n\nfunction buildPrompt(extraCount) {\n  const extraInstruction = extraCount ? `\\n\\n[FOLLOW-UP] Previous response returned fewer than 15 ideas. Generate ${extraCount} ADDITIONAL fresh ideas that do NOT overlap with anything already implied by the context above.` : '';\n  return `You are a YouTube content strategist. Generate 20 fresh video ideas for this channel.\n\nProject: ${name}\nNiche: ${niche} (${nicheDesc})\nRPM category: ${rpmCat} (estimated $${rpmMid}/1K views)\n\nRecent published topics (avoid duplicating these angles):\n${recentTopicsBlock}\n\nTop-opportunity keywords (prefer incorporating):\n${keywordsBlock}\n\nCompetitor outlier breakouts in last 7 days:\n${outliersBlock}\n\n${synthesisBlock}\n\nRULES:\n- Produce EXACTLY 20 ideas, ranked best-to-worst by combined_score.\n- No duplicates of recent topics or obvious rephrasings.\n- Mix evergreen hooks with timely topical angles (roughly 70/30).\n- Each idea must be a compelling YouTube title, not a generic topic.\n- For each, score 3 dimensions:\n  * viral_potential_score (0-100): how much algorithmic push energy does this topic have RIGHT NOW?\n  * seo_opportunity_score (0-100): search demand + competition inverse combined\n  * rpm_fit_score (0-100): does this topic fit the niche's premium-advertiser category?\n- combined_score = round(viral * 0.45 + seo * 0.35 + rpm_fit * 0.20)\n- For each idea, include a 2-3 sentence rationale that REFERENCES specific context signals.\n- target_chapters: optional 3-5 chapter breakdown if the idea is deep enough.\n- related_keywords: 3-5 keywords this idea naturally targets.${extraInstruction}\n\nReturn ONLY valid JSON (no markdown):\n{\n  \"ideas\": [\n    {\n      \"idea_title\": \"<string, 55-70 chars>\",\n      \"idea_angle\": \"<1 sentence hook>\",\n      \"target_chapters\": [\"<chapter 1>\", \"<chapter 2>\"],\n      \"viral_potential_score\": <int>,\n      \"seo_opportunity_score\": <int>,\n      \"rpm_fit_score\": <int>,\n      \"combined_score\": <int>,\n      \"rationale\": \"<2-3 sentences tying to specific context signals>\",\n      \"related_keywords\": [\"<kw>\", \"<kw>\"],\n      \"source_signals\": {\"competitor_titles\": [\"<title>\"], \"trending_keywords\": [\"<kw>\"], \"recent_topics\": []}\n    }\n  ]\n}`;\n}\n\n// 4. Claude Opus 4.6 call with inline backoff (1s -> 2s -> 4s -> 8s, max 4, 30s cap)\nasync function callClaude(promptText, maxRetries = 4) {\n  let lastErr = null;\n  for (let attempt = 1; attempt <= maxRetries; attempt++) {\n    try {\n      const res = await fetch('https://api.anthropic.com/v1/messages', {\n        method: 'POST',\n        headers: {\n          'x-api-key': anthropicKey,\n          'anthropic-version': '2023-06-01',\n          'content-type': 'application/json'\n        },\n        body: JSON.stringify({\n          model: 'claude-opus-4-6',\n          max_tokens: 4000,\n          messages: [{ role: 'user', content: promptText }]\n        })\n      });\n      if (res.ok) {\n        const body = await res.json();\n        return {\n          ok: true,\n          text: body.content?.[0]?.text || '',\n          input_tokens: body.usage?.input_tokens || 0,\n          output_tokens: body.usage?.output_tokens || 0,\n          attempts: attempt\n        };\n      }\n      const errBody = await res.text();\n      if (res.status === 429) await sleep(30000);\n      lastErr = new Error(`HTTP ${res.status}: ${errBody.slice(0, 300)}`);\n      if (res.status >= 400 && res.status < 500 && res.status !== 429) break;\n    } catch (e) { lastErr = e; }\n    if (attempt < maxRetries) await sleep(Math.min(1000 * Math.pow(2, attempt - 1), 30000));\n  }\n  return { ok: false, error: lastErr?.message || 'opus_daily_ideas failed', attempts: maxRetries };\n}\n\nfunction parseIdeasJson(text) {\n  if (!text) return null;\n  const clean = text.replace(/```json|```/g, '').trim();\n  try { const parsed = JSON.parse(clean); return parsed && Array.isArray(parsed.ideas) ? parsed.ideas : null; } catch {}\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { const parsed = JSON.parse(m[0]); return parsed && Array.isArray(parsed.ideas) ? parsed.ideas : null; } catch {} }\n  return null;\n}\n\nfunction clampScore(n) { const v = Number(n); if (!Number.isFinite(v)) return 50; return Math.max(0, Math.min(100, Math.round(v))); }\nfunction sanitizeString(s, maxLen) { return String(s == null ? '' : s).slice(0, maxLen); }\nfunction sanitizeArray(arr, maxItems, maxStrLen) {\n  if (!Array.isArray(arr)) return [];\n  return arr.slice(0, maxItems).map(x => sanitizeString(x, maxStrLen)).filter(x => x.length > 0);\n}\n\nconst claudeStart = Date.now();\nconst firstRes = await callClaude(buildPrompt(0), 4);\nlet rawIdeas = firstRes.ok ? parseIdeasJson(firstRes.text) : null;\nlet totalInputTokens = firstRes.input_tokens || 0;\nlet totalOutputTokens = firstRes.output_tokens || 0;\nlet totalAttempts = firstRes.attempts || 0;\nlet firstError = firstRes.ok ? null : firstRes.error;\n\n// Single top-up retry if under 15\nif (rawIdeas && rawIdeas.length > 0 && rawIdeas.length < 8) {\n  const need = 20 - rawIdeas.length;\n  const topUpRes = await callClaude(buildPrompt(need), 4);\n  if (topUpRes.ok) {\n    const extra = parseIdeasJson(topUpRes.text) || [];\n    rawIdeas = rawIdeas.concat(extra);\n    totalInputTokens += topUpRes.input_tokens || 0;\n    totalOutputTokens += topUpRes.output_tokens || 0;\n    totalAttempts += topUpRes.attempts || 0;\n  }\n}\n\nconst claudeDuration = Date.now() - claudeStart;\n\n// 5. Validate — require 15-20 ideas. If <15, bail without inserting.\nif (!rawIdeas || rawIdeas.length < 8) {\n  await logProduction('opus_insufficient_ideas', 'error', claudeDuration, 0, totalAttempts, null);\n  return {\n    json: {\n      success: false,\n      project_id: projectId,\n      error: rawIdeas ? `Only ${rawIdeas.length} ideas returned (need 15+)` : (firstError || 'Claude returned no valid ideas'),\n      ideas_inserted: 0,\n      claude_ok: firstRes.ok,\n      run_date: runDate,\n      via_webhook: data.via_webhook\n    }\n  };\n}\n\n// Clamp to 20 max\nif (rawIdeas.length > 20) rawIdeas = rawIdeas.slice(0, 20);\n\n// 6. Generate batch_id (UUID v4) locally — same for all rows in this run\nfunction uuidv4() {\n  // RFC 4122 v4 — hex chars, no crypto dependency\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = (Math.random() * 16) | 0;\n    const v = c === 'x' ? r : (r & 0x3) | 0x8;\n    return v.toString(16);\n  });\n}\nconst batchId = uuidv4();\n\n// 7. Build insert payload with authoritative combined_score recomputation\nconst nowIso = new Date().toISOString();\nconst rows = rawIdeas.map((idea, idx) => {\n  const viral = clampScore(idea.viral_potential_score);\n  const seo = clampScore(idea.seo_opportunity_score);\n  const rpmFit = clampScore(idea.rpm_fit_score);\n  const combined = Math.round(viral * 0.45 + seo * 0.35 + rpmFit * 0.20);\n\n  // target_chapters: JSONB array of strings\n  let targetChapters = null;\n  if (Array.isArray(idea.target_chapters)) {\n    const arr = sanitizeArray(idea.target_chapters, 5, 200);\n    targetChapters = arr.length > 0 ? arr : null;\n  }\n\n  // source_signals: JSONB\n  let sourceSignals = null;\n  if (idea.source_signals && typeof idea.source_signals === 'object') {\n    sourceSignals = {\n      competitor_titles: sanitizeArray(idea.source_signals.competitor_titles, 5, 300),\n      trending_keywords: sanitizeArray(idea.source_signals.trending_keywords, 5, 100),\n      recent_topics: sanitizeArray(idea.source_signals.recent_topics, 5, 300)\n    };\n  }\n\n  // related_keywords: JSONB array\n  const relatedKeywords = sanitizeArray(idea.related_keywords, 5, 100);\n\n  return {\n    project_id: projectId,\n    run_date: runDate,\n    batch_id: batchId,\n    position_in_batch: idx + 1,\n    idea_title: sanitizeString(idea.idea_title, 300) || `Idea ${idx + 1}`,\n    idea_angle: sanitizeString(idea.idea_angle, 1000),\n    target_chapters: targetChapters,\n    viral_potential_score: viral,\n    seo_opportunity_score: seo,\n    rpm_fit_score: rpmFit,\n    combined_score: combined,\n    rationale: sanitizeString(idea.rationale, 2000),\n    source_signals: sourceSignals,\n    related_keywords: relatedKeywords.length > 0 ? relatedKeywords : null,\n    status: 'pending',\n    status_changed_at: nowIso\n  };\n});\n\n// Re-sort by combined_score DESC and renumber position_in_batch (authoritative)\nrows.sort((a, b) => b.combined_score - a.combined_score);\nrows.forEach((r, i) => { r.position_in_batch = i + 1; });\n\n// 8. Bulk INSERT — single array body with return=minimal.\n// Fallback: if bulk fails, try one-by-one to salvage what we can.\nlet ideasInserted = 0;\nlet insertError = null;\ntry {\n  const bulkRes = await fetch(`${supabaseUrl}/rest/v1/daily_ideas`, {\n    method: 'POST',\n    headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n    body: JSON.stringify(rows)\n  });\n  if (bulkRes.ok) {\n    ideasInserted = rows.length;\n  } else {\n    insertError = `bulk insert HTTP ${bulkRes.status}: ${(await bulkRes.text()).slice(0, 200)}`;\n  }\n} catch (e) {\n  insertError = e.message;\n}\n\nif (ideasInserted === 0 && insertError) {\n  // Fallback: insert one row at a time\n  for (const row of rows) {\n    try {\n      const oneRes = await fetch(`${supabaseUrl}/rest/v1/daily_ideas`, {\n        method: 'POST',\n        headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n        body: JSON.stringify(row)\n      });\n      if (oneRes.ok) ideasInserted += 1;\n    } catch (_) { /* continue */ }\n  }\n}\n\n// 9. Cost estimate — Opus 4.6 pricing: $15/M input, $75/M output\nconst claudeCostUsd = ((totalInputTokens * 15) + (totalOutputTokens * 75)) / 1_000_000;\nconst costRounded = Math.round(claudeCostUsd * 10000) / 10000;\n\nconst finalStatus = (ideasInserted >= 15) ? 'success' : (ideasInserted > 0 ? 'partial' : 'error');\nawait logProduction('opus_generate_ideas', finalStatus, Date.now() - runStart, costRounded, totalAttempts, null);\n\nreturn {\n  json: {\n    success: ideasInserted >= 15,\n    project_id: projectId,\n    batch_id: batchId,\n    run_date: runDate,\n    ideas_generated: rows.length,\n    ideas_inserted: ideasInserted,\n    insert_error: insertError,\n    claude_ok: firstRes.ok,\n    claude_cost_usd: costRounded,\n    claude_input_tokens: totalInputTokens,\n    claude_output_tokens: totalOutputTokens,\n    duration_ms: Date.now() - runStart,\n    via_webhook: data.via_webhook\n  }\n};"
      }
    },
    {
      "id": "code-ideas-summarize",
      "name": "Summarize Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        310
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Summarize all per-project results into a single response payload.\nconst items = $input.all().map(i => i.json || {});\n\n// If the first item is a top-level skipped/error envelope (no per-project iteration), pass through.\nif (items.length === 1 && items[0].skipped && !items[0].project_id) {\n  return [{ json: { ...items[0], http_status: 200 } }];\n}\n\nconst projectsTotal = items.length;\nconst projectsGenerated = items.filter(r => r.success === true).length;\nconst projectsSkipped = items.filter(r => r.skipped === true).length;\nconst projectsFailed = items.filter(r => r.success === false && !r.skipped).length;\nconst totalIdeasInserted = items.reduce((a, r) => a + (Number(r.ideas_inserted) || 0), 0);\nconst totalCostUsd = items.reduce((a, r) => a + (Number(r.claude_cost_usd) || 0), 0);\n\nconst viaWebhook = items.some(r => r.via_webhook === true);\nconst runDate = items.find(r => r.run_date)?.run_date || new Date().toISOString().slice(0, 10);\n\nreturn [{\n  json: {\n    success: projectsGenerated > 0 || projectsSkipped === projectsTotal,\n    run_date: runDate,\n    projects_total: projectsTotal,\n    projects_generated: projectsGenerated,\n    projects_skipped: projectsSkipped,\n    projects_failed: projectsFailed,\n    total_ideas_inserted: totalIdeasInserted,\n    total_cost_usd: Math.round(totalCostUsd * 10000) / 10000,\n    per_project: items.map(r => ({\n      project_id: r.project_id,\n      success: r.success === true,\n      skipped: r.skipped === true,\n      ideas_inserted: r.ideas_inserted || 0,\n      error: r.error || r.insert_error || null\n    })),\n    via_webhook: viaWebhook,\n    http_status: 200\n  }\n}];"
      }
    },
    {
      "id": "respond-ideas",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        310
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize + Scope Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize + Scope Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Scope Projects": {
      "main": [
        [
          {
            "node": "Process Project Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Project Ideas": {
      "main": [
        [
          {
            "node": "Summarize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run": {
      "main": [
        [
          {
            "node": "Respond To Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true
}
