workflows/WF_I2V_GENERATION.json
{
  "name": "WF_I2V_GENERATION",
  "description": null,
  "active": true,
  "nodes": [
    {
      "id": "webhook-i2v-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/i2v",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-i2v-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-i2v",
      "name": "Check Auth Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-i2v",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-i2v",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "respond-i2v-accepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { message: 'I2V generation started', topic_id: $json.body.topic_id } }) }}",
        "options": {}
      }
    },
    {
      "id": "load-pending-scenes",
      "name": "Load Pending Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $('Webhook Trigger').item.json.body.topic_id }}"
            },
            {
              "name": "visual_type",
              "value": "=eq.i2v"
            },
            {
              "name": "video_status",
              "value": "=eq.pending"
            },
            {
              "name": "order",
              "value": "scene_number.asc"
            },
            {
              "name": "select",
              "value": "id,topic_id,project_id,scene_number,scene_id,image_prompt,image_url,visual_type,chapter"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "log-i2v-started",
      "name": "Log I2V Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: Array.isArray($json) && $json[0] ? $json[0].project_id : null, topic_id: $('Webhook Trigger').item.json.body.topic_id, stage: 'i2v', action: 'started', details: { pending_scenes: Array.isArray($json) ? $json.length : 0, model: 'fal-ai/wan-25-preview/image-to-video' } }) }}",
        "options": {}
      }
    },
    {
      "id": "prepare-i2v-data",
      "name": "Prepare I2V Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "jsCode": "// Prepare scene data for sub-workflow processing\n// Filter out scenes where image_url is null (image generation failed/skipped)\nconst scenes = $('Load Pending Scenes').all().map(i => i.json);\nconst topicId = $('Webhook Trigger').item.json.body.topic_id;\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  return [{\n    json: {\n      scenes: [],\n      topic_id: topicId,\n      total_scenes: 0,\n      scenes_skipped_no_image: 0,\n      skip_processing: true\n    }\n  }];\n}\n\n// I2V requires image_url from prior image generation step\nconst validScenes = scenes.filter(s => s.image_url);\nconst skippedNoImage = scenes.length - validScenes.length;\n\nreturn [{\n  json: {\n    scenes: validScenes,\n    topic_id: validScenes[0]?.topic_id || topicId,\n    project_id: validScenes[0]?.project_id || null,\n    total_scenes: validScenes.length,\n    scenes_skipped_no_image: skippedNoImage,\n    skip_processing: validScenes.length === 0\n  }\n}];"
      }
    },
    {
      "id": "if-has-scenes",
      "name": "If Has Scenes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1570,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-scenes-check",
              "leftValue": "={{ $json.skip_processing }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fire-all-scenes-i2v",
      "name": "Fire All Scenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        100
      ],
      "parameters": {
        "jsCode": "// Fire sub-workflow for each scene — 2 at a time, 10s between batches\n// Avoids Fal.ai 429 rate limits\nconst { execFileSync, execSync } = require('child_process');\n\nconst data = $input.first().json;\nconst scenes = data.scenes || [];\nconst topicId = data.topic_id;\nconst projectId = data.project_id;\nconst webhookUrl = 'http://localhost:5678/webhook/process-scene/i2v';\nconst token = $env.DASHBOARD_API_TOKEN;\n\nconst BATCH_SIZE = 2;\nconst BATCH_DELAY_SEC = 10;\nlet fired = 0;\n\nfor (let i = 0; i < scenes.length; i += BATCH_SIZE) {\n  const batch = scenes.slice(i, i + BATCH_SIZE);\n\n  for (const scene of batch) {\n    try {\n      execFileSync('curl', [\n        '-s', '-o', '/dev/null',\n        '-X', 'POST', webhookUrl,\n        '-H', 'Content-Type: application/json',\n        '-H', 'Authorization: Bearer ' + token,\n        '-d', JSON.stringify({\n          scene_id: scene.id,\n          image_prompt: scene.image_prompt,\n          image_url: scene.image_url,\n          topic_id: topicId,\n          project_id: projectId\n        }),\n        '--connect-timeout', '3',\n        '--max-time', '5'\n      ]);\n      fired++;\n    } catch (e) { /* fire-and-forget */ }\n  }\n\n  if (i + BATCH_SIZE < scenes.length) {\n    await new Promise(function(r){setTimeout(r, (BATCH_DELAY_SEC)*1000);});\n  }\n}\n\nreturn [{ json: { topic_id: topicId, project_id: projectId, fired, total: scenes.length, batch_size: BATCH_SIZE, delay_sec: BATCH_DELAY_SEC } }];"
      }
    },
    {
      "id": "wait-for-processing-i2v",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2010,
        100
      ],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      }
    },
    {
      "id": "check-pending-i2v",
      "name": "Check Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2230,
        100
      ],
      "parameters": {
        "jsCode": "// Check how many I2V scenes are still pending\nconst { execFileSync } = require('child_process');\n\nconst topicId = $input.first().json.topic_id;\nconst projectId = $input.first().json.project_id;\nconst url = $env.SUPABASE_URL + '/rest/v1/scenes?topic_id=eq.' + topicId + '&visual_type=eq.i2v&video_status=eq.pending&select=id';\n\nconst result = execFileSync('curl', [\n  '-s', url,\n  '-H', 'apikey: ' + $env.SUPABASE_ANON_KEY,\n  '-H', 'Authorization: Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY\n]).toString();\n\nconst pending = JSON.parse(result);\nconst count = Array.isArray(pending) ? pending.length : 0;\n\nreturn [{ json: { pending_count: count, topic_id: topicId, project_id: projectId } }];"
      }
    },
    {
      "id": "if-all-done-i2v",
      "name": "If All Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2450,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "all-done-check",
              "leftValue": "={{ $json.pending_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "compile-summary-i2v",
      "name": "Compile Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2670,
        0
      ],
      "parameters": {
        "jsCode": "// Gather final I2V generation stats from Supabase\nconst { execFileSync } = require('child_process');\n\nconst topicId = $input.first().json.topic_id;\nconst projectId = $input.first().json.project_id;\nconst hdr = ['-H', 'apikey: ' + $env.SUPABASE_ANON_KEY, '-H', 'Authorization: Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY];\n\nconst uploaded = JSON.parse(execFileSync('curl', ['-s', $env.SUPABASE_URL + '/rest/v1/scenes?topic_id=eq.' + topicId + '&visual_type=eq.i2v&video_status=eq.uploaded&select=id', ...hdr]).toString());\nconst failed = JSON.parse(execFileSync('curl', ['-s', $env.SUPABASE_URL + '/rest/v1/scenes?topic_id=eq.' + topicId + '&visual_type=eq.i2v&video_status=eq.failed&select=id', ...hdr]).toString());\n\nconst completed = Array.isArray(uploaded) ? uploaded.length : 0;\nconst failedCount = Array.isArray(failed) ? failed.length : 0;\nconst totalCost = completed * 0.25;\n\nexecFileSync('curl', ['-s', '-X', 'PATCH', $env.SUPABASE_URL + '/rest/v1/topics?id=eq.' + topicId, ...hdr, '-H', 'Content-Type: application/json', '-H', 'Prefer: return=minimal', '-d', JSON.stringify({ i2v_progress: 'complete' })]).toString();\n\nreturn [{ json: { topic_id: topicId, project_id: projectId, completed, failed: failedCount, skipped_no_image: 0, total_cost: totalCost, stopped: false } }];"
      }
    },
    {
      "id": "log-i2v-completed",
      "name": "Log I2V Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2890,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $json.project_id, topic_id: $json.topic_id, stage: 'i2v', action: $json.stopped ? 'stopped' : 'completed', details: { completed: $json.completed, failed: $json.failed, skipped_no_image: $json.skipped_no_image, total_cost: $json.total_cost } }) }}",
        "options": {}
      }
    },
    {
      "id": "completion-sync-i2v",
      "name": "Parallel Completion Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3110,
        0
      ],
      "parameters": {
        "jsCode": "// Parallel completion sync: check if ALL visual scenes are done\n// FIXED: Correct completion logic per visual_type\n// FIXED: Get topic_id from Webhook Trigger as fallback (HTTP Request nodes lose data)\nconst { execFileSync } = require('child_process');\n\nconst data = $input.first().json;\nconst topicId = data.topic_id || $('Webhook Trigger').item.json.body.topic_id;\nconst projectId = data.project_id || $('Webhook Trigger').item.json.body.project_id;\nconst hdr = ['-H', 'apikey: ' + $env.SUPABASE_ANON_KEY, '-H', 'Authorization: Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY];\n\nconst supaGet = (path) => JSON.parse(execFileSync('curl', ['-s', $env.SUPABASE_URL + '/rest/v1/' + path, ...hdr]).toString());\n\nif (data.stopped) {\n  return [{ json: { ...data, topic_id: topicId, project_id: projectId, assembly_claimed: false, reason: 'stopped' } }];\n}\n\n// Count completed scenes correctly:\n// static_image: done when image_status=uploaded\n// i2v/t2v: done when video_status=uploaded\n// any: done when skipped=true\nconst staticDone = supaGet('scenes?topic_id=eq.' + topicId + '&visual_type=eq.static_image&image_status=eq.uploaded&select=id');\nconst videoDone = supaGet('scenes?topic_id=eq.' + topicId + '&visual_type=in.(i2v,t2v)&video_status=eq.uploaded&select=id');\nconst skipped = supaGet('scenes?topic_id=eq.' + topicId + '&skipped=eq.true&select=id');\nconst completedCount = (Array.isArray(staticDone) ? staticDone.length : 0) + (Array.isArray(videoDone) ? videoDone.length : 0) + (Array.isArray(skipped) ? skipped.length : 0);\n\nconst totalScenes = supaGet('scenes?topic_id=eq.' + topicId + '&visual_type=in.(static_image,i2v,t2v)&select=id');\nconst totalCount = Array.isArray(totalScenes) ? totalScenes.length : 0;\n\nlet assemblyClaimed = false;\nif (completedCount >= totalCount && totalCount > 0) {\n  const r = execFileSync('curl', ['-s', '-X', 'PATCH', $env.SUPABASE_URL + '/rest/v1/topics?id=eq.' + topicId + '&assembly_status=eq.pending', ...hdr, '-H', 'Content-Type: application/json', '-H', 'Prefer: return=representation', '-d', JSON.stringify({ assembly_status: 'starting' })]).toString();\n  const claimResult = JSON.parse(r);\n  assemblyClaimed = Array.isArray(claimResult) && claimResult.length > 0;\n}\n\nreturn [{ json: { ...data, topic_id: topicId, project_id: projectId, completed_visual_scenes: completedCount, total_visual_scenes: totalCount, assembly_claimed: assemblyClaimed } }];"
      }
    },
    {
      "id": "if-assembly-claimed",
      "name": "If Assembly Claimed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3330,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "assembly-check",
              "leftValue": "={{ $json.assembly_claimed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fire-assembly-i2v",
      "name": "Fire Assembly Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3550,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/production/assembly",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $json.topic_id }) }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": false
        }
      }
    },
    {
      "id": "exit-no-assembly-i2v",
      "name": "Exit No Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3550,
        100
      ],
      "parameters": {
        "jsCode": "return [{ json: { message: 'I2V generation complete. Assembly claimed by another workflow or not yet ready.', ...$input.first().json } }];"
      }
    },
    {
      "id": "skip-to-sync-i2v",
      "name": "Skip To Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        300
      ],
      "parameters": {
        "jsCode": "// No scenes to process - go directly to completion sync\nreturn [{ json: { topic_id: $input.first().json.topic_id, project_id: null, completed: 0, failed: 0, skipped_no_image: 0, total_cost: 0, stopped: false } }];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Token": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Load Pending Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Pending Scenes": {
      "main": [
        [
          {
            "node": "Log I2V Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log I2V Started": {
      "main": [
        [
          {
            "node": "Prepare I2V Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare I2V Data": {
      "main": [
        [
          {
            "node": "If Has Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Scenes": {
      "main": [
        [
          {
            "node": "Fire All Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip To Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire All Scenes": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pending": {
      "main": [
        [
          {
            "node": "If All Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If All Done": {
      "main": [
        [
          {
            "node": "Compile Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Summary": {
      "main": [
        [
          {
            "node": "Log I2V Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log I2V Completed": {
      "main": [
        [
          {
            "node": "Parallel Completion Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip To Sync": {
      "main": [
        [
          {
            "node": "Parallel Completion Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parallel Completion Sync": {
      "main": [
        [
          {
            "node": "If Assembly Claimed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Assembly Claimed": {
      "main": [
        [
          {
            "node": "Fire Assembly Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit No Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null
}