workflows/WF_KEN_BURNS__ASLXbJYJn6WBAJG5.json
{
  "name": "WF_KEN_BURNS",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/ken-burns",
        "authentication": "none",
        "options": {},
        "multipleMethods": false
      },
      "webhookId": "ken-burns-trigger"
    },
    {
      "id": "query-1",
      "name": "Get Pending Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/scenes?topic_id=eq.{{$json.body.topic_id}}&clip_status=eq.pending&image_url=not.is.null&select=id,scene_number,image_url,zoom_direction,color_mood,selective_color_element,audio_duration_ms&order=scene_number.asc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "check-1",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "condition-1774718757387-y9zwhubmq"
            }
          ]
        }
      }
    },
    {
      "id": "split-1",
      "name": "Process Each Scene",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "code-1",
      "name": "Run Ken Burns FFmpeg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Ken Burns: download image → inline FFmpeg zoompan → return clip path.\n// Register-aware motion presets. Cap: zoom velocity ≤ 0.001 u/frame @30fps.\n// Scene-position routing: scene_number===1 = 'hero', else cycle through\n// the register's 3 regular presets by scene_number % 3.\n\nconst scene = $input.first().json;\nconst topicId = $('Webhook Trigger').first().json.body.topic_id;\nconst sceneNum = String(scene.scene_number).padStart(3, '0');\nconst duration = scene.audio_duration_ms ? (scene.audio_duration_ms / 1000).toFixed(2) : '7';\nconst register = scene.production_register || null;\n// ── Per-register LUT3D path (replaces R3 eq+colorbalance soft-LUT chain)\nconst LUT_BASE = '/tmp/production/luts';\nconst LUT_MAP = {\n  REGISTER_01_ECONOMIST: LUT_BASE + '/register_01_economist.cube',\n  REGISTER_02_PREMIUM:   LUT_BASE + '/register_02_premium.cube',\n  REGISTER_03_NOIR:      LUT_BASE + '/register_03_noir.cube',\n  REGISTER_04_SIGNAL:    LUT_BASE + '/register_04_signal.cube',\n  REGISTER_05_ARCHIVE:   LUT_BASE + '/register_05_archive.cube'\n};\n// Archive era sub-LUTs — pick based on register_era_detected (stamped on topic)\n\n// ── Per-register signature overlay PNG (hero scene only — scene_number === 1)\nconst SIG_OVERLAY_BASE = '/tmp/production/overlays';\nconst SIG_OVERLAY_MAP = {\n  REGISTER_01_ECONOMIST: SIG_OVERLAY_BASE + '/register_01_economist.png',\n  REGISTER_02_PREMIUM:   SIG_OVERLAY_BASE + '/register_02_premium.png',\n  REGISTER_03_NOIR:      SIG_OVERLAY_BASE + '/register_03_noir.png',\n  REGISTER_04_SIGNAL:    SIG_OVERLAY_BASE + '/register_04_signal.png',\n  REGISTER_05_ARCHIVE:   SIG_OVERLAY_BASE + '/register_05_archive.png'\n};\nconst SIG_ARCHIVE_ERA = {\n  '1920s': SIG_OVERLAY_BASE + '/register_05_archive_1920s.png',\n  '1960s': SIG_OVERLAY_BASE + '/register_05_archive_1960s.png',\n  '1980s': SIG_OVERLAY_BASE + '/register_05_archive_1980s.png',\n  '2000s': SIG_OVERLAY_BASE + '/register_05_archive_2000s.png'\n};\n\nconst ARCHIVE_ERA_MAP = {\n  '1920s': LUT_BASE + '/register_05_archive_1920s.cube',\n  '1960s': LUT_BASE + '/register_05_archive_1960s.cube',\n  '1980s': LUT_BASE + '/register_05_archive_1980s.cube',\n  '2000s': LUT_BASE + '/register_05_archive_2000s.cube',\n  'modern': LUT_BASE + '/register_05_archive.cube'\n};\n\n// Fetch topic's era once (inline HTTP — lightweight, once per scene is fine for 161 scenes)\nlet registerEra = null;\nif (register === 'REGISTER_05_ARCHIVE') {\n  try {\n    const eraResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${$env.SUPABASE_URL}/rest/v1/topics?id=eq.${topicId}&select=register_era_detected`,\n      headers: { 'apikey': $env.SUPABASE_ANON_KEY, 'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}` }\n    });\n    const parsed = Array.isArray(eraResp) ? eraResp : (typeof eraResp === 'string' ? JSON.parse(eraResp) : eraResp);\n    if (parsed && parsed[0]) { registerEra = parsed[0].register_era_detected || null; }\n  } catch (e) { /* era lookup is optional */ }\n}\n\nlet lutPath = null;\nif (register === 'REGISTER_05_ARCHIVE' && registerEra && ARCHIVE_ERA_MAP[registerEra]) {\n  lutPath = ARCHIVE_ERA_MAP[registerEra];\n} else if (register && LUT_MAP[register]) {\n  lutPath = LUT_MAP[register];\n}\n\nconst imgPath = `/tmp/production/kb_${topicId}_${sceneNum}.png`;\nconst clipPath = `/tmp/production/kb_${topicId}_${sceneNum}.mp4`;\nconst fps = 30;\nconst frames = Math.max(30, Math.round(parseFloat(duration) * fps));\n\n// ── Per-register preset library ────────────────────────────────────────────\n// Each preset is a zoompan filter string. {D}=frames.\n// Z/X/Y expressions use 'on' (frame index) to produce smooth, capped motion.\n//\n// Presets mapped to register × scene_position. 'hero' is the first scene;\n// regular scenes cycle regular_a/b/c.\n\nconst PRESETS = {\n  // R01 Economist — slow push default, documentary feel (0.0015 u/frame)\n  REGISTER_01_ECONOMIST: {\n    hero:       \"zoompan=z='if(eq(on,0),1.15,max(1.0,1.15-on*0.0005))':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_a:  \"zoompan=z='min(1.15,1.0+on*0.0005)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_b:  \"zoompan=z='min(1.08,1.0+on*0.0003)':d=${frames}:x='min(iw-iw/zoom,(iw-iw/zoom)*on/${frames})':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_c:  \"zoompan=z='min(1.10,1.02+on*0.00025)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\"\n  },\n  // R02 Premium — breath-paced, gentle (0.0008 u/frame)\n  REGISTER_02_PREMIUM: {\n    hero:       \"zoompan=z='min(1.10,1.02+on*0.0003)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_a:  \"zoompan=z='min(1.08,1.02+on*0.00025)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_b:  \"zoompan=z='if(eq(on,0),1.08,max(1.02,1.08-on*0.0003))':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_c:  \"zoompan=z='min(1.06,1.02+on*0.0002)':d=${frames}:x='max(0,(iw-iw/zoom)*(1-on/${frames}))':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\"\n  },\n  // R03 Noir — creeping, tense (0.0003 u/frame, very slow)\n  REGISTER_03_NOIR: {\n    hero:       \"zoompan=z='min(1.08,1.0+on*0.00028)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_a:  \"zoompan=z='min(1.04,1.0+on*0.00015)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_b:  \"zoompan=z='min(1.06,1.02+on*0.00015)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)+on*0.3':s=1920x1080:fps=30\",\n    regular_c:  \"zoompan=z=1.02:d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\"\n  },\n  // R04 Signal — precision, sharper pace (0.002 u/frame but shorter)\n  REGISTER_04_SIGNAL: {\n    hero:       \"zoompan=z='min(1.12,1.0+on*0.0007)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_a:  \"zoompan=z='min(1.08,1.0+on*0.0005)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_b:  \"zoompan=z=1.0:d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_c:  \"zoompan=z='min(1.06,1.0+on*0.0004)':d=${frames}:x='min(iw-iw/zoom,(iw-iw/zoom)*on/${frames})':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\"\n  },\n  // R05 Archive — Ken Burns pan+zoom (classic documentary motion)\n  REGISTER_05_ARCHIVE: {\n    hero:       \"zoompan=z='min(1.18,1.05+on*0.0007)':d=${frames}:x='min(iw-iw/zoom,(iw-iw/zoom)*on/${frames})':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_a:  \"zoompan=z='min(1.15,1.05+on*0.0005)':d=${frames}:x='min(iw-iw/zoom,(iw-iw/zoom)*on/${frames})':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_b:  \"zoompan=z='min(1.12,1.05+on*0.0003)':d=${frames}:x='max(0,(iw-iw/zoom)*(1-on/${frames}))':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\",\n    regular_c:  \"zoompan=z='if(eq(on,0),1.15,max(1.02,1.15-on*0.0005))':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\"\n  }\n};\n\n\n// ── Per-register color grade (\"soft LUT\" — FFmpeg eq + colorbalance + curves)\n// Applied AFTER zoompan in the filter chain. Real .cube LUTs can drop in later.\nconst GRADES = {\n  // R01 Economist — muted documentary warmth\n  REGISTER_01_ECONOMIST: \"eq=contrast=1.05:saturation=0.88,colorbalance=rs=0.02:gs=0.00:bs=-0.02:rm=0.04:gm=0.00:bm=-0.03:rh=0.03:gh=0.01:bh=-0.04\",\n  // R02 Premium — golden Kodak Portra (teal shadows, amber highlights)\n  REGISTER_02_PREMIUM: \"eq=contrast=1.08:saturation=1.02:gamma=1.04,colorbalance=rs=-0.03:gs=-0.01:bs=0.06:rm=0.04:gm=0.02:bm=-0.03:rh=0.10:gh=0.05:bh=-0.08,curves=all='0/0 0.35/0.32 0.65/0.72 1/1'\",\n  // R03 Noir — desaturated bleach bypass, cold shadows, crushed blacks\n  REGISTER_03_NOIR: \"eq=contrast=1.18:saturation=0.55:brightness=-0.03:gamma=0.94,colorbalance=rs=-0.04:gs=0.00:bs=0.08:rm=0.00:gm=-0.02:bm=0.03:rh=0.03:gh=0.01:bh=-0.02,curves=all='0/0 0.18/0.10 0.55/0.55 0.85/0.92 1/1'\",\n  // R04 Signal — cool, high-contrast, clinical\n  REGISTER_04_SIGNAL: \"eq=contrast=1.14:saturation=0.95,colorbalance=rs=-0.04:gs=0.00:bs=0.08:rm=-0.02:gm=0.00:bm=0.05:rh=0.02:gh=0.04:bh=0.08,curves=all='0/0 0.25/0.20 0.75/0.80 1/1'\",\n  // R05 Archive — sepia warm-faded, lifted shadows, low saturation\n  REGISTER_05_ARCHIVE: \"eq=contrast=0.96:saturation=0.72:gamma=1.08:brightness=0.02,colorbalance=rs=0.06:gs=0.02:bs=-0.06:rm=0.08:gm=0.04:bm=-0.08:rh=0.10:gh=0.06:bh=-0.10\"\n};\n\nconst GRADE_FALLBACK = \"eq=saturation=0.95\";\nconst grade = (register && GRADES[register]) || GRADE_FALLBACK;\n\n// ── Per-register overlay filters (film grain + vignette intensity per spec)\n// Grain opacity matches video_production/README table: R01 8%, R02 6%, R03 12%, R04 5%, R05 15%.\n// Vignette strength per register's cinematic rule.\nconst OVERLAYS = {\n  REGISTER_01_ECONOMIST: \"noise=alls=4:allf=t+u,vignette=angle=PI/5\",\n  REGISTER_02_PREMIUM:   \"noise=alls=3:allf=t+u,vignette=angle=PI/4.5\",\n  REGISTER_03_NOIR:      \"noise=alls=8:allf=t+u,vignette=angle=PI/3\",\n  REGISTER_04_SIGNAL:    \"noise=alls=2:allf=t+u,vignette=angle=PI/6\",\n  REGISTER_05_ARCHIVE:   \"noise=alls=10:allf=t+u,vignette=angle=PI/3.5\"\n};\nconst OVERLAY_FALLBACK = \"vignette=angle=PI/5\";\nconst overlays = (register && OVERLAYS[register]) || OVERLAY_FALLBACK;\n\n\n// Fallback (no register): gentle push (matches old default zoom=in)\nconst FALLBACK = \"zoompan=z='min(1.10,1.0+on*0.0004)':d=${frames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080:fps=30\";\n\n// Pick preset\nlet presetTemplate = null;\nlet presetName = 'fallback';\nif (register && PRESETS[register]) {\n  const lib = PRESETS[register];\n  if (scene.scene_number === 1) {\n    presetTemplate = lib.hero;\n    presetName = 'hero';\n  } else {\n    const keys = ['regular_a', 'regular_b', 'regular_c'];\n    const k = keys[(scene.scene_number - 2) % keys.length];\n    presetTemplate = lib[k];\n    presetName = k;\n  }\n} else {\n  presetTemplate = FALLBACK;\n}\n\nconst zoompan = presetTemplate.replace(/\\${frames}/g, String(frames));\n\n// Download image\nconst { execSync } = require('child_process');\ntry {\n  execSync(`/usr/bin/curl -sL -o \"${imgPath}\" \"${scene.image_url}\"`, { timeout: 30000 });\n} catch (e) {\n  return [{ json: { success: false, scene_id: scene.id, scene_number: scene.scene_number, error: 'Image download failed: ' + e.message } }];\n}\n\n// Run Ken Burns inline (no shell script dependency)\n// Resolve signature overlay (hero scene only)\nlet sigOverlayPath = null;\nif (scene.scene_number === 1 && register) {\n  if (register === 'REGISTER_05_ARCHIVE' && registerEra && SIG_ARCHIVE_ERA[registerEra]) {\n    sigOverlayPath = SIG_ARCHIVE_ERA[registerEra];\n  } else if (SIG_OVERLAY_MAP[register]) {\n    sigOverlayPath = SIG_OVERLAY_MAP[register];\n  }\n}\n\nlet ffCmd;\nif (sigOverlayPath) {\n  // Hero scene with signature overlay — filter_complex with 2 inputs\n  ffCmd = `/usr/bin/ffmpeg -y -loop 1 -i \"${imgPath}\" -i \"${sigOverlayPath}\" -filter_complex \"[0:v]${vfChain}[g];[g][1:v]overlay=0:0:format=auto\" -t ${duration} -c:v libx264 -pix_fmt yuv420p -preset slow -crf 18 -r 30 \"${clipPath}\"`;\n} else {\n  ffCmd = `/usr/bin/ffmpeg -y -loop 1 -i \"${imgPath}\" -vf \"${vfChain}\" -t ${duration} -c:v libx264 -pix_fmt yuv420p -preset slow -crf 18 -r 30 \"${clipPath}\"`;\n}\ntry {\n  execSync(ffCmd, { timeout: 180000, stdio: ['ignore','ignore','pipe'] });\n} catch (e) {\n  try { execSync(`/bin/rm -f \"${imgPath}\"`); } catch(_) {}\n  return [{ json: { success: false, scene_id: scene.id, scene_number: scene.scene_number, error: 'FFmpeg failed: ' + String(e.message || e).slice(0, 300), register, preset: presetName } }];\n}\n\n// Cleanup input image\ntry { execSync(`/bin/rm -f \"${imgPath}\"`); } catch(_) {}\n\nreturn [{ json: {\n  success: true,\n  scene_id: scene.id,\n  scene_number: scene.scene_number,\n  clip_path: clipPath,\n  duration: parseFloat(duration),\n  register: register,\n  preset: presetName,\n  grade_applied: !!(register && GRADES[register]),\n  overlays_applied: !!(register && OVERLAYS[register]),\n  lut_used: lutPath || null,\n  register_era: registerEra || null,\n  signature_overlay_applied: !!sigOverlayPath\n} }];"
      }
    },
    {
      "id": "check-2",
      "name": "Ken Burns OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "condition-1774718757387-ri8aql9om"
            }
          ]
        }
      }
    },
    {
      "id": "update-1",
      "name": "Update Scene Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/scenes?id=eq.{{$json.scene_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"clip_status\": \"generated\", \"video_url\": \"file:///tmp/production/kb_\" + $json.scene_id + \".mp4\"}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "contentType": "json"
      }
    },
    {
      "id": "log-1",
      "name": "Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        350
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"topic_id\": \"\" + $('Webhook Trigger').first().json.body.topic_id + \"\", \"stage\": \"ken_burns\", \"scene_number\": \" + $json.scene_number + \", \"action\": \"ken_burns_generate\", \"status\": \"failed\", \"error_message\": \"\" + $json.error + \"\"}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "contentType": "json"
      }
    },
    {
      "id": "done-1",
      "name": "All Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {}
    },
    {
      "id": "update-topic-1",
      "name": "Update Topic Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        450
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{$('Webhook Trigger').first().json.body.topic_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pipeline_stage\": \"ken_burns\", \"ken_burns_progress\": \"complete\"}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "contentType": "json"
      }
    },
    {
      "id": "fire-assembly",
      "name": "Fire Assembly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        450
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/production/captions-assembly",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Webhook Trigger').first().json.body.topic_id, project_id: $('Webhook Trigger').first().json.body.project_id }) }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DASHBOARD_API_TOKEN}}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Scenes": {
      "main": [
        [
          {
            "node": "Any Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Pending?": {
      "main": [
        [
          {
            "node": "Process Each Scene",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Ken Burns FFmpeg": {
      "main": [
        [
          {
            "node": "Ken Burns OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ken Burns OK?": {
      "main": [
        [
          {
            "node": "Update Scene Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scene Status": {
      "main": [
        [
          {
            "node": "Process Each Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Process Each Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Done": {
      "main": [
        [
          {
            "node": "Update Topic Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Scene": {
      "main": [
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Ken Burns FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Topic Stage": {
      "main": [
        [
          {
            "node": "Fire Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": false
}
