workflows/WF_KINETIC_TRIGGER.json
{
  "name": "WF_KINETIC_TRIGGER",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kinetic/trigger",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-kinetic-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "kinetic-trigger-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst headers = input.headers || {};\nconst body = input.body || input;\n\n// Auth check\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst expectedToken = `Bearer ${$env.DASHBOARD_API_TOKEN}`;\n\nif (authHeader !== expectedToken) {\n  throw new Error('AUTH_FAILED');\n}\n\nconst topic_id = body.topic_id;\nif (!topic_id) {\n  throw new Error('topic_id is required');\n}\n\nreturn [{ json: { topic_id, authorized: true } }];"
      },
      "id": "validate-request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-kinetic",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-auth-valid",
      "name": "Check Auth Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-auth-failed",
      "name": "Auth Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $json.topic_id, message: 'Kinetic trigger accepted' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-200",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "read-topic",
      "name": "Read Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/projects?id=eq.{{ $('Read Topic').first().json[0].project_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "read-project",
      "name": "Read Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-production-style",
              "leftValue": "={{ $json[0].production_style }}",
              "rightValue": "kinetic_typography",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-production-style",
      "name": "Check Production Style",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Wrong production style — exit gracefully\nreturn [{ json: { skipped: true, reason: 'Project production_style is not kinetic_typography' } }];"
      },
      "id": "exit-wrong-style",
      "name": "Exit Wrong Style",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 560]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'kinetic_rendering', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "patch-topic-status",
      "name": "PATCH Topic Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const topic = $('Read Topic').first().json[0];\nconst project = $('Read Project').first().json[0];\n\n// Build the payload for the kinetic service\nconst payload = {\n  topic_id: topic.id,\n  project_id: topic.project_id,\n  seo_title: topic.seo_title || topic.original_title || 'Untitled',\n  script_json: topic.script_json,\n  script_metadata: topic.script_metadata,\n  word_count: topic.word_count,\n  scene_count: topic.scene_count,\n  niche: project.niche,\n  niche_description: project.niche_description || '',\n  style_dna: project.style_dna || '',\n  channel_style: project.channel_style || '2hr_documentary',\n  target_scene_count: project.target_scene_count || 172,\n  callback_url: `${$env.N8N_WEBHOOK_BASE || 'http://localhost:5678/webhook'}/kinetic/complete`\n};\n\nreturn [{ json: payload }];"
      },
      "id": "build-service-payload",
      "name": "Build Service Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3200/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-kinetic-service",
      "name": "Call Kinetic Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Validate Request').first().json.topic_id, project_id: $('Read Topic').first().json[0].project_id, stage: 'kinetic_trigger', action: 'started', details: { job_id: $json.job_id || null, service_response: $json.status || $json.error || 'sent', scene_count: $('Read Topic').first().json[0].scene_count || 0 } }) }}",
        "options": {}
      },
      "id": "log-started",
      "name": "Log Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Check Auth Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Valid": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic": {
      "main": [
        [
          {
            "node": "Read Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Project": {
      "main": [
        [
          {
            "node": "Check Production Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Production Style": {
      "main": [
        [
          {
            "node": "PATCH Topic Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit Wrong Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Topic Status": {
      "main": [
        [
          {
            "node": "Build Service Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Service Payload": {
      "main": [
        [
          {
            "node": "Call Kinetic Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Kinetic Service": {
      "main": [
        [
          {
            "node": "Log Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": []
}