workflows/WF_KINETIC_COMPLETE.json
{
  "name": "WF_KINETIC_COMPLETE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kinetic/complete",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-kinetic-complete",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "kinetic-complete-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst job_id = body.job_id;\nconst topic_id = body.topic_id;\nconst status = body.status || 'completed';\nconst drive_video_url = body.drive_video_url || null;\nconst drive_video_id = body.drive_video_id || null;\nconst output_path = body.output_path || null;\nconst duration_ms = body.duration_ms || null;\nconst total_frames = body.total_frames || null;\nconst error = body.error || null;\n\nif (!job_id && !topic_id) {\n  throw new Error('Either job_id or topic_id is required');\n}\n\nreturn [{ json: {\n  job_id,\n  topic_id,\n  status,\n  drive_video_url,\n  drive_video_id,\n  output_path,\n  duration_ms,\n  total_frames,\n  error,\n  is_success: status === 'completed' && !error\n} }];"
      },
      "id": "validate-request",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { job_id: $json.job_id, topic_id: $json.topic_id, acknowledged: true }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-200",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/kinetic_jobs?id=eq.{{ $('Validate').first().json.job_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "read-job",
      "name": "Read Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const validated = $('Validate').first().json;\nconst jobRows = $('Read Job').first().json;\nconst job = Array.isArray(jobRows) ? jobRows[0] : jobRows;\n\n// Resolve topic_id from either the callback payload or the job record\nconst topic_id = validated.topic_id || (job ? job.topic_id : null);\nconst project_id = job ? job.project_id : null;\n\nif (!topic_id) {\n  throw new Error('Could not resolve topic_id from callback or job record');\n}\n\n// Build topic PATCH\nconst topicPatch = {\n  last_status_change: new Date().toISOString()\n};\n\nif (validated.is_success) {\n  topicPatch.status = 'assembled';\n  topicPatch.assembly_status = 'complete';\n  topicPatch.images_progress = 'complete';\n  if (validated.drive_video_url) {\n    topicPatch.drive_video_url = validated.drive_video_url;\n  }\n} else {\n  topicPatch.status = 'failed';\n  topicPatch.assembly_status = 'failed';\n  topicPatch.error_log = validated.error || 'Kinetic rendering failed';\n}\n\n// Build job PATCH\nconst jobPatch = {\n  status: validated.is_success ? 'completed' : 'failed',\n  completed_at: new Date().toISOString()\n};\nif (validated.error) {\n  jobPatch.error_message = validated.error;\n}\nif (validated.output_path) {\n  jobPatch.output_path = validated.output_path;\n}\nif (validated.duration_ms) {\n  jobPatch.duration_ms = validated.duration_ms;\n}\n\nreturn [{ json: {\n  topic_id,\n  project_id,\n  job_id: validated.job_id,\n  topic_patch: topicPatch,\n  job_patch: jobPatch,\n  is_success: validated.is_success,\n  drive_video_url: validated.drive_video_url\n} }];"
      },
      "id": "build-patches",
      "name": "Build Patches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/kinetic_jobs?id=eq.{{ $json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.job_patch) }}",
        "options": {}
      },
      "id": "patch-job-complete",
      "name": "PATCH Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 360],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics?id=eq.{{ $('Build Patches').first().json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Build Patches').first().json.topic_patch) }}",
        "options": {}
      },
      "id": "patch-topic-assembled",
      "name": "PATCH Topic Assembled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Build Patches').first().json.topic_id, project_id: $('Build Patches').first().json.project_id, stage: 'kinetic_complete', action: $('Build Patches').first().json.is_success ? 'completed' : 'failed', details: { job_id: $('Build Patches').first().json.job_id, drive_video_url: $('Build Patches').first().json.drive_video_url || null, error: $('Build Patches').first().json.is_success ? null : ($('Build Patches').first().json.topic_patch.error_log || 'unknown') } }) }}",
        "options": {}
      },
      "id": "log-completed",
      "name": "Log Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 440],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $('Build Patches').first().json.is_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE || 'http://localhost:5678/webhook' }}/thumbnail/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Build Patches').first().json.topic_id }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fire-thumbnail",
      "name": "Fire Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 360],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Kinetic job failed — no downstream chaining\nreturn [{ json: { result: 'kinetic_failed', topic_id: $('Build Patches').first().json.topic_id, job_id: $('Build Patches').first().json.job_id } }];"
      },
      "id": "exit-failed",
      "name": "Exit Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 540]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Job": {
      "main": [
        [
          {
            "node": "Build Patches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Patches": {
      "main": [
        [
          {
            "node": "PATCH Job Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "PATCH Topic Assembled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Job Complete": {
      "main": [
        [
          {
            "node": "Log Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Topic Assembled": {
      "main": [
        [
          {
            "node": "Log Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Completed": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Fire Thumbnail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": []
}