workflows/WF_MUSIC_GENERATE.json
{"updatedAt":"2026-03-28T21:00:43.638Z","createdAt":"2026-03-28T18:03:42.309Z","id":"9L7LukuLWdnjH9x8","name":"WF_MUSIC_GENERATE","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger-1","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[250,300],"parameters":{}},{"id":"code-1","name":"Select Music Track","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Standalone Lyria music generation for Vision GridAI\n// Pattern adapted from t86SwvKbaux2G3o4 (reference workflow)\n// Flow: Read script from Supabase → AI analyze via Anthropic → Generate clips via Lyria → Merge + Loop → Upload to Drive\n\nconst input = $input.first().json;\nconst topicId = input.topic_id;\nconst projectId = input.project_id;\n\n// Step 1: Read script from Supabase\nconst topicResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${process.env.SUPABASE_URL}/rest/v1/topics?id=eq.${topicId}&select=script_json,word_count,seo_title`,\n  headers: { 'apikey': process.env.SUPABASE_ANON_KEY, 'Authorization': `Bearer ${process.env.SUPABASE_SERVICE_ROLE_KEY}` },\n});\n\nconst topic = topicResp?.[0];\nif (!topic?.script_json) {\n  return [{ json: { success: false, error: 'No script found for topic', topic_id: topicId } }];\n}\n\n// Extract script text from scenes\nconst scenes = Array.isArray(topic.script_json) ? topic.script_json : topic.script_json?.scenes || [];\nconst scriptText = scenes.map(s => s.narration || s.narration_text || '').join(' ');\nconst wordCount = topic.word_count || scriptText.split(/\\s+/).length;\nconst durationMinutes = Math.ceil(wordCount / 150); // ~150 words/min narration\nconst clipsNeeded = Math.ceil((durationMinutes * 60) / 30); // 30s per Lyria clip\n\n// Step 2: AI analyze script for music mood via Anthropic\nconst musicPrompt = [\n  'You are a world-class film composer scoring cinematic background music for a YouTube video essay.',\n  'Analyze this script and return a music generation profile.',\n  '',\n  'REQUIREMENTS:',\n  '- Film score quality: orchestral strings, emotive piano, atmospheric synth pads',\n  '- Dynamic range: soft passages, building tension, emotional swells',\n  '- Support narration: stay in mid-low frequency range, leave vocal space clear',\n  '- NO lyrics, NO vocals, NO artist name references',\n  '- Describe SOUND only: instruments, mood, tempo, energy, texture',\n  '',\n  `Script: ${wordCount} words, ${durationMinutes} minutes, needs ${clipsNeeded} x 30s clips`,\n  '',\n  `Script excerpt: ${scriptText.substring(0, 2000)}`,\n  '',\n  'Return ONLY this JSON (no markdown):',\n  '{\"genre\":\"\",\"mood\":\"\",\"bpm\":0,\"instruments\":\"\",\"base_prompt\":\"\",\"variation_prompts\":[\"\",\"\",\"\"],\"energy_curve\":\"\"}',\n].join('\\n');\n\nlet musicProfile;\ntry {\n  const aiResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: { 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n    body: JSON.stringify({ model: 'claude-3-5-haiku-20241022', max_tokens: 1024, messages: [{ role: 'user', content: musicPrompt }] }),\n  });\n  const text = aiResp.content?.[0]?.text || '{}';\n  try { musicProfile = JSON.parse(text); } catch {\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    musicProfile = m ? JSON.parse(m[0]) : { base_prompt: 'cinematic orchestral underscore, emotional piano, subtle strings, 80 bpm', variation_prompts: [] };\n  }\n} catch (e) {\n  musicProfile = { base_prompt: 'cinematic orchestral underscore, emotional piano, subtle strings, 80 bpm', variation_prompts: [] };\n}\n\n// Step 3: Get GCP token for Lyria\nlet gcpToken;\ntry {\n  const tokenResp = await this.helpers.httpRequest({ method: 'GET', url: 'http://gcp-token-service:3001/token' });\n  gcpToken = tokenResp.token || tokenResp.access_token;\n} catch (e) {\n  return [{ json: { success: false, error: 'GCP token service unavailable: ' + e.message, topic_id: topicId } }];\n}\n\n// Step 4: Generate music clips via Vertex AI Lyria\nconst gcpProject = process.env.GCP_PROJECT || 'vision-gridai';\nconst gcpRegion = process.env.GCP_REGION || 'us-central1';\nconst lyriaUrl = `https://${gcpRegion}-aiplatform.googleapis.com/v1/projects/${gcpProject}/locations/${gcpRegion}/publishers/google/models/lyria-002:predict`;\n\nconst prompts = [musicProfile.base_prompt, ...(musicProfile.variation_prompts || [])].filter(Boolean);\nconst clipPaths = [];\n\nfor (let i = 0; i < Math.min(clipsNeeded, prompts.length || 1); i++) {\n  const prompt = prompts[i % prompts.length] || musicProfile.base_prompt;\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: lyriaUrl,\n      headers: { 'Authorization': `Bearer ${gcpToken}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ instances: [{ prompt, duration_seconds: 30 }], parameters: { sample_count: 1 } }),\n    });\n\n    // Extract audio data and save\n    const audioData = resp?.predictions?.[0]?.bytesBase64Encoded;\n    if (audioData) {\n      const clipPath = `/tmp/production/${topicId}/music_clip_${i}.wav`;\n      const { execSync } = require('child_process');\n      execSync(`mkdir -p /tmp/production/${topicId}`);\n      require('fs').writeFileSync(clipPath, Buffer.from(audioData, 'base64'));\n      clipPaths.push(clipPath);\n    }\n  } catch (e) {\n    // Log but continue with other clips\n    console.log(`Clip ${i} generation failed: ${e.message}`);\n  }\n\n  // Rate limit: wait 5s between clips\n  if (i < clipsNeeded - 1) await new Promise(r => setTimeout(r, 5000));\n}\n\nif (clipPaths.length === 0) {\n  return [{ json: { success: false, error: 'No music clips generated', topic_id: topicId } }];\n}\n\n// Step 5: Merge clips + convert to MP3\nconst { execSync } = require('child_process');\nconst mergedPath = `/tmp/production/${topicId}/music_merged.mp3`;\n\ntry {\n  if (clipPaths.length === 1) {\n    execSync(`ffmpeg -y -i \"${clipPaths[0]}\" -c:a libmp3lame -b:a 192k \"${mergedPath}\"`, { timeout: 30000 });\n  } else {\n    // Concat all clips\n    const concatList = clipPaths.map(p => `file '${p}'`).join('\\n');\n    require('fs').writeFileSync(`/tmp/production/${topicId}/music_concat.txt`, concatList);\n    execSync(`ffmpeg -y -f concat -safe 0 -i /tmp/production/${topicId}/music_concat.txt -c:a libmp3lame -b:a 192k \"${mergedPath}\"`, { timeout: 60000 });\n  }\n} catch (e) {\n  return [{ json: { success: false, error: 'Music merge failed: ' + e.message, topic_id: topicId } }];\n}\n\n// Step 6: Loop to target duration\nconst targetDuration = durationMinutes * 60;\nconst loopedPath = `/tmp/production/${topicId}/music_final.mp3`;\ntry {\n  execSync(`ffmpeg -y -stream_loop -1 -i \"${mergedPath}\" -t ${targetDuration} -c:a libmp3lame -b:a 192k \"${loopedPath}\"`, { timeout: 60000 });\n} catch (e) {\n  // If loop fails, use merged as-is\n  execSync(`cp \"${mergedPath}\" \"${loopedPath}\"`);\n}\n\nreturn [{ json: {\n  success: true,\n  topic_id: topicId,\n  method: 'lyria_generation',\n  model: 'lyria-002',\n  clips_generated: clipPaths.length,\n  clips_needed: clipsNeeded,\n  music_path: loopedPath,\n  duration_target: targetDuration,\n  music_profile: musicProfile,\n  duck_volume: input.short_form ? '0.08' : '0.12',\n} }];"}},{"id":"noop-1","name":"Return Track Info","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,300],"parameters":{}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Select Music Track","type":"main","index":0}]]},"Select Music Track":{"main":[[{"node":"Return Track Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"360dc84e-c91b-4ea4-9f7c-8f1153a5c78e","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-28T18:03:42.311Z","createdAt":"2026-03-28T18:03:42.311Z","role":"workflow:owner","workflowId":"9L7LukuLWdnjH9x8","projectId":"ccWn1Q4giuKzXIbJ","project":{"updatedAt":"2026-01-26T11:09:31.107Z","createdAt":"2026-01-26T03:51:33.410Z","id":"ccWn1Q4giuKzXIbJ","name":"Akinwunmi Akinrimisi <akinolacrypto@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ab010feb-355c-4130-b354-4e929908258e"}}],"tags":[],"activeVersion":null}