workflows/WF_REMOTION_RENDER.json
{
  "name": "WF_REMOTION_RENDER",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-execute",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst template_key = input.template_key || input.remotion_template || 'stat_callout';\nlet data_payload = input.data_payload || {};\nif (typeof data_payload === 'string') {\n  try { data_payload = JSON.parse(data_payload); } catch(e) { data_payload = {}; }\n}\n\nconst color_mood = input.color_mood || 'neutral';\nconst format = input.format || 'png';\nconst scene_id = input.scene_id;\nconst scene_number = input.scene_number;\nconst topic_id = input.topic_id;\nconst project_id = input.project_id;\nconst drive_folder_id = input.drive_folder_id || 'root';\nconst style_dna = input.style_dna || '';\n\nif (!scene_id) {\n  throw new Error('scene_id is required');\n}\n\nreturn [{ json: {\n  template_key,\n  data_payload,\n  color_mood,\n  format,\n  scene_id,\n  scene_number,\n  topic_id,\n  project_id,\n  drive_folder_id,\n  style_dna,\n  output_filename: `scene_${String(scene_number).padStart(3, '0')}.${format}`\n} }];"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3100/render",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ template_key: $json.template_key, data_payload: $json.data_payload, color_mood: $json.color_mood, format: $json.format, style_dna: $json.style_dna, output_path: '/tmp/renders/' + $json.output_filename }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-render-service",
      "name": "Call Render Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "render-success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-render-success",
      "name": "Check Render Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3100/files/{{ $('Prepare Request').first().json.output_filename }}",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "download-png",
      "name": "Download PNG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "name": "={{ $('Prepare Request').first().json.output_filename }}",
        "folderId": "={{ $('Prepare Request').first().json.drive_folder_id }}",
        "options": {}
      },
      "id": "upload-to-drive",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1350, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes?id=eq.{{ $('Prepare Request').first().json.scene_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_status: 'uploaded', image_url: $('Upload to Drive').first().json.webViewLink || $('Upload to Drive').first().json.webContentLink || '', image_drive_id: $('Upload to Drive').first().json.id || '' }) }}",
        "options": {}
      },
      "id": "patch-scene-uploaded",
      "name": "PATCH Scene Uploaded",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare Request').first().json;\nconst driveResult = $('Upload to Drive').first().json;\n\nreturn [{ json: {\n  success: true,\n  scene_id: prep.scene_id,\n  scene_number: prep.scene_number,\n  topic_id: prep.topic_id,\n  image_drive_id: driveResult.id || '',\n  image_url: driveResult.webViewLink || driveResult.webContentLink || '',\n  render_method: 'remotion',\n  template_key: prep.template_key\n} }];"
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Prepare Request').first().json;\nconst renderResponse = $('Call Render Service').first().json;\n\n// PATCH scene as failed\nconst supabaseUrl = $env.SUPABASE_URL;\nconst anonKey = $env.SUPABASE_ANON_KEY;\nconst serviceKey = $env.SUPABASE_SERVICE_ROLE_KEY;\n\ntry {\n  await fetch(\n    `${supabaseUrl}/rest/v1/scenes?id=eq.${prep.scene_id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': anonKey,\n        'Authorization': `Bearer ${serviceKey}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({ image_status: 'failed' })\n    }\n  );\n} catch(e) {\n  // Logging best effort\n}\n\nreturn [{ json: {\n  success: false,\n  scene_id: prep.scene_id,\n  scene_number: prep.scene_number,\n  topic_id: prep.topic_id,\n  error: renderResponse.error || renderResponse.message || 'Render service returned failure',\n  render_method: 'remotion',\n  template_key: prep.template_key\n} }];"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 450]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Call Render Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Render Service": {
      "main": [
        [
          {
            "node": "Check Render Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Success": {
      "main": [
        [
          {
            "node": "Download PNG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PNG": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "PATCH Scene Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Scene Uploaded": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": []
}