workflows/WF_RETRY_WRAPPER.json
{
  "name": "WF_RETRY_WRAPPER",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {}
    },
    {
      "id": "code-1",
      "name": "Retry Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst url = input.url;\nconst method = input.method || 'GET';\nconst headers = input.headers || {};\nconst body = input.body || null;\nconst maxRetries = input.maxRetries || 4;\nconst description = input.description || 'API call';\nconst baseDelay = 1000;\n\nlet lastError = null;\nlet lastStatusCode = 0;\n\nfor (let attempt = 1; attempt <= maxRetries; attempt++) {\n  try {\n    const options = { method, url, headers, returnFullResponse: true };\n    if (body && ['POST', 'PATCH', 'PUT'].includes(method)) {\n      options.body = typeof body === 'string' ? body : JSON.stringify(body);\n      if (!headers['Content-Type']) headers['Content-Type'] = 'application/json';\n    }\n    const response = await this.helpers.httpRequest(options);\n    return [{ json: { success: true, data: response.body || response, statusCode: response.statusCode || 200, attempts: attempt, description } }];\n  } catch (error) {\n    lastError = error;\n    lastStatusCode = error.statusCode || error.httpCode || 0;\n    if (attempt < maxRetries) {\n      const delay = Math.min(baseDelay * Math.pow(2, attempt - 1), 30000);\n      await new Promise(r => setTimeout(r, delay));\n    }\n  }\n}\nreturn [{ json: { success: false, error: lastError?.message || 'Unknown error', statusCode: lastStatusCode, attempts: maxRetries, description } }];"
      }
    },
    {
      "id": "noop-1",
      "name": "Return Result",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Retry Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Logic": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": false
}
