workflows/WF_REVENUE_ATTRIBUTION.json
{
  "name": "WF_REVENUE_ATTRIBUTION",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-ra-cron",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 220],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 1 * *"
            }
          ]
        }
      }
    },
    {
      "id": "trigger-ra-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "path": "revenue/attribute",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "revenue-attribute"
    },
    {
      "id": "code-ra-normalize",
      "name": "Normalize + Scope Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 310],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CF15 WF_REVENUE_ATTRIBUTION — normalize, scope to published topics needing attribution.\n// Triggers:\n//   - Schedule (1st of month, 04:00 UTC): scope = all published topics (revenue_attributed_at null or stale)\n//   - Webhook POST /webhook/revenue/attribute: { project_id?, topic_id?, force? }\n// Output: one item per topic-batch-of-10. Global fetch + $env.\n\nconst raw = $input.first().json;\nconst viaWebhook = !!raw.body;\nconst payload = raw.body || {};\nconst projectIdFilter = payload.project_id || null;\nconst topicIdFilter = payload.topic_id || null;\nconst force = payload.force === true;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst sbHeaders = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json'\n};\n\n// First of current month — UTC, YYYY-MM-01\nconst now = new Date();\nconst snapshotMonth = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 1)).toISOString().slice(0, 10);\nconst firstOfMonthIso = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 1)).toISOString();\n\n// 30-day window\nconst windowEnd = new Date(now); // today\nconst windowStart = new Date(now.getTime() - 30 * 86400000);\nconst startDate = windowStart.toISOString().slice(0, 10);\nconst endDate = windowEnd.toISOString().slice(0, 10);\n\n// Build scope query — published topics with youtube_video_id.\n// If !force: only topics with revenue_attributed_at IS NULL OR < first of this month.\nlet scopeUrl = `${supabaseUrl}/rest/v1/topics?youtube_video_id=not.is.null&status=eq.published&select=id,project_id,youtube_video_id,published_at,revenue_attributed_at&limit=500&order=published_at.desc.nullslast`;\nif (topicIdFilter) {\n  scopeUrl = `${supabaseUrl}/rest/v1/topics?id=eq.${topicIdFilter}&select=id,project_id,youtube_video_id,published_at,revenue_attributed_at`;\n} else {\n  if (projectIdFilter) scopeUrl += `&project_id=eq.${projectIdFilter}`;\n  if (!force) scopeUrl += `&or=(revenue_attributed_at.is.null,revenue_attributed_at.lt.${encodeURIComponent(firstOfMonthIso)})`;\n}\n\nconst res = await fetch(scopeUrl, { method: 'GET', headers: sbHeaders });\nif (!res.ok) {\n  throw new Error(`Scope topics failed: HTTP ${res.status}: ${await res.text()}`);\n}\nconst topics = await res.json();\n\nif (!topics || topics.length === 0) {\n  return [{\n    json: {\n      skipped: true,\n      reason: 'No topics need revenue attribution',\n      via_webhook: viaWebhook,\n      snapshot_month: snapshotMonth,\n      http_status: 200\n    }\n  }];\n}\n\n// Batch 10 topics per item for stable Claude-free iteration\nconst BATCH = 10;\nconst items = [];\nfor (let i = 0; i < topics.length; i += BATCH) {\n  items.push({\n    json: {\n      topics: topics.slice(i, i + BATCH),\n      snapshot_month: snapshotMonth,\n      start_date: startDate,\n      end_date: endDate,\n      via_webhook: viaWebhook,\n      force,\n      batch_index: Math.floor(i / BATCH)\n    }\n  });\n}\nreturn items;"
      }
    },
    {
      "id": "code-ra-process",
      "name": "Attribute Revenue (Batch)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 310],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Per batch: for each topic:\n//   1. Sum production cost from production_logs, group by stage\n//   2. Pull YouTube Analytics (views/impressions/CTR/AVD/revenue + traffic sources) last 30d\n//   3. Compute RPM, ROI, break-even\n//   4. UPSERT revenue_attribution\n//   5. PATCH topics with snapshot columns\n//   6. Backfill pps_calibration actuals for any rows predicting this topic\n// Graceful fallback if YOUTUBE_OAUTH_TOKEN missing. Inline backoff for external calls.\n\nconst data = $input.item.json;\nif (data.skipped) return $input.item;\n\nconst topics = data.topics || [];\nif (topics.length === 0) return { json: { ...data, processed: 0 } };\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst sbHeaders = {\n  'apikey': $env.SUPABASE_ANON_KEY,\n  'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n  'Content-Type': 'application/json'\n};\nconst ytOauth = $env.YOUTUBE_OAUTH_TOKEN;\nconst ytChannelId = $env.YOUTUBE_CHANNEL_ID;\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\n\nasync function fetchWithRetry(url, options, label, maxRetries = 4) {\n  let lastErr = null;\n  for (let attempt = 1; attempt <= maxRetries; attempt++) {\n    try {\n      const res = await fetch(url, options);\n      if (res.ok) return { ok: true, json: await res.json(), attempts: attempt };\n      const body = await res.text();\n      if (res.status >= 400 && res.status < 500 && res.status !== 429) {\n        return { ok: false, status: res.status, error: body, attempts: attempt };\n      }\n      lastErr = new Error(`HTTP ${res.status}: ${body.slice(0, 300)}`);\n    } catch (e) { lastErr = e; }\n    if (attempt < maxRetries) await sleep(Math.min(1000 * Math.pow(2, attempt - 1), 30000));\n  }\n  return { ok: false, error: lastErr?.message || `${label} failed`, attempts: maxRetries };\n}\n\n// Cache RPM benchmark per niche_rpm_category (lookup only what's needed)\nconst rpmCache = new Map();\nasync function getRpmMid(project) {\n  const category = project.niche_rpm_category;\n  if (!category) return null;\n  if (rpmCache.has(category)) return rpmCache.get(category);\n  try {\n    const res = await fetch(`${supabaseUrl}/rest/v1/rpm_benchmarks?category=eq.${encodeURIComponent(category)}&select=rpm_mid&limit=1`, { method: 'GET', headers: sbHeaders });\n    if (res.ok) {\n      const rows = await res.json();\n      const rpmMid = rows && rows[0] ? Number(rows[0].rpm_mid) : null;\n      rpmCache.set(category, rpmMid);\n      return rpmMid;\n    }\n  } catch (_) { }\n  rpmCache.set(category, null);\n  return null;\n}\n\nconst projectCache = new Map();\nasync function getProject(projectId) {\n  if (projectCache.has(projectId)) return projectCache.get(projectId);\n  try {\n    const res = await fetch(`${supabaseUrl}/rest/v1/projects?id=eq.${projectId}&select=id,niche_rpm_category,niche`, { method: 'GET', headers: sbHeaders });\n    if (res.ok) {\n      const rows = await res.json();\n      const proj = rows && rows[0] ? rows[0] : {};\n      projectCache.set(projectId, proj);\n      return proj;\n    }\n  } catch (_) { }\n  return {};\n}\n\nconst results = [];\nconst startDate = data.start_date;\nconst endDate = data.end_date;\nconst snapshotMonth = data.snapshot_month;\n\nfor (const topic of topics) {\n  const topicStart = Date.now();\n  const topicResult = {\n    topic_id: topic.id,\n    project_id: topic.project_id,\n    youtube_video_id: topic.youtube_video_id,\n    analytics_api_successful: false,\n    errors: []\n  };\n\n  try {\n    // 1. Sum production cost from production_logs, group by stage\n    const logsUrl = `${supabaseUrl}/rest/v1/production_logs?topic_id=eq.${topic.id}&select=stage,cost_usd,duration_ms&limit=2000`;\n    const logsRes = await fetch(logsUrl, { method: 'GET', headers: sbHeaders });\n    let costBreakdown = {};\n    let totalCost = 0;\n    if (logsRes.ok) {\n      const logs = await logsRes.json();\n      for (const l of (logs || [])) {\n        const stage = l.stage || 'unknown';\n        const c = Number(l.cost_usd) || 0;\n        costBreakdown[stage] = (costBreakdown[stage] || 0) + c;\n        totalCost += c;\n      }\n      // Round each stage to 3 decimals\n      for (const k of Object.keys(costBreakdown)) costBreakdown[k] = Math.round(costBreakdown[k] * 1000) / 1000;\n    } else {\n      topicResult.errors.push(`production_logs HTTP ${logsRes.status}`);\n    }\n    totalCost = Math.round(totalCost * 1000) / 1000;\n    topicResult.production_cost_usd = totalCost;\n    topicResult.cost_breakdown = costBreakdown;\n\n    // 2. Pull YouTube Analytics (aggregate metrics)\n    let analyticsRow = null;\n    let trafficSourceBreakdown = null;\n    let analyticsError = null;\n\n    if (ytOauth && ytChannelId && topic.youtube_video_id) {\n      const idsFilter = `channel==${encodeURIComponent(ytChannelId)}`;\n      const metricsUrl = `https://youtubeanalytics.googleapis.com/v2/reports?ids=${idsFilter}&metrics=views,estimatedMinutesWatched,averageViewDuration,averageViewPercentage,impressions,impressionClickThroughRate,estimatedRevenue&dimensions=video&filters=video==${topic.youtube_video_id}&startDate=${startDate}&endDate=${endDate}`;\n      const aRes = await fetchWithRetry(metricsUrl, {\n        method: 'GET',\n        headers: { 'Authorization': `Bearer ${ytOauth}` }\n      }, 'yt_analytics_metrics');\n      if (aRes.ok) {\n        const rows = aRes.json?.rows || [];\n        const columnHeaders = aRes.json?.columnHeaders || [];\n        if (rows.length > 0) {\n          const row = rows[0];\n          // Map by columnHeader name to be order-robust\n          const idx = {};\n          columnHeaders.forEach((h, i) => { idx[h.name] = i; });\n          analyticsRow = {\n            views: Number(row[idx.views] || 0),\n            estimated_minutes_watched: Number(row[idx.estimatedMinutesWatched] || 0),\n            avg_view_duration_seconds: Number(row[idx.averageViewDuration] || 0),\n            avg_view_percentage: Number(row[idx.averageViewPercentage] || 0),\n            impressions: Number(row[idx.impressions] || 0),\n            ctr: Number(row[idx.impressionClickThroughRate] || 0),\n            estimated_revenue_usd: Number(row[idx.estimatedRevenue] || 0)\n          };\n          topicResult.analytics_api_successful = true;\n        } else {\n          analyticsError = 'analytics returned 0 rows';\n        }\n      } else {\n        analyticsError = `metrics ${aRes.status || ''}: ${(aRes.error || '').slice(0, 200)}`;\n      }\n\n      // 2b. Traffic source dimension\n      if (topicResult.analytics_api_successful) {\n        const tsUrl = `https://youtubeanalytics.googleapis.com/v2/reports?ids=${idsFilter}&metrics=views&dimensions=insightTrafficSourceType&filters=video==${topic.youtube_video_id}&startDate=${startDate}&endDate=${endDate}`;\n        const tsRes = await fetchWithRetry(tsUrl, { method: 'GET', headers: { 'Authorization': `Bearer ${ytOauth}` } }, 'yt_analytics_traffic');\n        if (tsRes.ok) {\n          const tsRows = tsRes.json?.rows || [];\n          const totalTsViews = tsRows.reduce((s, r) => s + (Number(r[1]) || 0), 0);\n          const breakdown = { homepage: 0, search: 0, suggested: 0, external: 0, other: 0 };\n          for (const r of tsRows) {\n            const src = String(r[0] || '').toUpperCase();\n            const views = Number(r[1]) || 0;\n            const share = totalTsViews > 0 ? views / totalTsViews : 0;\n            if (src === 'YT_CHANNEL' || src === 'RELATED_VIDEO' || src === 'YT_OTHER_PAGE') {\n              breakdown.suggested = Math.round((breakdown.suggested + share) * 10000) / 10000;\n            } else if (src === 'YT_SEARCH') {\n              breakdown.search = Math.round((breakdown.search + share) * 10000) / 10000;\n            } else if (src === 'EXT_URL') {\n              breakdown.external = Math.round((breakdown.external + share) * 10000) / 10000;\n            } else if (src === 'YT_HOMEPAGE' || src === 'SUBSCRIBER') {\n              breakdown.homepage = Math.round((breakdown.homepage + share) * 10000) / 10000;\n            } else {\n              breakdown.other = Math.round((breakdown.other + share) * 10000) / 10000;\n            }\n          }\n          trafficSourceBreakdown = breakdown;\n        }\n        // non-fatal if traffic fails\n      }\n    } else {\n      analyticsError = 'YOUTUBE_OAUTH_TOKEN or YOUTUBE_CHANNEL_ID not set — DB-only mode';\n    }\n\n    if (!topicResult.analytics_api_successful) topicResult.errors.push(analyticsError || 'analytics not attempted');\n\n    // 3. Compute derived metrics\n    const project = await getProject(topic.project_id);\n    const rpmMid = await getRpmMid(project);\n\n    const views30d = analyticsRow ? analyticsRow.views : null;\n    const impressions30d = analyticsRow ? analyticsRow.impressions : null;\n    const ctr30d = analyticsRow ? analyticsRow.ctr : null;\n    const avdSec = analyticsRow ? analyticsRow.avg_view_duration_seconds : null;\n    const estimatedRevenue = analyticsRow ? analyticsRow.estimated_revenue_usd : null;\n\n    let actualRpmUsd = null;\n    if (views30d && views30d > 0 && estimatedRevenue !== null && estimatedRevenue !== undefined) {\n      actualRpmUsd = Math.round((estimatedRevenue / (views30d / 1000)) * 100) / 100;\n    }\n\n    let rpmVsBenchmarkPct = null;\n    if (actualRpmUsd !== null && rpmMid && rpmMid > 0) {\n      rpmVsBenchmarkPct = Math.round((actualRpmUsd / rpmMid) * 100 * 100) / 100;\n    }\n\n    let roiPct = null;\n    if (totalCost > 0 && estimatedRevenue !== null && estimatedRevenue !== undefined) {\n      roiPct = Math.round(((estimatedRevenue - totalCost) / totalCost) * 100 * 100) / 100;\n    }\n\n    let breakEvenViews = null;\n    if (totalCost > 0 && rpmMid && rpmMid > 0) {\n      breakEvenViews = Math.round(totalCost / (rpmMid / 1000));\n    }\n    const breakEvenAchieved = (views30d !== null && breakEvenViews !== null) ? (views30d >= breakEvenViews) : null;\n\n    // 4. UPSERT revenue_attribution\n    const raRow = {\n      topic_id: topic.id,\n      project_id: topic.project_id,\n      snapshot_month: snapshotMonth,\n      youtube_video_id: topic.youtube_video_id,\n      production_cost_usd: totalCost,\n      cost_breakdown: costBreakdown,\n      views_30d: views30d,\n      impressions_30d: impressions30d,\n      ctr_30d: ctr30d,\n      avg_view_duration_seconds: avdSec,\n      estimated_revenue_usd: estimatedRevenue,\n      traffic_source_breakdown: trafficSourceBreakdown,\n      actual_rpm_usd: actualRpmUsd,\n      rpm_vs_niche_benchmark_pct: rpmVsBenchmarkPct,\n      roi_pct: roiPct,\n      break_even_achieved: breakEvenAchieved,\n      analytics_api_successful: topicResult.analytics_api_successful,\n      analytics_error_message: topicResult.analytics_api_successful ? null : (analyticsError || null)\n    };\n\n    try {\n      const upRes = await fetch(`${supabaseUrl}/rest/v1/revenue_attribution?on_conflict=topic_id,snapshot_month`, {\n        method: 'POST',\n        headers: { ...sbHeaders, 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n        body: JSON.stringify(raRow)\n      });\n      if (!upRes.ok) topicResult.errors.push(`upsert revenue_attribution HTTP ${upRes.status}`);\n    } catch (e) { topicResult.errors.push(`upsert threw: ${e.message}`); }\n\n    // 5. PATCH topics with latest snapshot columns (always — even if analytics failed, we have cost)\n    const nowIso = new Date().toISOString();\n    const topicPatch = {\n      production_cost_usd: totalCost,\n      cost_breakdown_snapshot: costBreakdown,\n      revenue_attributed_at: nowIso\n    };\n    if (analyticsRow) {\n      topicPatch.estimated_revenue_30d = estimatedRevenue;\n      topicPatch.yt_impressions_30d = impressions30d;\n      topicPatch.yt_traffic_source_breakdown = trafficSourceBreakdown;\n      topicPatch.roi_pct = roiPct;\n      topicPatch.break_even_views = breakEvenViews;\n      topicPatch.yt_analytics_last_pulled_at = nowIso;\n    }\n    try {\n      const pRes = await fetch(`${supabaseUrl}/rest/v1/topics?id=eq.${topic.id}`, {\n        method: 'PATCH',\n        headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n        body: JSON.stringify(topicPatch)\n      });\n      if (!pRes.ok) topicResult.errors.push(`PATCH topic HTTP ${pRes.status}`);\n    } catch (e) { topicResult.errors.push(`topic PATCH threw: ${e.message}`); }\n\n    // 6. Backfill pps_calibration actuals\n    if (topicResult.analytics_api_successful && analyticsRow) {\n      try {\n        // Get project median views for implied_actual_score normalization (rough)\n        const medRes = await fetch(`${supabaseUrl}/rest/v1/revenue_attribution?project_id=eq.${topic.project_id}&views_30d=not.is.null&select=views_30d&order=views_30d.asc&limit=200`, { method: 'GET', headers: sbHeaders });\n        let medianViews = 0;\n        if (medRes.ok) {\n          const arr = await medRes.json();\n          if (arr && arr.length > 0) {\n            const vals = arr.map(r => Number(r.views_30d)).filter(n => !isNaN(n));\n            medianViews = vals.length > 0 ? vals[Math.floor(vals.length / 2)] : 0;\n          }\n        }\n        // Normalize: score = min(100, (actual / median) * 50) → median = score 50, 2x median = 100\n        let impliedActualScore = 50;\n        if (medianViews > 0 && views30d !== null) {\n          impliedActualScore = Math.round(Math.max(0, Math.min(100, (views30d / medianViews) * 50)));\n        } else if (views30d !== null && views30d > 0) {\n          // No median yet — anchor to a soft scale\n          impliedActualScore = Math.round(Math.max(0, Math.min(100, Math.log10(views30d + 1) * 20)));\n        }\n\n        // Fetch calibration rows for this topic awaiting actuals\n        const calRes = await fetch(`${supabaseUrl}/rest/v1/pps_calibration?topic_id=eq.${topic.id}&actual_views_30d=is.null&select=id,predicted_pps`, { method: 'GET', headers: sbHeaders });\n        if (calRes.ok) {\n          const calRows = await calRes.json();\n          for (const cr of (calRows || [])) {\n            const predicted = Number(cr.predicted_pps) || 0;\n            const variance = predicted > 0 ? ((impliedActualScore - predicted) / predicted) : null;\n            try {\n              await fetch(`${supabaseUrl}/rest/v1/pps_calibration?id=eq.${cr.id}`, {\n                method: 'PATCH',\n                headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n                body: JSON.stringify({\n                  published_at: topic.published_at || null,\n                  actual_views_30d: views30d,\n                  actual_impressions_30d: impressions30d,\n                  actual_ctr: ctr30d,\n                  actual_avg_view_duration_seconds: avdSec,\n                  actual_revenue_usd: estimatedRevenue,\n                  implied_actual_score: impliedActualScore,\n                  variance_pct: variance\n                })\n              });\n            } catch (_) { }\n          }\n          topicResult.calibration_rows_updated = (calRows || []).length;\n        }\n      } catch (e) {\n        topicResult.errors.push(`pps_calibration backfill: ${e.message}`);\n      }\n    }\n\n    // production_logs per topic\n    try {\n      await fetch(`${supabaseUrl}/rest/v1/production_logs`, {\n        method: 'POST',\n        headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n        body: JSON.stringify({\n          project_id: topic.project_id,\n          topic_id: topic.id,\n          stage: 'revenue_attribution',\n          scene_number: null,\n          action: 'monthly_attribute',\n          status: topicResult.analytics_api_successful\n            ? (topicResult.errors.length === 0 ? 'success' : 'partial')\n            : 'analytics_unavailable',\n          duration_ms: Date.now() - topicStart,\n          cost_usd: 0,\n          retry_count: 0\n        })\n      });\n    } catch (_) { }\n\n    topicResult.success = true;\n    topicResult.production_cost_usd = totalCost;\n    topicResult.estimated_revenue_usd = estimatedRevenue;\n    topicResult.roi_pct = roiPct;\n    topicResult.break_even_views = breakEvenViews;\n    topicResult.break_even_achieved = breakEvenAchieved;\n    topicResult.actual_rpm_usd = actualRpmUsd;\n  } catch (e) {\n    topicResult.success = false;\n    topicResult.errors.push(`exception: ${e.message}`);\n  }\n\n  results.push(topicResult);\n}\n\nreturn {\n  json: {\n    batch_index: data.batch_index,\n    topics_in_batch: topics.length,\n    processed: results.length,\n    results,\n    snapshot_month: snapshotMonth,\n    via_webhook: data.via_webhook\n  }\n};"
      }
    },
    {
      "id": "code-ra-summary",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 310],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate across all batches.\nconst items = $input.all().map(i => i.json);\nconst meaningful = items.filter(j => !j.skipped);\n\nif (meaningful.length === 0) {\n  return [{\n    json: {\n      success: true,\n      topics_processed: 0,\n      message: items[0]?.reason || 'No topics needed attribution',\n      http_status: 200,\n      via_webhook: items[0]?.via_webhook || false\n    }\n  }];\n}\n\nlet totalTopics = 0;\nlet successes = 0;\nlet analyticsOk = 0;\nlet analyticsFail = 0;\nlet totalCost = 0;\nlet totalRevenue = 0;\nlet breakEvenCount = 0;\nlet breakEvenMeasured = 0;\nlet calibrationUpdated = 0;\nconst failures = [];\n\nfor (const m of meaningful) {\n  for (const r of (m.results || [])) {\n    totalTopics += 1;\n    if (r.success) successes += 1;\n    else failures.push({ topic_id: r.topic_id, errors: r.errors });\n    if (r.analytics_api_successful) analyticsOk += 1; else analyticsFail += 1;\n    if (typeof r.production_cost_usd === 'number') totalCost += r.production_cost_usd;\n    if (typeof r.estimated_revenue_usd === 'number') totalRevenue += r.estimated_revenue_usd;\n    if (r.break_even_achieved === true) breakEvenCount += 1;\n    if (r.break_even_achieved !== null && r.break_even_achieved !== undefined) breakEvenMeasured += 1;\n    if (r.calibration_rows_updated) calibrationUpdated += r.calibration_rows_updated;\n  }\n}\n\nconst netMargin = totalCost > 0 ? Math.round(((totalRevenue - totalCost) / totalCost) * 100 * 100) / 100 : null;\n\nreturn [{\n  json: {\n    success: true,\n    snapshot_month: meaningful[0]?.snapshot_month || null,\n    topics_processed: totalTopics,\n    successes,\n    failures_count: failures.length,\n    analytics_ok: analyticsOk,\n    analytics_failed: analyticsFail,\n    total_cost_usd: Math.round(totalCost * 1000) / 1000,\n    total_estimated_revenue_usd: Math.round(totalRevenue * 100) / 100,\n    portfolio_roi_pct: netMargin,\n    break_even_rate: breakEvenMeasured > 0 ? Math.round((breakEvenCount / breakEvenMeasured) * 10000) / 100 : null,\n    calibration_rows_backfilled: calibrationUpdated,\n    failures: failures.slice(0, 20),\n    finished_at: new Date().toISOString(),\n    http_status: 200,\n    via_webhook: meaningful.some(m => m.via_webhook)\n  }\n}];"
      }
    },
    {
      "id": "respond-ra",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 310],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.http_status || 200 }}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Normalize + Scope Topics", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Normalize + Scope Topics", "type": "main", "index": 0 }]]
    },
    "Normalize + Scope Topics": {
      "main": [[{ "node": "Attribute Revenue (Batch)", "type": "main", "index": 0 }]]
    },
    "Attribute Revenue (Batch)": {
      "main": [[{ "node": "Run Summary", "type": "main", "index": 0 }]]
    },
    "Run Summary": {
      "main": [[{ "node": "Respond To Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "executionTimeout": 3600,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "tags": []
}
