workflows/WF_RESEARCH_ORCHESTRATOR.json
{"updatedAt":"2026-03-28T18:23:50.036Z","createdAt":"2026-03-28T18:23:50.036Z","id":"F1he4SUW7nz6YPda","name":"WF_RESEARCH_ORCHESTRATOR","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"research/run","authentication":"headerAuth","options":{}},"webhookId":"research-run"},{"id":"code-1","name":"Initialize Run","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Create research run + derive keywords from niche\nconst body = $input.first().json.body;\nconst projectId = body.project_id;\nconst platforms = body.platforms || ['reddit', 'youtube', 'tiktok', 'trends', 'quora'];\nconst timeRange = body.time_range || '7d';\n\n// Fetch project niche info\nconst project = await this.helpers.httpRequest({\n  method: 'GET',\n  url: ,\n  headers: { 'apikey': process.env.SUPABASE_ANON_KEY, 'Authorization':  },\n});\n\nconst niche = project?.[0]?.niche || '';\nconst nicheDesc = project?.[0]?.niche_description || niche;\n\n// Derive keywords using Claude Haiku\nlet keywords = [niche];\ntry {\n  const aiResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: { 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n    body: JSON.stringify({\n      model: 'claude-3-5-haiku-20241022',\n      max_tokens: 256,\n      messages: [{ role: 'user', content:  }],\n    }),\n  });\n  const text = aiResp.content?.[0]?.text || '[]';\n  const parsed = JSON.parse(text.match(/[[^]]*]/)?.[0] || '[]');\n  if (parsed.length > 0) keywords = parsed;\n} catch (e) { /* fallback to niche name */ }\n\n// Create research_runs row with platforms and time_range\nconst run = await this.helpers.httpRequest({\n  method: 'POST',\n  url: ,\n  headers: { 'apikey': process.env.SUPABASE_ANON_KEY, 'Authorization': , 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n  body: JSON.stringify({\n    project_id: projectId,\n    status: 'scraping',\n    platforms: platforms,\n    time_range: typeof timeRange === 'object' ? JSON.stringify(timeRange) : timeRange,\n    derived_keywords: keywords,\n    started_at: new Date().toISOString(),\n  }),\n});\n\nreturn [{ json: { run_id: run[0].id, project_id: projectId, keywords, niche_description: nicheDesc, platforms, time_range: timeRange } }];"}},{"id":"code-2","name":"Run All Scrapers","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Fire scrapers only for selected platforms\nconst data = $input.first().json;\nconst selectedPlatforms = data.platforms || ['reddit', 'youtube', 'tiktok', 'trends', 'quora'];\nconst timeRange = data.time_range || '7d';\n\nconst scraperIds = {\n  reddit: 'VimOYktAz3iac6Of',\n  youtube: 'Gt9mU64OKi3nlWIV',\n  tiktok: 'yBVo1esSFDznHeWx',\n  trends: 'XYszOEUQ1uv4DFp2',\n  quora: '9Jb8mGd7iAynUdo3',\n};\n\n// Map time_range to a lookback date for sub-workflows\nlet lookbackDate;\nif (typeof timeRange === 'object' && timeRange.start) {\n  lookbackDate = timeRange.start;\n} else {\n  const now = new Date();\n  const map = { '1h': 3600000, '6h': 21600000, '1d': 86400000, '7d': 604800000, '30d': 2592000000 };\n  const ms = map[timeRange] || 604800000;\n  lookbackDate = new Date(now.getTime() - ms).toISOString();\n}\n\nconst results = [];\nconst payload = {\n  run_id: data.run_id,\n  project_id: data.project_id,\n  keywords: data.keywords,\n  time_range: timeRange,\n  lookback_date: lookbackDate,\n};\n\n// Run only selected scrapers sequentially\nfor (const [source, wfId] of Object.entries(scraperIds)) {\n  if (!selectedPlatforms.includes(source)) continue;\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: ,\n      headers: { 'X-N8N-API-KEY': process.env.N8N_API_KEY, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ data: payload }),\n    });\n    results.push({ source, success: true });\n  } catch (e) {\n    results.push({ source, success: false, error: e.message });\n  }\n\n  // Update sources_completed count\n  const completed = results.filter(r => r.success).length;\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: ,\n    headers: { 'apikey': process.env.SUPABASE_ANON_KEY, 'Authorization': , 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n    body: JSON.stringify({ sources_completed: completed }),\n  });\n}\n\n// Count total results\nconst allResults = await this.helpers.httpRequest({\n  method: 'GET',\n  url: ,\n  headers: { 'apikey': process.env.SUPABASE_ANON_KEY, 'Authorization':  },\n});\n\n// Update run with totals\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: ,\n  headers: { 'apikey': process.env.SUPABASE_ANON_KEY, 'Authorization': , 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n  body: JSON.stringify({ status: 'categorizing', total_results: allResults?.length || 0 }),\n});\n\nreturn [{ json: { ...data, scraper_results: results, total_results: allResults?.length || 0 } }];"}},{"id":"code-3","name":"Run Categorizer","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Fire categorizer sub-workflow\nconst data = $input.first().json;\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://localhost:5678/api/v1/workflows/R8Di58JWLpdNlRmO/run',\n    headers: { 'X-N8N-API-KEY': process.env.N8N_API_KEY, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ data: { run_id: data.run_id, project_id: data.project_id, niche_description: data.niche_description } }),\n  });\n  return [{ json: { ...data, categorized: true } }];\n} catch (e) {\n  return [{ json: { ...data, categorized: false, error: e.message } }];\n}"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Initialize Run","type":"main","index":0}]]},"Initialize Run":{"main":[[{"node":"Run All Scrapers","type":"main","index":0}]]},"Run All Scrapers":{"main":[[{"node":"Run Categorizer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","executionTimeout":600,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ea9b444a-e31e-4233-a817-41294490b2db","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-28T18:23:50.038Z","createdAt":"2026-03-28T18:23:50.038Z","role":"workflow:owner","workflowId":"F1he4SUW7nz6YPda","projectId":"ccWn1Q4giuKzXIbJ","project":{"updatedAt":"2026-01-26T11:09:31.107Z","createdAt":"2026-01-26T03:51:33.410Z","id":"ccWn1Q4giuKzXIbJ","name":"Akinwunmi Akinrimisi <akinolacrypto@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ab010feb-355c-4130-b354-4e929908258e"}}],"tags":[],"activeVersion":null}