workflows/WF_SCRIPT_GENERATE.json
{"updatedAt":"2026-04-02T19:51:02.003Z","createdAt":"2026-03-09T23:08:14.190Z","id":"DzugaN9GtVpTznvs","name":"WF_SCRIPT_GENERATE — 3-Pass Script Generation","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wf-sg-webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"parameters":{"httpMethod":"POST","path":"script/generate","authentication":"headerAuth","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"credentials":{"httpHeaderAuth":{"id":"KtMyWD7uJJBZYLjt","name":"Authorization"}},"webhookId":"wf-script-generate-prod"},{"id":"wf-sg-validate","name":"Validate Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\nconst topic_id = body.topic_id;\nconst project_id = body.project_id;\n\n// Auth check\nconst authHeader = input.headers?.authorization || '';\nconst expected = 'Bearer ' + $env.DASHBOARD_API_TOKEN;\nif (authHeader !== expected) {\n  throw new Error('Unauthorized');\n}\n\nif (!topic_id) throw new Error('topic_id is required');\n\nreturn [{ json: { topic_id, project_id } }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[880,208],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: 'Script generation started', topic_id: $json.topic_id }) }}","options":{"responseCode":200}}},{"id":"wf-sg-read-topic","name":"Read Topic","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,400],"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}&select=*,avatars(*)","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-read-project","name":"Read Project","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,400],"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/projects?id=eq.{{ $('Read Topic').first().json.project_id }}&select=*","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-patch-scripting","name":"PATCH Status Scripting","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,400],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: \"scripting\", updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-log-started","name":"Log Started","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,400],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/production_log","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ project_id: $(\"Validate Request\").first().json.project_id, topic_id: $(\"Validate Request\").first().json.topic_id, stage: \"script_generation\", action: \"started\", details: {} }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-build-visual-prompt","name":"Build Visual Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[8272,592],"parameters":{"jsCode":"const assembled = $('Assemble Script').first().json;\nconst combined_text = assembled.combined_text;\nconst topic = assembled.topic;\nconst project = assembled.project;\n\nconst prompt = `You are a scene segmentation expert for 2-hour YouTube documentaries.\n\nBelow is a complete documentary script in 3 passes (~18,000 words total). Your task:\n\n1. Read the ENTIRE script carefully\n2. Split it into approximately 170 individual scenes\n3. Each scene should contain 80-130 words of narration (what the voiceover will say)\n4. For each scene, write a specific image prompt (15-30 words describing the visual)\n5. ALL scenes are visual_type \"static_image\" (every scene becomes a still image with Ken Burns motion)\n6. Assign an emotional_beat (e.g., \"hook\", \"tension\", \"revelation\", \"data\", \"story\", \"resolution\")\n7. Identify which chapter each scene belongs to\n\nNARRATION RULES:\n- narration_text must contain ONLY spoken words for the voiceover\n- Remove ALL markdown formatting (# headers, ** bold, etc.)\n- Remove ALL stage directions ([VISUAL CUE], [PAUSE], [BEAT], etc.)\n- Remove ALL non-spoken text (timestamps, section labels, formatting)\n- Each scene narration should flow naturally when read aloud by TTS\n\nIMAGE PROMPT RULES:\n- Describe a specific, concrete visual that matches the narration\n- Include composition hints (wide shot, close-up, overhead, etc.)\n- Describe lighting and mood (warm, cold, dramatic, etc.)\n- No text in images, no watermarks\n\nReturn ONLY a valid JSON array. No markdown code fences, no explanation, no text before or after the array. Format:\n[{\"scene_number\": 1, \"scene_id\": \"scene_001\", \"narration_text\": \"...\", \"image_prompt\": \"...\", \"visual_type\": \"static_image\", \"emotional_beat\": \"hook\", \"chapter\": \"Cold Open\"}]\n\n--- FULL DOCUMENTARY SCRIPT ---\n${combined_text}\n--- END SCRIPT ---`;\n\nreturn [{ json: {\n  visual_prompt: prompt,\n  combined_text,\n  topic_id: topic.id,\n  project_id: project.id,\n  combined_score: assembled.combined_score,\n  force_passed: assembled.force_passed,\n  attempt: assembled.attempt\n} }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-claude-visual","name":"Claude: Visual Assignment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8496,592],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"},{"name":"anthropic-beta","value":"output-128k-2025-02-19"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 64000, system: 'You are a scene segmentation and visual direction expert for YouTube documentaries. Always return valid JSON arrays only. No markdown, no explanation.', messages: [{ role: 'user', content: $json.visual_prompt }] }) }}","options":{"timeout":600000}},"credentials":{"httpHeaderAuth":{"id":"vlfOXwvIUlRYnr41","name":"Anthropic API Key"}},"onError":"continueRegularOutput"},{"id":"wf-sg-build-scenes","name":"Build Scenes Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[8720,592],"parameters":{"jsCode":"const visualResponse = $input.first().json;\nconst buildData = $('Build Visual Prompt').first().json;\nconst topic_id = buildData.topic_id;\nconst project_id = buildData.project_id;\n\nif (visualResponse.error) {\n  throw new Error(`Visual Assignment failed: ${visualResponse.error.message || JSON.stringify(visualResponse.error)}`);\n}\n\nlet scenes = [];\ntry {\n  const text = (visualResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n  const s = cleaned.indexOf('[');\n  const e = cleaned.lastIndexOf(']');\n  if (s >= 0 && e > s) {\n    scenes = JSON.parse(cleaned.substring(s, e + 1));\n  }\n} catch(err) {\n  if (err.message.startsWith('Visual Assignment failed')) throw err;\n  try {\n    const text = (visualResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n    const objects = text.match(/\\{[^{}]*\"scene_number\"[^{}]*\\}/g) || [];\n    scenes = objects.map(o => JSON.parse(o));\n  } catch(e2) {\n    scenes = [{ scene_number: 1, scene_id: 'scene_001', narration_text: buildData.combined_text.substring(0, 500), image_prompt: 'Documentary establishing shot', visual_type: 'static_image', emotional_beat: 'hook', chapter: 'Main' }];\n  }\n}\n\nif (scenes.length === 0) {\n  throw new Error('Scene segmentation produced 0 scenes');\n}\n\nconst scenes_array = scenes.map((scene, i) => ({\n  topic_id,\n  project_id,\n  scene_number: scene.scene_number || (i + 1),\n  scene_id: scene.scene_id || `scene_${String(i + 1).padStart(3, '0')}`,\n  narration_text: (scene.narration_text || '').replace(/^#+\\s*/gm, '').replace(/\\[.*?\\]/g, '').replace(/\\*\\*/g, '').trim(),\n  image_prompt: scene.image_prompt || 'Documentary scene',\n  visual_type: 'static_image',\n  emotional_beat: scene.emotional_beat || '',\n  chapter: scene.chapter || '',\n  audio_status: 'pending',\n  image_status: 'pending',\n  clip_status: 'pending',\n  skipped: false\n}));\n\nconst word_count = scenes_array.reduce((sum, s) => sum + (s.narration_text ? s.narration_text.split(' ').length : 0), 0);\nconst scene_count = scenes_array.length;\n\nconst script_json = JSON.stringify(scenes_array);\nconst script_metadata = JSON.stringify({\n  video_metadata: {\n    title: $('Assemble Script').first().json.topic.seo_title || $('Assemble Script').first().json.topic.original_title,\n    description: `A detailed documentary about ${$('Assemble Script').first().json.topic.narrative_hook || ''}`,\n    tags: ['documentary', $('Assemble Script').first().json.project.niche || ''],\n    thumbnail_prompt: scenes_array[0]?.image_prompt || ''\n  },\n  generation_stats: { word_count, scene_count, quality_score: buildData.combined_score, force_passed: buildData.force_passed, attempt: buildData.attempt }\n});\n\nreturn [{ json: { scenes_array, script_json, script_metadata, word_count, scene_count, topic_id, project_id, combined_score: buildData.combined_score, force_passed: buildData.force_passed, attempt: buildData.attempt } }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-patch-script","name":"PATCH Script JSON","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8944,592],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ script_json: $json.script_json, script_metadata: $json.script_metadata, word_count: $json.word_count, scene_count: $json.scene_count, updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-delete-scenes","name":"Delete Prior Scenes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9168,592],"parameters":{"method":"DELETE","url":"={{$env.SUPABASE_URL}}/rest/v1/scenes?topic_id=eq.{{ $('Build Scenes Array').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-insert-scenes","name":"Bulk Insert Scenes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9392,592],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/scenes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Scenes Array').first().json.script_json }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-patch-review","name":"PATCH Status Review","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9616,592],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Build Scenes Array').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'review', script_review_status: 'pending', updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-log-completed","name":"Log Completed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9840,592],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/production_log","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ project_id: $('Build Scenes Array').first().json.project_id, topic_id: $('Build Scenes Array').first().json.topic_id, stage: 'script_generation', action: 'completed', details: { word_count: $('Build Scenes Array').first().json.word_count, scene_count: $('Build Scenes Array').first().json.scene_count, quality_score: $('Build Scenes Array').first().json.combined_score, force_passed: $('Build Scenes Array').first().json.force_passed, attempt: $('Build Scenes Array').first().json.attempt } }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-collect-error","name":"Collect Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[6704,304],"parameters":{"jsCode":"const errData = $input.first().json;\nconst topic_id = errData.topic_id || $('Validate Request').first().json?.topic_id;\nconst project_id = errData.project_id || $('Validate Request').first().json?.project_id;\nconst error_message = errData.error_message || errData.message || 'Unknown error in script generation';\nreturn [{ json: { topic_id, project_id, error_message } }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-patch-failed","name":"PATCH Status Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,304],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'failed', error_log: $json.error_message, updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-log-failed","name":"Log Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,304],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/production_log","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ project_id: $('Collect Error').first().json.project_id, topic_id: $('Collect Error').first().json.topic_id, stage: 'script_generation', action: 'failed', details: { error: $('Collect Error').first().json.error_message } }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"prep-avatar","name":"Prep & Read Avatar","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst topicRaw = $('Read Topic').first().json;\nconst projRaw = $('Read Project').first().json;\nconst topic = Array.isArray(topicRaw) ? topicRaw[0] : topicRaw;\nconst project = Array.isArray(projRaw) ? projRaw[0] : projRaw;\nconst avResp = await fetch(SB + '/rest/v1/avatars?topic_id=eq.' + topic.id + '&select=*&limit=1', {\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK}\n});\nconst avatars = await avResp.json();\nconst avatar = avatars?.[0] || {};\nreturn [{json: {topic, project, avatar, pass_number: 1}}];"}},{"id":"call-p1","name":"Call Pass 1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2500,400],"parameters":{"workflowId":{"__rl":true,"value":"CRC9USwaGgk7x6xN","mode":"id"}},"onError":"continueErrorOutput"},{"id":"handle-p1","name":"Handle Pass 1 + Prep Pass 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2776,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const pass1 = $input.first().json;\nconst prep = $('Prep & Read Avatar').first().json;\nconst {topic, project, avatar} = prep;\nconst SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst passScores = {pass_1: {attempts: pass1.attempt, final_score: pass1.composite_score, verdict: pass1.verdict, scores: pass1.scores}};\nawait fetch(SB + '/rest/v1/topics?id=eq.' + topic.id, {\n  method: 'PATCH',\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({script_pass_scores: passScores})\n});\n\nreturn [{json: {topic, project, avatar, pass_number: 2, pass1_output: pass1.pass_text, pass1_scores: passScores}}];"}},{"id":"call-p2","name":"Call Pass 2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3052,400],"parameters":{"workflowId":{"__rl":true,"value":"CRC9USwaGgk7x6xN","mode":"id"}},"onError":"continueErrorOutput"},{"id":"extract-meta","name":"Extract Metadata + Prep Pass 3","type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const pass2 = $input.first().json;\nconst handleP1 = $('Handle Pass 1 + Prep Pass 2').first().json;\nconst {topic, project, avatar, pass1_output, pass1_scores} = handleP1;\nconst SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY, AK = $env.ANTHROPIC_API_KEY;\n\nconst passScores = {...pass1_scores, pass_2: {attempts: pass2.attempt, final_score: pass2.composite_score, verdict: pass2.verdict, scores: pass2.scores}};\nawait fetch(SB + '/rest/v1/topics?id=eq.' + topic.id, {\n  method: 'PATCH',\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({script_pass_scores: passScores})\n});\n\nconst pResp = await fetch(SB + '/rest/v1/system_prompts?prompt_type=eq.script_metadata_extractor&is_active=eq.true&select=prompt_text', {\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK}\n});\nconst extractPromptRaw = ((await pResp.json())?.[0]?.prompt_text) || '';\nconst extractPrompt = extractPromptRaw || 'Read the following script pass and extract:\\n1. A 200-word summary of the content covered, argument structure, and emotional arc\\n2. The primary case study character name and a 1-sentence description of where they are in their arc\\n3. A list of ALL metaphors and analogies used\\n4. A list of ALL reassurance phrases used\\n5. A list of any other distinctive phrases that should not be repeated\\n\\nRESPOND IN JSON:\\n{\"summary\": \"\", \"character_name\": \"\", \"character_status\": \"\", \"metaphors_used\": [], \"reassurance_phrases_used\": [], \"notable_phrases\": []}';\n\nasync function extract(text) {\n  const prompt = extractPrompt + '\\n\\nSCRIPT:\\n---\\n' + text.substring(0, 60000) + '\\n---';\n  const r = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {'Content-Type': 'application/json', 'x-api-key': AK, 'anthropic-version': '2023-06-01'},\n    body: JSON.stringify({model: 'claude-sonnet-4-20250514', max_tokens: 4096, messages: [{role: 'user', content: prompt}]})\n  });\n  const d = await r.json();\n  const txt = (d.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  try {\n    const c = txt.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n    return JSON.parse(c.substring(c.indexOf('{'), c.lastIndexOf('}') + 1));\n  } catch (e) {\n    return {summary: txt.substring(0, 400), character_name: '', character_status: '', metaphors_used: [], reassurance_phrases_used: [], notable_phrases: []};\n  }\n}\n\nconst [p1Meta, p2Meta] = await Promise.all([extract(pass1_output), extract(pass2.pass_text)]);\n\nreturn [{json: {\n  topic, project, avatar, pass_number: 3,\n  pass1_summary: p1Meta.summary || '',\n  pass2_summary: p2Meta.summary || '',\n  character_name: p1Meta.character_name || '',\n  character_status: p2Meta.character_status || p1Meta.character_status || '',\n  metaphors_used: [...(p1Meta.metaphors_used || []), ...(p2Meta.metaphors_used || [])],\n  reassurance_phrases: [...(p1Meta.reassurance_phrases_used || []), ...(p2Meta.reassurance_phrases_used || [])],\n  notable_phrases: [...(p1Meta.notable_phrases || []), ...(p2Meta.notable_phrases || [])],\n  pass1_text: pass1_output, pass2_text: pass2.pass_text, passScores\n}}];"}},{"id":"call-p3","name":"Call Pass 3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3604,400],"parameters":{"workflowId":{"__rl":true,"value":"CRC9USwaGgk7x6xN","mode":"id"}},"onError":"continueErrorOutput"},{"id":"assemble","name":"Assemble Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[3880,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const pass3 = $input.first().json;\nconst metaPrep = $('Extract Metadata + Prep Pass 3').first().json;\nconst {topic, project, pass1_text, pass2_text, passScores} = metaPrep;\nconst SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst combined_text = pass1_text + '\\n\\n' + pass2_text + '\\n\\n' + pass3.pass_text;\nconst word_count = combined_text.split(/\\s+/).length;\n\nconst allScores = {...passScores, pass_3: {attempts: pass3.attempt, final_score: pass3.composite_score, verdict: pass3.verdict, scores: pass3.scores}};\nconst avgScore = ((allScores.pass_1?.final_score || 0) + (allScores.pass_2?.final_score || 0) + (allScores.pass_3?.final_score || 0)) / 3;\n\nconst scriptMeta = {\n  video_title: topic.seo_title || topic.original_title,\n  niche_category: project.niche,\n  total_word_count: word_count,\n  estimated_duration_minutes: Math.round(word_count / 200),\n  pass_scores: allScores,\n  total_api_calls: ((allScores.pass_1?.attempts || 1) + (allScores.pass_2?.attempts || 1) + (allScores.pass_3?.attempts || 1)) * 2 + 2,\n  manual_review_flag: [allScores.pass_1, allScores.pass_2, allScores.pass_3].some(p => p?.verdict === 'FORCE_PASS' && (p?.final_score || 0) < 5),\n  metaphors_used: metaPrep.metaphors_used || [],\n  case_study_character: metaPrep.character_name || ''\n};\n\nawait fetch(SB + '/rest/v1/topics?id=eq.' + topic.id, {\n  method: 'PATCH',\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({\n    script_json: {combined_text, pass_1: pass1_text, pass_2: pass2_text, pass_3: pass3.pass_text},\n    script_quality_score: Math.round(avgScore * 10) / 10,\n    script_evaluation: scriptMeta,\n    script_pass_scores: allScores,\n    script_metadata_extended: scriptMeta,\n    word_count,\n    scene_count: null\n  })\n});\n\nreturn [{json: {combined_text, topic, project, word_count, script_metadata: scriptMeta}}];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Validate Request","type":"main","index":0}]]},"Validate Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Read Topic","type":"main","index":0}]]},"Read Topic":{"main":[[{"node":"Read Project","type":"main","index":0}]]},"Read Project":{"main":[[{"node":"PATCH Status Scripting","type":"main","index":0}]]},"PATCH Status Scripting":{"main":[[{"node":"Log Started","type":"main","index":0}]]},"Log Started":{"main":[[{"node":"Prep & Read Avatar","type":"main","index":0}]]},"Prep & Read Avatar":{"main":[[{"node":"Call Pass 1","type":"main","index":0}]]},"Call Pass 1":{"main":[[{"node":"Handle Pass 1 + Prep Pass 2","type":"main","index":0}],[{"node":"Collect Error","type":"main","index":0}]]},"Handle Pass 1 + Prep Pass 2":{"main":[[{"node":"Call Pass 2","type":"main","index":0}]]},"Call Pass 2":{"main":[[{"node":"Extract Metadata + Prep Pass 3","type":"main","index":0}],[{"node":"Collect Error","type":"main","index":0}]]},"Extract Metadata + Prep Pass 3":{"main":[[{"node":"Call Pass 3","type":"main","index":0}]]},"Call Pass 3":{"main":[[{"node":"Assemble Script","type":"main","index":0}],[{"node":"Collect Error","type":"main","index":0}]]},"Assemble Script":{"main":[[{"node":"Build Visual Prompt","type":"main","index":0}]]},"Build Visual Prompt":{"main":[[{"node":"Claude: Visual Assignment","type":"main","index":0}]]},"Claude: Visual Assignment":{"main":[[{"node":"Build Scenes Array","type":"main","index":0}]]},"Build Scenes Array":{"main":[[{"node":"PATCH Script JSON","type":"main","index":0}]]},"PATCH Script JSON":{"main":[[{"node":"Delete Prior Scenes","type":"main","index":0}]]},"Delete Prior Scenes":{"main":[[{"node":"Bulk Insert Scenes","type":"main","index":0}]]},"Bulk Insert Scenes":{"main":[[{"node":"PATCH Status Review","type":"main","index":0}]]},"PATCH Status Review":{"main":[[{"node":"Log Completed","type":"main","index":0}]]},"Collect Error":{"main":[[{"node":"PATCH Status Failed","type":"main","index":0}]]},"PATCH Status Failed":{"main":[[{"node":"Log Failed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0531bcf7-96f9-4ee8-95a5-e87d7f34f49f","activeVersionId":"0531bcf7-96f9-4ee8-95a5-e87d7f34f49f","versionCounter":224,"triggerCount":1,"shared":[{"updatedAt":"2026-03-09T23:08:14.194Z","createdAt":"2026-03-09T23:08:14.194Z","role":"workflow:owner","workflowId":"DzugaN9GtVpTznvs","projectId":"ccWn1Q4giuKzXIbJ","project":{"updatedAt":"2026-01-26T11:09:31.107Z","createdAt":"2026-01-26T03:51:33.410Z","id":"ccWn1Q4giuKzXIbJ","name":"Akinwunmi Akinrimisi <akinolacrypto@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ab010feb-355c-4130-b354-4e929908258e"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-02T19:51:02.007Z","createdAt":"2026-04-02T19:51:02.007Z","versionId":"0531bcf7-96f9-4ee8-95a5-e87d7f34f49f","workflowId":"DzugaN9GtVpTznvs","nodes":[{"id":"wf-sg-webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,400],"parameters":{"httpMethod":"POST","path":"script/generate","authentication":"headerAuth","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"credentials":{"httpHeaderAuth":{"id":"KtMyWD7uJJBZYLjt","name":"Authorization"}},"webhookId":"wf-script-generate-prod"},{"id":"wf-sg-validate","name":"Validate Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\nconst topic_id = body.topic_id;\nconst project_id = body.project_id;\n\n// Auth check\nconst authHeader = input.headers?.authorization || '';\nconst expected = 'Bearer ' + $env.DASHBOARD_API_TOKEN;\nif (authHeader !== expected) {\n  throw new Error('Unauthorized');\n}\n\nif (!topic_id) throw new Error('topic_id is required');\n\nreturn [{ json: { topic_id, project_id } }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[880,208],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: 'Script generation started', topic_id: $json.topic_id }) }}","options":{"responseCode":200}}},{"id":"wf-sg-read-topic","name":"Read Topic","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,400],"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}&select=*,avatars(*)","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-read-project","name":"Read Project","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,400],"parameters":{"url":"={{$env.SUPABASE_URL}}/rest/v1/projects?id=eq.{{ $('Read Topic').first().json.project_id }}&select=*","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-patch-scripting","name":"PATCH Status Scripting","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,400],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: \"scripting\", updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-log-started","name":"Log Started","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,400],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/production_log","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ project_id: $(\"Validate Request\").first().json.project_id, topic_id: $(\"Validate Request\").first().json.topic_id, stage: \"script_generation\", action: \"started\", details: {} }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-build-visual-prompt","name":"Build Visual Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[8272,592],"parameters":{"jsCode":"const assembled = $('Assemble Script').first().json;\nconst combined_text = assembled.combined_text;\nconst topic = assembled.topic;\nconst project = assembled.project;\n\nconst prompt = `You are a scene segmentation expert for 2-hour YouTube documentaries.\n\nBelow is a complete documentary script in 3 passes (~18,000 words total). Your task:\n\n1. Read the ENTIRE script carefully\n2. Split it into approximately 170 individual scenes\n3. Each scene should contain 80-130 words of narration (what the voiceover will say)\n4. For each scene, write a specific image prompt (15-30 words describing the visual)\n5. ALL scenes are visual_type \"static_image\" (every scene becomes a still image with Ken Burns motion)\n6. Assign an emotional_beat (e.g., \"hook\", \"tension\", \"revelation\", \"data\", \"story\", \"resolution\")\n7. Identify which chapter each scene belongs to\n\nNARRATION RULES:\n- narration_text must contain ONLY spoken words for the voiceover\n- Remove ALL markdown formatting (# headers, ** bold, etc.)\n- Remove ALL stage directions ([VISUAL CUE], [PAUSE], [BEAT], etc.)\n- Remove ALL non-spoken text (timestamps, section labels, formatting)\n- Each scene narration should flow naturally when read aloud by TTS\n\nIMAGE PROMPT RULES:\n- Describe a specific, concrete visual that matches the narration\n- Include composition hints (wide shot, close-up, overhead, etc.)\n- Describe lighting and mood (warm, cold, dramatic, etc.)\n- No text in images, no watermarks\n\nReturn ONLY a valid JSON array. No markdown code fences, no explanation, no text before or after the array. Format:\n[{\"scene_number\": 1, \"scene_id\": \"scene_001\", \"narration_text\": \"...\", \"image_prompt\": \"...\", \"visual_type\": \"static_image\", \"emotional_beat\": \"hook\", \"chapter\": \"Cold Open\"}]\n\n--- FULL DOCUMENTARY SCRIPT ---\n${combined_text}\n--- END SCRIPT ---`;\n\nreturn [{ json: {\n  visual_prompt: prompt,\n  combined_text,\n  topic_id: topic.id,\n  project_id: project.id,\n  combined_score: assembled.combined_score,\n  force_passed: assembled.force_passed,\n  attempt: assembled.attempt\n} }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-claude-visual","name":"Claude: Visual Assignment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8496,592],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"},{"name":"anthropic-beta","value":"output-128k-2025-02-19"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 64000, system: 'You are a scene segmentation and visual direction expert for YouTube documentaries. Always return valid JSON arrays only. No markdown, no explanation.', messages: [{ role: 'user', content: $json.visual_prompt }] }) }}","options":{"timeout":600000}},"credentials":{"httpHeaderAuth":{"id":"vlfOXwvIUlRYnr41","name":"Anthropic API Key"}},"onError":"continueRegularOutput"},{"id":"wf-sg-build-scenes","name":"Build Scenes Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[8720,592],"parameters":{"jsCode":"const visualResponse = $input.first().json;\nconst buildData = $('Build Visual Prompt').first().json;\nconst topic_id = buildData.topic_id;\nconst project_id = buildData.project_id;\n\nif (visualResponse.error) {\n  throw new Error(`Visual Assignment failed: ${visualResponse.error.message || JSON.stringify(visualResponse.error)}`);\n}\n\nlet scenes = [];\ntry {\n  const text = (visualResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n  const s = cleaned.indexOf('[');\n  const e = cleaned.lastIndexOf(']');\n  if (s >= 0 && e > s) {\n    scenes = JSON.parse(cleaned.substring(s, e + 1));\n  }\n} catch(err) {\n  if (err.message.startsWith('Visual Assignment failed')) throw err;\n  try {\n    const text = (visualResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n    const objects = text.match(/\\{[^{}]*\"scene_number\"[^{}]*\\}/g) || [];\n    scenes = objects.map(o => JSON.parse(o));\n  } catch(e2) {\n    scenes = [{ scene_number: 1, scene_id: 'scene_001', narration_text: buildData.combined_text.substring(0, 500), image_prompt: 'Documentary establishing shot', visual_type: 'static_image', emotional_beat: 'hook', chapter: 'Main' }];\n  }\n}\n\nif (scenes.length === 0) {\n  throw new Error('Scene segmentation produced 0 scenes');\n}\n\nconst scenes_array = scenes.map((scene, i) => ({\n  topic_id,\n  project_id,\n  scene_number: scene.scene_number || (i + 1),\n  scene_id: scene.scene_id || `scene_${String(i + 1).padStart(3, '0')}`,\n  narration_text: (scene.narration_text || '').replace(/^#+\\s*/gm, '').replace(/\\[.*?\\]/g, '').replace(/\\*\\*/g, '').trim(),\n  image_prompt: scene.image_prompt || 'Documentary scene',\n  visual_type: 'static_image',\n  emotional_beat: scene.emotional_beat || '',\n  chapter: scene.chapter || '',\n  audio_status: 'pending',\n  image_status: 'pending',\n  clip_status: 'pending',\n  skipped: false\n}));\n\nconst word_count = scenes_array.reduce((sum, s) => sum + (s.narration_text ? s.narration_text.split(' ').length : 0), 0);\nconst scene_count = scenes_array.length;\n\nconst script_json = JSON.stringify(scenes_array);\nconst script_metadata = JSON.stringify({\n  video_metadata: {\n    title: $('Assemble Script').first().json.topic.seo_title || $('Assemble Script').first().json.topic.original_title,\n    description: `A detailed documentary about ${$('Assemble Script').first().json.topic.narrative_hook || ''}`,\n    tags: ['documentary', $('Assemble Script').first().json.project.niche || ''],\n    thumbnail_prompt: scenes_array[0]?.image_prompt || ''\n  },\n  generation_stats: { word_count, scene_count, quality_score: buildData.combined_score, force_passed: buildData.force_passed, attempt: buildData.attempt }\n});\n\nreturn [{ json: { scenes_array, script_json, script_metadata, word_count, scene_count, topic_id, project_id, combined_score: buildData.combined_score, force_passed: buildData.force_passed, attempt: buildData.attempt } }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-patch-script","name":"PATCH Script JSON","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8944,592],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ script_json: $json.script_json, script_metadata: $json.script_metadata, word_count: $json.word_count, scene_count: $json.scene_count, updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-delete-scenes","name":"Delete Prior Scenes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9168,592],"parameters":{"method":"DELETE","url":"={{$env.SUPABASE_URL}}/rest/v1/scenes?topic_id=eq.{{ $('Build Scenes Array').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-insert-scenes","name":"Bulk Insert Scenes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9392,592],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/scenes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Scenes Array').first().json.script_json }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-patch-review","name":"PATCH Status Review","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9616,592],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Build Scenes Array').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'review', script_review_status: 'pending', updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-log-completed","name":"Log Completed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9840,592],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/production_log","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ project_id: $('Build Scenes Array').first().json.project_id, topic_id: $('Build Scenes Array').first().json.topic_id, stage: 'script_generation', action: 'completed', details: { word_count: $('Build Scenes Array').first().json.word_count, scene_count: $('Build Scenes Array').first().json.scene_count, quality_score: $('Build Scenes Array').first().json.combined_score, force_passed: $('Build Scenes Array').first().json.force_passed, attempt: $('Build Scenes Array').first().json.attempt } }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-collect-error","name":"Collect Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[6704,304],"parameters":{"jsCode":"const errData = $input.first().json;\nconst topic_id = errData.topic_id || $('Validate Request').first().json?.topic_id;\nconst project_id = errData.project_id || $('Validate Request').first().json?.project_id;\nconst error_message = errData.error_message || errData.message || 'Unknown error in script generation';\nreturn [{ json: { topic_id, project_id, error_message } }];","mode":"runOnceForAllItems"}},{"id":"wf-sg-patch-failed","name":"PATCH Status Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,304],"parameters":{"method":"PATCH","url":"={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Validate Request').first().json.topic_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'failed', error_log: $json.error_message, updated_at: new Date().toISOString() }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"wf-sg-log-failed","name":"Log Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,304],"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/production_log","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ project_id: $('Collect Error').first().json.project_id, topic_id: $('Collect Error').first().json.topic_id, stage: 'script_generation', action: 'failed', details: { error: $('Collect Error').first().json.error_message } }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"QsqqFXtnLakNfVKR","name":"Supabase Service Role"}}},{"id":"prep-avatar","name":"Prep & Read Avatar","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst topicRaw = $('Read Topic').first().json;\nconst projRaw = $('Read Project').first().json;\nconst topic = Array.isArray(topicRaw) ? topicRaw[0] : topicRaw;\nconst project = Array.isArray(projRaw) ? projRaw[0] : projRaw;\nconst avResp = await fetch(SB + '/rest/v1/avatars?topic_id=eq.' + topic.id + '&select=*&limit=1', {\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK}\n});\nconst avatars = await avResp.json();\nconst avatar = avatars?.[0] || {};\nreturn [{json: {topic, project, avatar, pass_number: 1}}];"}},{"id":"call-p1","name":"Call Pass 1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2500,400],"parameters":{"workflowId":{"__rl":true,"value":"CRC9USwaGgk7x6xN","mode":"id"}},"onError":"continueErrorOutput"},{"id":"handle-p1","name":"Handle Pass 1 + Prep Pass 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2776,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const pass1 = $input.first().json;\nconst prep = $('Prep & Read Avatar').first().json;\nconst {topic, project, avatar} = prep;\nconst SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst passScores = {pass_1: {attempts: pass1.attempt, final_score: pass1.composite_score, verdict: pass1.verdict, scores: pass1.scores}};\nawait fetch(SB + '/rest/v1/topics?id=eq.' + topic.id, {\n  method: 'PATCH',\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({script_pass_scores: passScores})\n});\n\nreturn [{json: {topic, project, avatar, pass_number: 2, pass1_output: pass1.pass_text, pass1_scores: passScores}}];"}},{"id":"call-p2","name":"Call Pass 2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3052,400],"parameters":{"workflowId":{"__rl":true,"value":"CRC9USwaGgk7x6xN","mode":"id"}},"onError":"continueErrorOutput"},{"id":"extract-meta","name":"Extract Metadata + Prep Pass 3","type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const pass2 = $input.first().json;\nconst handleP1 = $('Handle Pass 1 + Prep Pass 2').first().json;\nconst {topic, project, avatar, pass1_output, pass1_scores} = handleP1;\nconst SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY, AK = $env.ANTHROPIC_API_KEY;\n\nconst passScores = {...pass1_scores, pass_2: {attempts: pass2.attempt, final_score: pass2.composite_score, verdict: pass2.verdict, scores: pass2.scores}};\nawait fetch(SB + '/rest/v1/topics?id=eq.' + topic.id, {\n  method: 'PATCH',\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({script_pass_scores: passScores})\n});\n\nconst pResp = await fetch(SB + '/rest/v1/system_prompts?prompt_type=eq.script_metadata_extractor&is_active=eq.true&select=prompt_text', {\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK}\n});\nconst extractPromptRaw = ((await pResp.json())?.[0]?.prompt_text) || '';\nconst extractPrompt = extractPromptRaw || 'Read the following script pass and extract:\\n1. A 200-word summary of the content covered, argument structure, and emotional arc\\n2. The primary case study character name and a 1-sentence description of where they are in their arc\\n3. A list of ALL metaphors and analogies used\\n4. A list of ALL reassurance phrases used\\n5. A list of any other distinctive phrases that should not be repeated\\n\\nRESPOND IN JSON:\\n{\"summary\": \"\", \"character_name\": \"\", \"character_status\": \"\", \"metaphors_used\": [], \"reassurance_phrases_used\": [], \"notable_phrases\": []}';\n\nasync function extract(text) {\n  const prompt = extractPrompt + '\\n\\nSCRIPT:\\n---\\n' + text.substring(0, 60000) + '\\n---';\n  const r = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {'Content-Type': 'application/json', 'x-api-key': AK, 'anthropic-version': '2023-06-01'},\n    body: JSON.stringify({model: 'claude-sonnet-4-20250514', max_tokens: 4096, messages: [{role: 'user', content: prompt}]})\n  });\n  const d = await r.json();\n  const txt = (d.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  try {\n    const c = txt.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n    return JSON.parse(c.substring(c.indexOf('{'), c.lastIndexOf('}') + 1));\n  } catch (e) {\n    return {summary: txt.substring(0, 400), character_name: '', character_status: '', metaphors_used: [], reassurance_phrases_used: [], notable_phrases: []};\n  }\n}\n\nconst [p1Meta, p2Meta] = await Promise.all([extract(pass1_output), extract(pass2.pass_text)]);\n\nreturn [{json: {\n  topic, project, avatar, pass_number: 3,\n  pass1_summary: p1Meta.summary || '',\n  pass2_summary: p2Meta.summary || '',\n  character_name: p1Meta.character_name || '',\n  character_status: p2Meta.character_status || p1Meta.character_status || '',\n  metaphors_used: [...(p1Meta.metaphors_used || []), ...(p2Meta.metaphors_used || [])],\n  reassurance_phrases: [...(p1Meta.reassurance_phrases_used || []), ...(p2Meta.reassurance_phrases_used || [])],\n  notable_phrases: [...(p1Meta.notable_phrases || []), ...(p2Meta.notable_phrases || [])],\n  pass1_text: pass1_output, pass2_text: pass2.pass_text, passScores\n}}];"}},{"id":"call-p3","name":"Call Pass 3","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3604,400],"parameters":{"workflowId":{"__rl":true,"value":"CRC9USwaGgk7x6xN","mode":"id"}},"onError":"continueErrorOutput"},{"id":"assemble","name":"Assemble Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[3880,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const pass3 = $input.first().json;\nconst metaPrep = $('Extract Metadata + Prep Pass 3').first().json;\nconst {topic, project, pass1_text, pass2_text, passScores} = metaPrep;\nconst SB = $env.SUPABASE_URL, SRK = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst combined_text = pass1_text + '\\n\\n' + pass2_text + '\\n\\n' + pass3.pass_text;\nconst word_count = combined_text.split(/\\s+/).length;\n\nconst allScores = {...passScores, pass_3: {attempts: pass3.attempt, final_score: pass3.composite_score, verdict: pass3.verdict, scores: pass3.scores}};\nconst avgScore = ((allScores.pass_1?.final_score || 0) + (allScores.pass_2?.final_score || 0) + (allScores.pass_3?.final_score || 0)) / 3;\n\nconst scriptMeta = {\n  video_title: topic.seo_title || topic.original_title,\n  niche_category: project.niche,\n  total_word_count: word_count,\n  estimated_duration_minutes: Math.round(word_count / 200),\n  pass_scores: allScores,\n  total_api_calls: ((allScores.pass_1?.attempts || 1) + (allScores.pass_2?.attempts || 1) + (allScores.pass_3?.attempts || 1)) * 2 + 2,\n  manual_review_flag: [allScores.pass_1, allScores.pass_2, allScores.pass_3].some(p => p?.verdict === 'FORCE_PASS' && (p?.final_score || 0) < 5),\n  metaphors_used: metaPrep.metaphors_used || [],\n  case_study_character: metaPrep.character_name || ''\n};\n\nawait fetch(SB + '/rest/v1/topics?id=eq.' + topic.id, {\n  method: 'PATCH',\n  headers: {'apikey': SRK, 'Authorization': 'Bearer ' + SRK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal'},\n  body: JSON.stringify({\n    script_json: {combined_text, pass_1: pass1_text, pass_2: pass2_text, pass_3: pass3.pass_text},\n    script_quality_score: Math.round(avgScore * 10) / 10,\n    script_evaluation: scriptMeta,\n    script_pass_scores: allScores,\n    script_metadata_extended: scriptMeta,\n    word_count,\n    scene_count: null\n  })\n});\n\nreturn [{json: {combined_text, topic, project, word_count, script_metadata: scriptMeta}}];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Validate Request","type":"main","index":0}]]},"Validate Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Read Topic","type":"main","index":0}]]},"Read Topic":{"main":[[{"node":"Read Project","type":"main","index":0}]]},"Read Project":{"main":[[{"node":"PATCH Status Scripting","type":"main","index":0}]]},"PATCH Status Scripting":{"main":[[{"node":"Log Started","type":"main","index":0}]]},"Log Started":{"main":[[{"node":"Prep & Read Avatar","type":"main","index":0}]]},"Prep & Read Avatar":{"main":[[{"node":"Call Pass 1","type":"main","index":0}]]},"Call Pass 1":{"main":[[{"node":"Handle Pass 1 + Prep Pass 2","type":"main","index":0}],[{"node":"Collect Error","type":"main","index":0}]]},"Handle Pass 1 + Prep Pass 2":{"main":[[{"node":"Call Pass 2","type":"main","index":0}]]},"Call Pass 2":{"main":[[{"node":"Extract Metadata + Prep Pass 3","type":"main","index":0}],[{"node":"Collect Error","type":"main","index":0}]]},"Extract Metadata + Prep Pass 3":{"main":[[{"node":"Call Pass 3","type":"main","index":0}]]},"Call Pass 3":{"main":[[{"node":"Assemble Script","type":"main","index":0}],[{"node":"Collect Error","type":"main","index":0}]]},"Assemble Script":{"main":[[{"node":"Build Visual Prompt","type":"main","index":0}]]},"Build Visual Prompt":{"main":[[{"node":"Claude: Visual Assignment","type":"main","index":0}]]},"Claude: Visual Assignment":{"main":[[{"node":"Build Scenes Array","type":"main","index":0}]]},"Build Scenes Array":{"main":[[{"node":"PATCH Script JSON","type":"main","index":0}]]},"PATCH Script JSON":{"main":[[{"node":"Delete Prior Scenes","type":"main","index":0}]]},"Delete Prior Scenes":{"main":[[{"node":"Bulk Insert Scenes","type":"main","index":0}]]},"Bulk Insert Scenes":{"main":[[{"node":"PATCH Status Review","type":"main","index":0}]]},"PATCH Status Review":{"main":[[{"node":"Log Completed","type":"main","index":0}]]},"Collect Error":{"main":[[{"node":"PATCH Status Failed","type":"main","index":0}]]},"PATCH Status Failed":{"main":[[{"node":"Log Failed","type":"main","index":0}]]}},"authors":"Akinwunmi Akinrimisi","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-02T19:51:02.117Z","id":2638,"workflowId":"DzugaN9GtVpTznvs","versionId":"0531bcf7-96f9-4ee8-95a5-e87d7f34f49f","event":"activated","userId":"ab010feb-355c-4130-b354-4e929908258e"},{"createdAt":"2026-04-02T19:51:02.087Z","id":2637,"workflowId":"DzugaN9GtVpTznvs","versionId":"0531bcf7-96f9-4ee8-95a5-e87d7f34f49f","event":"deactivated","userId":"ab010feb-355c-4130-b354-4e929908258e"}]}}