workflows/WF_SCENE_IMAGE_PROCESSOR.json
{
  "name": "WF_SCENE_IMAGE_PROCESSOR",
  "description": null,
  "active": true,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "process-scene/image",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "webhookId": "process-scene-image-wh"
    },
    {
      "id": "respond-accepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ accepted: true, scene_id: $json.body.scene_id }) }}",
        "options": {}
      }
    },
    {
      "id": "build-fal-request",
      "name": "Generate Scene Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ],
      "parameters": {
        "jsCode": "// WF_SCENE_IMAGE_PROCESSOR / Generate Scene Image\n// v5 (2026-05-07): segment-aware. When body.segment_id is present, PATCH scene_segments\n// instead of scenes for provenance, and surface segment_id on the output JSON so the\n// downstream HTTP nodes can target the correct table.\n//\n// Routing (unchanged from v4):\n//   body.requires_text_rendering === true     -> fal-ai/recraft-v3   ($0.04/img, native text)\n//   body.requires_text_rendering === undefined &&\n//     image_prompt matches generic safety regex -> fal-ai/recraft-v3   (legacy scenes)\n//   body.requires_text_rendering === false    -> fal-ai/flux/schnell ($0.003/img, no text)\n//   recraft-v3 error                          -> fal-ai/ideogram-v2  ($0.08/img, fallback)\n\nconst { execSync } = require(\"child_process\");\nconst body = $(\"Webhook Trigger\").first().json.body || {};\nconst sceneId = body.scene_id;\nconst sceneNumber = body.scene_number;\nconst segmentId = body.segment_id || null;          // null when legacy per-scene\nconst segmentNumber = body.segment_number || null;\nif (sceneNumber === undefined || sceneNumber === null) {\n  throw new Error(\"WF_SCENE_IMAGE_PROCESSOR: body.scene_number missing - parent must pass it. Refusing to default to 0.\");\n}\n// Patch C guard: refuse to PATCH scenes table if scene has uses_segments=true but no segment_id was provided.\n// This prevents the silent dispatcher-fallback bug from poisoning scene-level data again.\nif (!segmentId && body.uses_segments === true) {\n  throw new Error(\"IMG_PROC_GUARD: scene_id \" + sceneId + \" (scene_number \" + sceneNumber + \") has uses_segments=true in payload but no segment_id. Refusing to PATCH scenes table. Caller must pass segment_id.\");\n}\nconst paddedNum = sceneNumber.toString().padStart(3, \"0\");\nconst topicId = body.topic_id;\nconst projectId = body.project_id;\nconst promptIn = (body.image_prompt || \"\").toString();\nconst negativePrompt = body.negative_prompt || \"\";\nconst requiresTextFlag = body.requires_text_rendering;\n\n// Generic safety net - only used when the flag is undefined entirely.\nconst SAFETY_REGEX = /\\b(chart|graph|infographic|spreadsheet|dashboard|interface|app interface|web page|webpage|website|screenshot|monitor showing|screen showing|computer screen|laptop screen|tablet showing|phone screen|app screen|document|application form|tax form|tax document|government letter|official document|contract|invoice|receipt|statement|menu|book cover|magazine cover|newspaper|headline|advertisement|advert|billboard|signage|sign reading|poster|label|price tag|table showing|comparison|breakdown|statistics|data visualization|infogram)\\b/i;\n\nlet useTextModel = false;\nlet routeReason = \"\";\nif (requiresTextFlag === true) {\n  useTextModel = true; routeReason = \"flag_true\";\n} else if (requiresTextFlag === false) {\n  useTextModel = false; routeReason = \"flag_false\";\n} else {\n  const m = SAFETY_REGEX.exec(promptIn);\n  if (m) { useTextModel = true; routeReason = \"safety_regex:\" + m[0]; }\n  else   { useTextModel = false; routeReason = \"safety_regex_no_match\"; }\n}\n\nconst targetLabel = segmentId ? (\"segment \" + sceneNumber + \".\" + segmentNumber) : (\"scene \" + sceneNumber);\nconsole.log(\"[\" + targetLabel + \"] requires_text_flag=\" + JSON.stringify(requiresTextFlag) + \" route=\" + routeReason + \" useTextModel=\" + useTextModel + \" promptLen=\" + promptIn.length);\n\nlet modelUsed = \"\";\nlet imageUrl = \"\";\nlet costUsd = 0;\nlet providerError = null;\nconst startTime = Date.now();\n\nasync function callFal(endpoint, payload, maxRetries) {\n  const retries = maxRetries === undefined ? 3 : maxRetries;\n  for (let attempt = 1; attempt <= retries; attempt++) {\n    const resp = await fetch(endpoint, {\n      method: \"POST\",\n      headers: { \"Authorization\": \"Key \" + $env.FAL_API_KEY, \"Content-Type\": \"application/json\" },\n      body: JSON.stringify(payload)\n    });\n    if (resp.ok) {\n      const result = await resp.json();\n      if (!result.images || !result.images[0] || !result.images[0].url) {\n        return { error: { shape: JSON.stringify(result).slice(0, 400) } };\n      }\n      return { url: result.images[0].url };\n    }\n    if (resp.status === 429 && attempt < retries) {\n      const wait = 2000 * Math.pow(2, attempt - 1) + Math.floor(Math.random() * 1000);\n      console.log(\"  callFal 429 on \" + endpoint + \" attempt \" + attempt + \"/\" + retries + \", waiting \" + wait + \"ms\");\n      await new Promise(function(res) { setTimeout(res, wait); });\n      continue;\n    }\n    let errText = \"\";\n    try { errText = await resp.text(); } catch (_) {}\n    return { error: { http: resp.status, body: errText.slice(0, 400) } };\n  }\n  return { error: { exhausted: true } };\n}\n\ntry {\n  if (useTextModel) {\n    modelUsed = \"fal-ai/recraft-v3\";\n    let r = await callFal(\"https://fal.run/fal-ai/recraft-v3\", {\n      prompt: promptIn,\n      image_size: \"landscape_16_9\",\n      style: \"realistic_image\"\n    });\n    if (r.error) {\n      console.log(\"[\" + targetLabel + \"] recraft-v3 failed, falling back to ideogram-v2: \" + JSON.stringify(r.error).slice(0, 200));\n      modelUsed = \"fal-ai/ideogram/v2/turbo\";\n      r = await callFal(\"https://fal.run/fal-ai/ideogram/v2/turbo\", {\n        prompt: promptIn,\n        aspect_ratio: \"16:9\",\n        style: \"realistic\"\n      }, 1);\n      if (r.error) throw new Error(\"Both text models failed: \" + JSON.stringify(r.error).slice(0, 300));\n      costUsd = 0.08;\n    } else {\n      costUsd = 0.04;\n    }\n    imageUrl = r.url;\n  } else {\n    modelUsed = \"fal-ai/flux/schnell\";\n    const r = await callFal(\"https://fal.run/fal-ai/flux/schnell\", {\n      prompt: promptIn,\n      negative_prompt: negativePrompt,\n      image_size: \"landscape_16_9\",\n      num_inference_steps: 4\n    });\n    if (r.error) throw new Error(\"Flux Schnell failed: \" + JSON.stringify(r.error).slice(0, 300));\n    imageUrl = r.url;\n    costUsd = 0.003;\n  }\n\n  if (!imageUrl || typeof imageUrl !== \"string\") {\n    throw new Error(\"Empty/invalid image_url returned by \" + modelUsed);\n  }\n  if (!imageUrl.startsWith(\"http\")) {\n    throw new Error(\"Non-http image_url (\" + imageUrl.slice(0, 80) + \") from \" + modelUsed + \" - refusing to persist\");\n  }\n  if (sceneNumber > 0 && /scene_000\\.png\\b/.test(imageUrl)) {\n    throw new Error(\"Filename collision guard tripped: scene \" + sceneNumber + \" got scene_000.png URL - payload likely missing scene_number\");\n  }\n} catch (err) {\n  providerError = err.message || String(err);\n  console.log(\"[\" + targetLabel + \"] PROVIDER ERROR: \" + providerError);\n}\n\nconst elapsedMs = Date.now() - startTime;\n\n// Persist resolved prompt + model + cost for provenance.\n// Segments table has no image_prompt_resolved column, so write only model+cost when segment.\ntry {\n  if (segmentId) {\n    await fetch($env.SUPABASE_URL + \"/rest/v1/scene_segments?id=eq.\" + segmentId, {\n      method: \"PATCH\",\n      headers: {\n        \"apikey\": $env.SUPABASE_ANON_KEY,\n        \"Authorization\": \"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY,\n        \"Content-Type\": \"application/json\",\n        \"Prefer\": \"return=minimal\"\n      },\n      body: JSON.stringify({\n        image_model: modelUsed,\n        image_cost_usd: Math.round(costUsd * 100000) / 100000\n      })\n    });\n  } else {\n    await fetch($env.SUPABASE_URL + \"/rest/v1/scenes?id=eq.\" + sceneId, {\n      method: \"PATCH\",\n      headers: {\n        \"apikey\": $env.SUPABASE_ANON_KEY,\n        \"Authorization\": \"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY,\n        \"Content-Type\": \"application/json\",\n        \"Prefer\": \"return=minimal\"\n      },\n      body: JSON.stringify({\n        image_prompt_resolved: promptIn.substring(0, 8000),\n        image_model: modelUsed,\n        image_cost_usd: Math.round(costUsd * 100000) / 100000\n      })\n    });\n  }\n} catch (e) { /* non-fatal */ }\n\n// Append to production_log\ntry {\n  await fetch($env.SUPABASE_URL + \"/rest/v1/production_log\", {\n    method: \"POST\",\n    headers: {\n      \"apikey\": $env.SUPABASE_ANON_KEY,\n      \"Authorization\": \"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY,\n      \"Content-Type\": \"application/json\",\n      \"Prefer\": \"return=minimal\"\n    },\n    body: JSON.stringify({\n      project_id: projectId,\n      topic_id: topicId,\n      stage: segmentId ? \"image_segment\" : \"image\",\n      action: providerError ? \"failed\" : \"completed\",\n      details: {\n        scene_id: sceneId,\n        scene_number: sceneNumber,\n        segment_id: segmentId,\n        segment_number: segmentNumber,\n        model: modelUsed,\n        prompt_resolved_preview: promptIn.substring(0, 600),\n        prompt_length: promptIn.length,\n        requires_text_flag: requiresTextFlag,\n        route_reason: routeReason,\n        used_text_model: useTextModel,\n        cost_usd: costUsd,\n        elapsed_ms: elapsedMs,\n        error: providerError,\n        image_url: imageUrl,\n        register_id: body.register_id,\n        color_mood: body.color_mood,\n        zoom_direction: body.zoom_direction,\n        composition_prefix: body.composition_prefix\n      }\n    })\n  });\n} catch (e) { /* non-fatal */ }\n\nif (providerError) throw new Error(\"Image generation failed for \" + targetLabel + \": \" + providerError);\n\nreturn [{ json: {\n  scene_id: sceneId,\n  scene_number: sceneNumber,\n  segment_id: segmentId,\n  segment_number: segmentNumber,\n  image_url: imageUrl,\n  model: modelUsed,\n  cost_usd: costUsd,\n  elapsed_ms: elapsedMs,\n  image_status: \"uploaded\"\n} }];"
      }
    },
    {
      "id": "update-scene-success",
      "name": "Update Scene Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/{{ $('Generate Scene Image').first().json.segment_id ? 'scene_segments' : 'scenes' }}?id=eq.{{ $('Generate Scene Image').first().json.segment_id || $('Generate Scene Image').first().json.scene_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_status: 'uploaded', image_url: $('Generate Scene Image').first().json.image_url }) }}",
        "options": {}
      }
    },
    {
      "id": "update-scene-failed",
      "name": "Update Scene Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        450
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/{{ $('Webhook Trigger').first().json.body.segment_id ? 'scene_segments' : 'scenes' }}?id=eq.{{ $('Webhook Trigger').first().json.body.segment_id || $('Webhook Trigger').first().json.body.scene_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_status: 'failed' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Generate Scene Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Image": {
      "main": [
        [
          {
            "node": "Update Scene Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null
}