workflows/WF_SCRIPT_GENERATE__aWvYltc4Ut6EekJS.json
{
  "name": "WF_SCRIPT_GENERATE — 3-Pass Script Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "script/generate",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wf-sg-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "webhookId": "0b314e2e-3b0c-49cb-a12c-02fb8d3b17f9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst topic_id = body.topic_id;\nconst project_id = body.project_id;\n\nif (!topic_id) throw new Error(\"topic_id is required\");\n\nreturn [{ json: { topic_id, project_id } }];"
      },
      "id": "wf-sg-validate",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Script generation started', topic_id: $json.topic_id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wf-sg-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}&select=*,avatars(*)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf-sg-read-topic",
      "name": "Read Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/prompt_configs?project_id=eq.{{ $input.first().json[0].project_id }}&is_active=eq.true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf-sg-read-prompts",
      "name": "Read Prompts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/projects?id=eq.{{ $('Read Topic').first().json[0].project_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf-sg-read-project",
      "name": "Read Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topic = $('Read Topic').first().json[0];\nconst promptsArr = $('Read Prompts').first().json;\nconst project = $('Read Project').first().json[0];\n\nif (!topic) throw new Error('Topic not found');\nif (!promptsArr || !promptsArr.length) throw new Error('No prompt_configs found for project');\n\nconst promptTypes = ['script_pass1', 'script_pass2', 'script_pass3', 'evaluator', 'visual_director'];\nconst prompts = {};\nfor (const pt of promptTypes) {\n  const found = promptsArr.find(p => p.prompt_type === pt);\n  if (!found) throw new Error(`Missing prompt_config type: ${pt}`);\n  prompts[pt] = found.prompt_text;\n}\n\nconst attempt = (topic.script_attempts || 0) + 1;\nconst avatar = (topic.avatars && topic.avatars.length) ? topic.avatars[0] : {};\n\nreturn [{ json: {\n  topic,\n  avatar,\n  project,\n  prompts,\n  attempt,\n  topic_id: topic.id,\n  project_id: topic.project_id\n} }];"
      },
      "id": "wf-sg-init",
      "name": "Init & Validate Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'scripting', script_attempts: $json.attempt, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-scripting",
      "name": "PATCH Status Scripting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Init & Validate Prompts').first().json.project_id, topic_id: $('Init & Validate Prompts').first().json.topic_id, stage: 'script_generation', action: 'started', details: { attempt: $('Init & Validate Prompts').first().json.attempt } }) }}",
        "options": {}
      },
      "id": "wf-sg-log-started",
      "name": "Log Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const init = $('Init & Validate Prompts').first().json;\nconst { topic, avatar, project, prompts } = init;\n\nlet prompt = prompts.script_pass1;\n\nconst vars = {\n  '{{niche_expertise_profile}}': project.niche_expertise_profile || '',\n  '{{seo_title}}': topic.seo_title || topic.original_title || '',\n  '{{narrative_hook}}': topic.narrative_hook || '',\n  '{{avatar_name_age}}': avatar.avatar_name_age || '',\n  '{{pain_point}}': avatar.pain_point || '',\n  '{{occupation_income}}': avatar.occupation_income || '',\n  '{{life_stage}}': avatar.life_stage || '',\n  '{{spending_profile}}': avatar.spending_profile || '',\n  '{{knowledge_level}}': avatar.knowledge_level || '',\n  '{{emotional_driver}}': avatar.emotional_driver || '',\n  '{{online_hangouts}}': avatar.online_hangouts || '',\n  '{{objection}}': avatar.objection || '',\n  '{{dream_outcome}}': avatar.dream_outcome || '',\n  '{{playlist_angle}}': topic.playlist_angle || '',\n  '{{key_segments}}': topic.key_segments || ''\n};\n\nfor (const [k, v] of Object.entries(vars)) {\n  prompt = prompt.split(k).join(v);\n}\n\nreturn [{ json: { prompt } }];"
      },
      "id": "wf-sg-build-pass1",
      "name": "Build Pass 1 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 8192, system: $('Init & Validate Prompts').first().json.project.niche_system_prompt || 'You are an expert scriptwriter for long-form YouTube documentaries.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "wf-sg-claude-pass1",
      "name": "Claude: Pass 1 Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vlfOXwvIUlRYnr41",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.error || response.type === 'error') {\n  return [{ json: {\n    isError: true,\n    error_message: response.error?.message || JSON.stringify(response.error || response),\n    topic_id: $('Init & Validate Prompts').first().json.topic_id,\n    project_id: $('Init & Validate Prompts').first().json.project_id\n  } }];\n}\nconst text = (response.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\nreturn [{ json: { isError: false, pass1_text: text, topic_id: $('Init & Validate Prompts').first().json.topic_id, project_id: $('Init & Validate Prompts').first().json.project_id } }];"
      },
      "id": "wf-sg-check-pass1-err",
      "name": "Check Pass 1 Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isError }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf-sg-if-pass1-err",
      "name": "IF Pass 1 Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2672,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const pass1_text = $json.pass1_text;\nconst evalPrompt = $('Init & Validate Prompts').first().json.prompts.evaluator;\n\nconst prompt = evalPrompt + `\\n\\n--- SCRIPT TO EVALUATE (Pass 1 Foundation) ---\\n${pass1_text}\\n\\nReturn your evaluation as valid JSON only: { \"score\": 0.0, \"dimensions\": { \"hook_strength\": 0, \"persona_integration\": 0, \"pacing\": 0, \"specificity\": 0, \"tts_readability\": 0, \"visual_prompts\": 0, \"anti_patterns\": 0 }, \"feedback\": \"...\" }`;\n\nreturn [{ json: { eval_prompt: prompt, pass1_text } }];"
      },
      "id": "wf-sg-eval-pass1-prompt",
      "name": "Build Pass 1 Eval Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2048, system: 'You are a script quality evaluator. Always return valid JSON only, no markdown.', messages: [{ role: 'user', content: $json.eval_prompt }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf-sg-claude-eval1",
      "name": "Claude: Eval Pass 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vlfOXwvIUlRYnr41",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const evalResponse = $input.first().json;\nconst pass1_text = $('Build Pass 1 Eval Prompt').first().json.pass1_text;\n\nlet score = 6.0;\nlet dimensions = {};\nlet feedback = 'Evaluation unavailable';\n\ntry {\n  const text = (evalResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n  const s = cleaned.indexOf('{'), e = cleaned.lastIndexOf('}');\n  const parsed = JSON.parse(cleaned.substring(s, e + 1));\n  score = parsed.score || 6.0;\n  dimensions = parsed.dimensions || {};\n  feedback = parsed.feedback || '';\n} catch(err) {\n  feedback = 'Parse error: ' + err.message;\n}\n\nconst existingScores = $('Read Topic').first().json[0].script_pass_scores || {};\nexistingScores.pass1 = {\n  score,\n  dimensions,\n  feedback,\n  word_count: pass1_text.split(' ').length,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: {\n  script_pass_scores: JSON.stringify(existingScores),\n  pass1_text,\n  pass1_score: score,\n  topic_id: $('Init & Validate Prompts').first().json.topic_id,\n  project_id: $('Init & Validate Prompts').first().json.project_id\n} }];"
      },
      "id": "wf-sg-merge-pass1",
      "name": "Merge Pass 1 Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        472
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script_pass_scores: $json.script_pass_scores, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-p1",
      "name": "PATCH Pass 1 Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Merge Pass 1 Scores').first().json.project_id, topic_id: $('Merge Pass 1 Scores').first().json.topic_id, stage: 'script_generation', action: 'pass1_complete', details: { score: $('Merge Pass 1 Scores').first().json.pass1_score, word_count: $('Merge Pass 1 Scores').first().json.pass1_text.split(' ').length } }) }}",
        "options": {}
      },
      "id": "wf-sg-log-pass1",
      "name": "Log Pass 1 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const init = $('Init & Validate Prompts').first().json;\nconst { topic, avatar, project, prompts } = init;\nconst pass1_text = $('Merge Pass 1 Scores').first().json.pass1_text;\n\nlet prompt = prompts.script_pass2;\n\nconst vars = {\n  '{{niche_expertise_profile}}': project.niche_expertise_profile || '',\n  '{{seo_title}}': topic.seo_title || topic.original_title || '',\n  '{{narrative_hook}}': topic.narrative_hook || '',\n  '{{avatar_name_age}}': avatar.avatar_name_age || '',\n  '{{pain_point}}': avatar.pain_point || '',\n  '{{occupation_income}}': avatar.occupation_income || '',\n  '{{life_stage}}': avatar.life_stage || '',\n  '{{spending_profile}}': avatar.spending_profile || '',\n  '{{knowledge_level}}': avatar.knowledge_level || '',\n  '{{emotional_driver}}': avatar.emotional_driver || '',\n  '{{online_hangouts}}': avatar.online_hangouts || '',\n  '{{objection}}': avatar.objection || '',\n  '{{dream_outcome}}': avatar.dream_outcome || '',\n  '{{playlist_angle}}': topic.playlist_angle || '',\n  '{{key_segments}}': topic.key_segments || ''\n};\n\nfor (const [k, v] of Object.entries(vars)) {\n  prompt = prompt.split(k).join(v);\n}\n\nreturn [{ json: { prompt, pass1_text } }];"
      },
      "id": "wf-sg-build-pass2",
      "name": "Build Pass 2 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 12288, system: $('Init & Validate Prompts').first().json.project.niche_system_prompt || 'You are an expert scriptwriter for long-form YouTube documentaries.', messages: [{ role: 'user', content: $json.prompt }, { role: 'assistant', content: $json.pass1_text }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "wf-sg-claude-pass2",
      "name": "Claude: Pass 2 Depth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vlfOXwvIUlRYnr41",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.error || response.type === 'error') {\n  return [{ json: {\n    isError: true,\n    error_message: response.error?.message || JSON.stringify(response.error || response),\n    topic_id: $('Init & Validate Prompts').first().json.topic_id,\n    project_id: $('Init & Validate Prompts').first().json.project_id\n  } }];\n}\nconst text = (response.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\nreturn [{ json: { isError: false, pass2_text: text, topic_id: $('Init & Validate Prompts').first().json.topic_id, project_id: $('Init & Validate Prompts').first().json.project_id } }];"
      },
      "id": "wf-sg-check-pass2-err",
      "name": "Check Pass 2 Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isError }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf-sg-if-pass2-err",
      "name": "IF Pass 2 Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4688,
        472
      ]
    },
    {
      "parameters": {
        "jsCode": "const pass2_text = $json.pass2_text;\nconst pass1_text = $('Merge Pass 1 Scores').first().json.pass1_text;\nconst evalPrompt = $('Init & Validate Prompts').first().json.prompts.evaluator;\n\nconst prompt = evalPrompt + `\\n\\n--- SCRIPT TO EVALUATE (Pass 2 Depth) ---\\n${pass2_text}\\n\\nReturn your evaluation as valid JSON only: { \"score\": 0.0, \"dimensions\": { \"hook_strength\": 0, \"persona_integration\": 0, \"pacing\": 0, \"specificity\": 0, \"tts_readability\": 0, \"visual_prompts\": 0, \"anti_patterns\": 0 }, \"feedback\": \"...\" }`;\n\nlet score = 6.0;\nlet dimensions = {};\nlet feedback = 'Pass 2 evaluation skipped (inline parse)';\n\nconst existingScoresStr = $('PATCH Pass 1 Scores').first().json?.script_pass_scores || JSON.stringify($('Read Topic').first().json[0].script_pass_scores || {});\nlet existingScores = {};\ntry { existingScores = typeof existingScoresStr === 'string' ? JSON.parse(existingScoresStr) : (existingScoresStr || {}); } catch(e) {}\n\nexistingScores.pass2 = {\n  score,\n  dimensions,\n  feedback,\n  word_count: pass2_text.split(' ').length,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: {\n  script_pass_scores: JSON.stringify(existingScores),\n  pass1_text,\n  pass2_text,\n  pass2_score: score,\n  eval_prompt: prompt,\n  topic_id: $('Init & Validate Prompts').first().json.topic_id,\n  project_id: $('Init & Validate Prompts').first().json.project_id\n} }];"
      },
      "id": "wf-sg-merge-pass2",
      "name": "Merge Pass 2 Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        544
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script_pass_scores: $json.script_pass_scores, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-p2",
      "name": "PATCH Pass 2 Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5136,
        544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Merge Pass 2 Scores').first().json.project_id, topic_id: $('Merge Pass 2 Scores').first().json.topic_id, stage: 'script_generation', action: 'pass2_complete', details: { score: $('Merge Pass 2 Scores').first().json.pass2_score, word_count: $('Merge Pass 2 Scores').first().json.pass2_text.split(' ').length } }) }}",
        "options": {}
      },
      "id": "wf-sg-log-pass2",
      "name": "Log Pass 2 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5360,
        544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const init = $('Init & Validate Prompts').first().json;\nconst { topic, avatar, project, prompts } = init;\nconst pass1_text = $('Merge Pass 2 Scores').first().json.pass1_text;\nconst pass2_text = $('Merge Pass 2 Scores').first().json.pass2_text;\n\nlet prompt = prompts.script_pass3;\n\nconst vars = {\n  '{{niche_expertise_profile}}': project.niche_expertise_profile || '',\n  '{{seo_title}}': topic.seo_title || topic.original_title || '',\n  '{{narrative_hook}}': topic.narrative_hook || '',\n  '{{avatar_name_age}}': avatar.avatar_name_age || '',\n  '{{pain_point}}': avatar.pain_point || '',\n  '{{occupation_income}}': avatar.occupation_income || '',\n  '{{life_stage}}': avatar.life_stage || '',\n  '{{spending_profile}}': avatar.spending_profile || '',\n  '{{knowledge_level}}': avatar.knowledge_level || '',\n  '{{emotional_driver}}': avatar.emotional_driver || '',\n  '{{online_hangouts}}': avatar.online_hangouts || '',\n  '{{objection}}': avatar.objection || '',\n  '{{dream_outcome}}': avatar.dream_outcome || '',\n  '{{playlist_angle}}': topic.playlist_angle || '',\n  '{{key_segments}}': topic.key_segments || '',\n  '{{pass1_summary}}': pass1_text.substring(0, 2000),\n  '{{pass2_summary}}': pass2_text.substring(0, 2000)\n};\n\nfor (const [k, v] of Object.entries(vars)) {\n  prompt = prompt.split(k).join(v);\n}\n\nreturn [{ json: { prompt, pass1_text, pass2_text } }];"
      },
      "id": "wf-sg-build-pass3",
      "name": "Build Pass 3 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 8192, system: $('Init & Validate Prompts').first().json.project.niche_system_prompt || 'You are an expert scriptwriter for long-form YouTube documentaries.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "wf-sg-claude-pass3",
      "name": "Claude: Pass 3 Resolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5808,
        544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vlfOXwvIUlRYnr41",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.error || response.type === 'error') {\n  return [{ json: {\n    isError: true,\n    error_message: response.error?.message || JSON.stringify(response.error || response),\n    topic_id: $('Init & Validate Prompts').first().json.topic_id,\n    project_id: $('Init & Validate Prompts').first().json.project_id\n  } }];\n}\nconst text = (response.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\nreturn [{ json: { isError: false, pass3_text: text, topic_id: $('Init & Validate Prompts').first().json.topic_id, project_id: $('Init & Validate Prompts').first().json.project_id } }];"
      },
      "id": "wf-sg-check-pass3-err",
      "name": "Check Pass 3 Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6032,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isError }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf-sg-if-pass3-err",
      "name": "IF Pass 3 Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6256,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const pass3_text = $json.pass3_text;\nconst pass1_text = $('Build Pass 3 Prompt').first().json.pass1_text;\nconst pass2_text = $('Build Pass 3 Prompt').first().json.pass2_text;\n\nlet score = 6.0;\nlet dimensions = {};\nlet feedback = 'Pass 3 evaluation pending combined eval';\n\nconst existingScoresStr = $('Merge Pass 2 Scores').first().json.script_pass_scores;\nlet existingScores = {};\ntry { existingScores = typeof existingScoresStr === 'string' ? JSON.parse(existingScoresStr) : (existingScoresStr || {}); } catch(e) {}\n\nexistingScores.pass3 = {\n  score,\n  dimensions,\n  feedback,\n  word_count: pass3_text.split(' ').length,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: {\n  script_pass_scores: JSON.stringify(existingScores),\n  pass1_text,\n  pass2_text,\n  pass3_text,\n  pass3_score: score,\n  topic_id: $('Init & Validate Prompts').first().json.topic_id,\n  project_id: $('Init & Validate Prompts').first().json.project_id\n} }];"
      },
      "id": "wf-sg-merge-pass3",
      "name": "Merge Pass 3 Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        592
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script_pass_scores: $json.script_pass_scores, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-p3",
      "name": "PATCH Pass 3 Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6704,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Merge Pass 3 Scores').first().json.project_id, topic_id: $('Merge Pass 3 Scores').first().json.topic_id, stage: 'script_generation', action: 'pass3_complete', details: { score: $('Merge Pass 3 Scores').first().json.pass3_score, word_count: $('Merge Pass 3 Scores').first().json.pass3_text.split(' ').length } }) }}",
        "options": {}
      },
      "id": "wf-sg-log-pass3",
      "name": "Log Pass 3 Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6928,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pass1_text = $('Merge Pass 3 Scores').first().json.pass1_text;\nconst pass2_text = $('Merge Pass 3 Scores').first().json.pass2_text;\nconst pass3_text = $('Merge Pass 3 Scores').first().json.pass3_text;\nconst attempt = $('Init & Validate Prompts').first().json.attempt;\nconst evalPrompt = $('Init & Validate Prompts').first().json.prompts.evaluator;\n\nconst combined_text = `PASS 1 — FOUNDATION:\\n${pass1_text}\\n\\nPASS 2 — DEPTH:\\n${pass2_text}\\n\\nPASS 3 — RESOLUTION:\\n${pass3_text}`;\n\nconst eval_prompt = evalPrompt + `\\n\\n--- COMBINED SCRIPT (3 passes) ---\\n${combined_text.substring(0, 60000)}\\n\\nReturn your evaluation as valid JSON only: { \"score\": 0.0, \"dimensions\": { \"hook_strength\": 0, \"persona_integration\": 0, \"pacing\": 0, \"specificity\": 0, \"tts_readability\": 0, \"visual_prompts\": 0, \"anti_patterns\": 0 }, \"feedback\": \"...\" }`;\n\nreturn [{ json: {\n  combined_text,\n  eval_prompt,\n  pass1_text,\n  pass2_text,\n  pass3_text,\n  force_passed: false,\n  attempt,\n  topic_id: $('Init & Validate Prompts').first().json.topic_id,\n  project_id: $('Init & Validate Prompts').first().json.project_id\n} }];"
      },
      "id": "wf-sg-combined",
      "name": "Build Combined Eval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: 'You are a script quality evaluator. Always return valid JSON only, no markdown.', messages: [{ role: 'user', content: $json.eval_prompt }] }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "wf-sg-claude-combined",
      "name": "Claude: Combined Eval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7376,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vlfOXwvIUlRYnr41",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const evalResponse = $input.first().json;\nconst combined_data = $('Build Combined Eval').first().json;\n\nlet combined_score = 7.0;\nlet dimensions = {};\nlet feedback = 'Evaluation unavailable';\n\ntry {\n  const text = (evalResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n  const s = cleaned.indexOf('{'), e = cleaned.lastIndexOf('}');\n  const parsed = JSON.parse(cleaned.substring(s, e + 1));\n  combined_score = parsed.score || 7.0;\n  dimensions = parsed.dimensions || {};\n  feedback = parsed.feedback || '';\n} catch(err) {\n  feedback = 'Parse error: ' + err.message;\n}\n\nconst force_passed = combined_score < 7.0 && combined_data.attempt >= 3;\n\nconst existingScoresStr = $('Merge Pass 3 Scores').first().json.script_pass_scores;\nlet existingScores = {};\ntry { existingScores = typeof existingScoresStr === 'string' ? JSON.parse(existingScoresStr) : (existingScoresStr || {}); } catch(e) {}\n\nexistingScores.combined = {\n  score: combined_score,\n  dimensions,\n  feedback,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: {\n  script_pass_scores: JSON.stringify(existingScores),\n  combined_score,\n  force_passed,\n  combined_text: combined_data.combined_text,\n  pass1_text: combined_data.pass1_text,\n  pass2_text: combined_data.pass2_text,\n  pass3_text: combined_data.pass3_text,\n  dimensions,\n  feedback,\n  attempt: combined_data.attempt,\n  topic_id: combined_data.topic_id,\n  project_id: combined_data.project_id\n} }];"
      },
      "id": "wf-sg-merge-combined",
      "name": "Merge Combined Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7600,
        592
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script_quality_score: $json.combined_score, script_evaluation: JSON.stringify({ score: $json.combined_score, dimensions: $json.dimensions, feedback: $json.feedback, timestamp: new Date().toISOString() }), script_pass_scores: $json.script_pass_scores, script_force_passed: $json.force_passed, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-combined",
      "name": "PATCH Combined Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7824,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const merged = $('Merge Combined Scores').first().json;\nconst { combined_text, pass1_text, pass2_text, pass3_text } = merged;\nconst visualPrompt = $('Init & Validate Prompts').first().json.prompts.visual_director;\n\nconst sceneRegex = /##?\\s*(?:Scene|SCENE)[_\\s]?(\\d+)[^\\n]*/g;\nconst narrationRegex = /(?:NARRATION|Narration|narration)[:\\s]+([^\\n]{50,})/g;\nconst promptRegex = /(?:IMAGE PROMPT|image prompt|IMAGE_PROMPT|VISUAL|visual)[:\\s]+([^\\n]{20,})/g;\n\nconst rawScenes = [];\nlet sceneNum = 0;\nconst lines = combined_text.split('\\n');\nlet currentScene = null;\nlet currentNarration = [];\nlet currentPrompt = '';\nlet currentChapter = '';\n\nfor (const line of lines) {\n  const chapterMatch = line.match(/^#+\\s*(Chapter|CHAPTER|Part|PART)\\s*[0-9]+[:\\s]+(.*)/i);\n  if (chapterMatch) { currentChapter = chapterMatch[0].replace(/^#+\\s*/, '').trim(); }\n  \n  const sceneMatch = line.match(/^##?\\s*(?:Scene|SCENE)[_\\s]?(\\d+)/i);\n  if (sceneMatch) {\n    if (currentScene) {\n      currentScene.narration_text = currentNarration.join(' ').trim();\n      currentScene.image_prompt = currentPrompt.trim();\n      rawScenes.push(currentScene);\n    }\n    sceneNum++;\n    currentScene = {\n      scene_number: sceneNum,\n      scene_id: `scene_${String(sceneNum).padStart(3, '0')}`,\n      chapter: currentChapter,\n      narration_text: '',\n      image_prompt: '',\n      emotional_beat: ''\n    };\n    currentNarration = [];\n    currentPrompt = '';\n  } else if (currentScene) {\n    const narLine = line.match(/^(?:NARRATION|narration)[:\\s]+(.+)/);\n    const imgLine = line.match(/^(?:IMAGE PROMPT|image prompt|VISUAL)[:\\s]+(.+)/);\n    const emotLine = line.match(/^(?:EMOTIONAL BEAT|emotional beat)[:\\s]+(.+)/);\n    if (narLine) currentNarration.push(narLine[1]);\n    else if (imgLine) currentPrompt = imgLine[1];\n    else if (emotLine) currentScene.emotional_beat = emotLine[1];\n    else if (line.trim() && !line.startsWith('#') && !line.startsWith('-')) currentNarration.push(line);\n  }\n}\n\nif (currentScene) {\n  currentScene.narration_text = currentNarration.join(' ').trim();\n  currentScene.image_prompt = currentPrompt.trim();\n  rawScenes.push(currentScene);\n}\n\nconst finalScenes = rawScenes.length > 0 ? rawScenes : [{\n  scene_number: 1, scene_id: 'scene_001', chapter: 'Main', narration_text: combined_text.substring(0, 500), image_prompt: 'Documentary establishing shot', emotional_beat: 'hook'\n}];\n\nconst sceneList = finalScenes.slice(0, 30).map(s => `${s.scene_id}: ${s.narration_text.substring(0, 100)}`).join('\\n');\nconst visual_prompt = `${visualPrompt}\\n\\nAssign visual_type (static_image, i2v, or t2v) to each scene below. Return JSON: { \"assignments\": { \"scene_001\": \"static_image\", ... } }\\n\\nScenes:\\n${sceneList}`;\n\nreturn [{ json: { visual_prompt, raw_scenes_array: finalScenes, topic_id: merged.topic_id, project_id: merged.project_id, combined_score: merged.combined_score, force_passed: merged.force_passed, attempt: merged.attempt } }];"
      },
      "id": "wf-sg-build-visual-prompt",
      "name": "Build Visual Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8048,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: 'You are a visual director for YouTube documentaries. Assign visual types to scenes. Always return valid JSON only.', messages: [{ role: 'user', content: $json.visual_prompt }] }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "wf-sg-claude-visual",
      "name": "Claude: Visual Assignment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8272,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vlfOXwvIUlRYnr41",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const visualResponse = $input.first().json;\nconst buildData = $('Build Visual Prompt').first().json;\nconst rawScenes = buildData.raw_scenes_array;\nconst topic_id = buildData.topic_id;\nconst project_id = buildData.project_id;\n\nlet assignments = {};\ntry {\n  const text = (visualResponse.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\n  const cleaned = text.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\n  const s = cleaned.indexOf('{'), e = cleaned.lastIndexOf('}');\n  const parsed = JSON.parse(cleaned.substring(s, e + 1));\n  assignments = parsed.assignments || {};\n} catch(err) {\n  // Default all to static_image if parse fails\n}\n\nconst VALID_TYPES = ['static_image', 'i2v', 't2v'];\n\nconst scenes_array = rawScenes.map(scene => {\n  const vt = assignments[scene.scene_id];\n  const visual_type = VALID_TYPES.includes(vt) ? vt : 'static_image';\n  return {\n    topic_id,\n    project_id,\n    scene_number: scene.scene_number,\n    scene_id: scene.scene_id,\n    narration_text: scene.narration_text || '',\n    image_prompt: scene.image_prompt || '',\n    visual_type,\n    emotional_beat: scene.emotional_beat || '',\n    chapter: scene.chapter || '',\n    audio_status: 'pending',\n    image_status: 'pending',\n    video_status: 'pending',\n    clip_status: 'pending',\n    skipped: false\n  };\n});\n\nconst word_count = rawScenes.reduce((sum, s) => sum + s.narration_text.split(' ').length, 0);\nconst scene_count = scenes_array.length;\n\nconst script_json = JSON.stringify(scenes_array);\nconst script_metadata = JSON.stringify({\n  video_metadata: {\n    title: $('Init & Validate Prompts').first().json.topic.seo_title || $('Init & Validate Prompts').first().json.topic.original_title,\n    description: `A detailed documentary about ${$('Init & Validate Prompts').first().json.topic.narrative_hook || ''}`,\n    tags: ['documentary', $('Init & Validate Prompts').first().json.project.niche || ''],\n    thumbnail_prompt: scenes_array[0]?.image_prompt || ''\n  },\n  generation_stats: {\n    word_count,\n    scene_count,\n    visual_type_breakdown: {\n      static_image: scenes_array.filter(s => s.visual_type === 'static_image').length,\n      i2v: scenes_array.filter(s => s.visual_type === 'i2v').length,\n      t2v: scenes_array.filter(s => s.visual_type === 't2v').length\n    },\n    quality_score: buildData.combined_score,\n    force_passed: buildData.force_passed,\n    attempt: buildData.attempt\n  }\n});\n\nreturn [{ json: { scenes_array, script_json, script_metadata, word_count, scene_count, topic_id, project_id, combined_score: buildData.combined_score, force_passed: buildData.force_passed, attempt: buildData.attempt } }];"
      },
      "id": "wf-sg-build-scenes",
      "name": "Build Scenes Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8496,
        592
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script_json: $json.script_json, script_metadata: $json.script_metadata, word_count: $json.word_count, scene_count: $json.scene_count, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-script",
      "name": "PATCH Script JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8720,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/scenes?topic_id=eq.{{ $('Build Scenes Array').first().json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {}
      },
      "id": "wf-sg-delete-scenes",
      "name": "Delete Prior Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8944,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Scenes Array').first().json.script_json }}",
        "options": {}
      },
      "id": "wf-sg-insert-scenes",
      "name": "Bulk Insert Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9168,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Build Scenes Array').first().json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'review', script_review_status: 'pending', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-review",
      "name": "PATCH Status Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9392,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Build Scenes Array').first().json.project_id, topic_id: $('Build Scenes Array').first().json.topic_id, stage: 'script_generation', action: 'completed', details: { word_count: $('Build Scenes Array').first().json.word_count, scene_count: $('Build Scenes Array').first().json.scene_count, quality_score: $('Build Scenes Array').first().json.combined_score, force_passed: $('Build Scenes Array').first().json.force_passed, attempt: $('Build Scenes Array').first().json.attempt } }) }}",
        "options": {}
      },
      "id": "wf-sg-log-completed",
      "name": "Log Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9616,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const errData = $input.first().json;\nconst topic_id = errData.topic_id || $('Init & Validate Prompts').first().json?.topic_id;\nconst project_id = errData.project_id || $('Init & Validate Prompts').first().json?.project_id;\nconst error_message = errData.error_message || 'Unknown error in script generation';\n\nreturn [{ json: { topic_id, project_id, error_message } }];"
      },
      "id": "wf-sg-collect-error",
      "name": "Collect Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.topic_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', error_log: $json.error_message, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "wf-sg-patch-failed",
      "name": "PATCH Status Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6704,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/production_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Collect Error').first().json.project_id, topic_id: $('Collect Error').first().json.topic_id, stage: 'script_generation', action: 'failed', details: { error: $('Collect Error').first().json.error_message } }) }}",
        "options": {}
      },
      "id": "wf-sg-log-failed",
      "name": "Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6928,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsqqFXtnLakNfVKR",
          "name": "Supabase Service Role"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Topic": {
      "main": [
        [
          {
            "node": "Read Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts": {
      "main": [
        [
          {
            "node": "Read Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Project": {
      "main": [
        [
          {
            "node": "Init & Validate Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init & Validate Prompts": {
      "main": [
        [
          {
            "node": "PATCH Status Scripting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Status Scripting": {
      "main": [
        [
          {
            "node": "Log Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Started": {
      "main": [
        [
          {
            "node": "Build Pass 1 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass 1 Prompt": {
      "main": [
        [
          {
            "node": "Claude: Pass 1 Foundation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Pass 1 Foundation": {
      "main": [
        [
          {
            "node": "Check Pass 1 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pass 1 Error": {
      "main": [
        [
          {
            "node": "IF Pass 1 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pass 1 Error": {
      "main": [
        [
          {
            "node": "Collect Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Pass 1 Eval Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass 1 Eval Prompt": {
      "main": [
        [
          {
            "node": "Claude: Eval Pass 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Eval Pass 1": {
      "main": [
        [
          {
            "node": "Merge Pass 1 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Pass 1 Scores": {
      "main": [
        [
          {
            "node": "PATCH Pass 1 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Pass 1 Scores": {
      "main": [
        [
          {
            "node": "Log Pass 1 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Pass 1 Complete": {
      "main": [
        [
          {
            "node": "Build Pass 2 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass 2 Prompt": {
      "main": [
        [
          {
            "node": "Claude: Pass 2 Depth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Pass 2 Depth": {
      "main": [
        [
          {
            "node": "Check Pass 2 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pass 2 Error": {
      "main": [
        [
          {
            "node": "IF Pass 2 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pass 2 Error": {
      "main": [
        [
          {
            "node": "Collect Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Pass 2 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Pass 2 Scores": {
      "main": [
        [
          {
            "node": "PATCH Pass 2 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Pass 2 Scores": {
      "main": [
        [
          {
            "node": "Log Pass 2 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Pass 2 Complete": {
      "main": [
        [
          {
            "node": "Build Pass 3 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass 3 Prompt": {
      "main": [
        [
          {
            "node": "Claude: Pass 3 Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Pass 3 Resolution": {
      "main": [
        [
          {
            "node": "Check Pass 3 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pass 3 Error": {
      "main": [
        [
          {
            "node": "IF Pass 3 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pass 3 Error": {
      "main": [
        [
          {
            "node": "Collect Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Pass 3 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Pass 3 Scores": {
      "main": [
        [
          {
            "node": "PATCH Pass 3 Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Pass 3 Scores": {
      "main": [
        [
          {
            "node": "Log Pass 3 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Pass 3 Complete": {
      "main": [
        [
          {
            "node": "Build Combined Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Combined Eval": {
      "main": [
        [
          {
            "node": "Claude: Combined Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Combined Eval": {
      "main": [
        [
          {
            "node": "Merge Combined Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Combined Scores": {
      "main": [
        [
          {
            "node": "PATCH Combined Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Combined Score": {
      "main": [
        [
          {
            "node": "Build Visual Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Visual Prompt": {
      "main": [
        [
          {
            "node": "Claude: Visual Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Visual Assignment": {
      "main": [
        [
          {
            "node": "Build Scenes Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scenes Array": {
      "main": [
        [
          {
            "node": "PATCH Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Script JSON": {
      "main": [
        [
          {
            "node": "Delete Prior Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Prior Scenes": {
      "main": [
        [
          {
            "node": "Bulk Insert Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Insert Scenes": {
      "main": [
        [
          {
            "node": "PATCH Status Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Status Review": {
      "main": [
        [
          {
            "node": "Log Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Error": {
      "main": [
        [
          {
            "node": "PATCH Status Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Status Failed": {
      "main": [
        [
          {
            "node": "Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
