workflows/WF_SCENE_IMAGE_PROCESSOR.json
{
  "updatedAt": "2026-03-28T17:52:28.754Z",
  "createdAt": "2026-03-10T19:14:46.915Z",
  "id": "Lik3MUT0E9a6JUum",
  "name": "WF_SCENE_IMAGE_PROCESSOR",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "process-scene/image",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "webhookId": "process-scene-image-wh"
    },
    {
      "id": "respond-accepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ accepted: true, scene_id: $json.body.scene_id }) }}",
        "options": {}
      }
    },
    {
      "id": "build-fal-request",
      "name": "Build Fal Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        690,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "scene_id",
              "value": "={{ $('Webhook Trigger').first().json.body.scene_id }}",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "topic_id",
              "value": "={{ $('Webhook Trigger').first().json.body.topic_id }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "project_id",
              "value": "={{ $('Webhook Trigger').first().json.body.project_id }}",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "image_prompt",
              "value": "={{ $('Webhook Trigger').first().json.body.image_prompt }}",
              "type": "string"
            },
            {
              "id": "s5",
              "name": "negative_prompt",
              "value": "={{ $('Webhook Trigger').first().json.body.negative_prompt || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "generate-image",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/bytedance/seedream/v4.5/text-to-image",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $env.FAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.image_prompt, negative_prompt: $json.negative_prompt || undefined, image_size: 'landscape_16_9' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-response",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "update-scene-success",
      "name": "Update Scene Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes?id=eq.{{ $('Build Fal Request').first().json.scene_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_status: 'uploaded', image_url: $('Generate Image').first().json.images[0].url }) }}",
        "options": {}
      }
    },
    {
      "id": "update-scene-failed",
      "name": "Update Scene Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        450
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes?id=eq.{{ $('Build Fal Request').first().json.scene_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_status: 'failed' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Build Fal Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fal Request": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Update Scene Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Scene Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8139da98-2f17-48b3-9636-f53e97ea2a63",
  "activeVersionId": "8139da98-2f17-48b3-9636-f53e97ea2a63",
  "versionCounter": 53,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T19:14:46.924Z",
      "createdAt": "2026-03-10T19:14:46.924Z",
      "role": "workflow:owner",
      "workflowId": "Lik3MUT0E9a6JUum",
      "projectId": "ccWn1Q4giuKzXIbJ",
      "project": {
        "updatedAt": "2026-01-26T11:09:31.107Z",
        "createdAt": "2026-01-26T03:51:33.410Z",
        "id": "ccWn1Q4giuKzXIbJ",
        "name": "Akinwunmi Akinrimisi <akinolacrypto@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ab010feb-355c-4130-b354-4e929908258e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T17:52:28.755Z",
    "createdAt": "2026-03-28T17:52:28.755Z",
    "versionId": "8139da98-2f17-48b3-9636-f53e97ea2a63",
    "workflowId": "Lik3MUT0E9a6JUum",
    "nodes": [
      {
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "process-scene/image",
          "responseMode": "responseNode",
          "options": {}
        },
        "onError": "continueRegularOutput",
        "webhookId": "process-scene-image-wh"
      },
      {
        "id": "respond-accepted",
        "name": "Respond Accepted",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          470,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ accepted: true, scene_id: $json.body.scene_id }) }}",
          "options": {}
        }
      },
      {
        "id": "build-fal-request",
        "name": "Build Fal Request",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          690,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "scene_id",
                "value": "={{ $('Webhook Trigger').first().json.body.scene_id }}",
                "type": "string"
              },
              {
                "id": "s2",
                "name": "topic_id",
                "value": "={{ $('Webhook Trigger').first().json.body.topic_id }}",
                "type": "string"
              },
              {
                "id": "s3",
                "name": "project_id",
                "value": "={{ $('Webhook Trigger').first().json.body.project_id }}",
                "type": "string"
              },
              {
                "id": "s4",
                "name": "image_prompt",
                "value": "={{ $('Webhook Trigger').first().json.body.image_prompt }}",
                "type": "string"
              },
              {
                "id": "s5",
                "name": "negative_prompt",
                "value": "={{ $('Webhook Trigger').first().json.body.negative_prompt || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "generate-image",
        "name": "Generate Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          910,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://fal.run/fal-ai/bytedance/seedream/v4/text-to-image",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Key {{ $env.FAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ prompt: $json.image_prompt, negative_prompt: $json.negative_prompt || undefined, image_size: 'landscape_16_9' }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 30000,
        "onError": "continueRegularOutput"
      },
      {
        "id": "check-response",
        "name": "Check Response",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1130,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "update-scene-success",
        "name": "Update Scene Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1350,
          200
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes?id=eq.{{ $('Build Fal Request').first().json.scene_id }}",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_ANON_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ image_status: 'uploaded', image_url: $('Generate Image').first().json.images[0].url }) }}",
          "options": {}
        }
      },
      {
        "id": "update-scene-failed",
        "name": "Update Scene Failed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1350,
          450
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes?id=eq.{{ $('Build Fal Request').first().json.scene_id }}",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_ANON_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ image_status: 'failed' }) }}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Respond Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond Accepted": {
        "main": [
          [
            {
              "node": "Build Fal Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Fal Request": {
        "main": [
          [
            {
              "node": "Generate Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Image": {
        "main": [
          [
            {
              "node": "Check Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Response": {
        "main": [
          [
            {
              "node": "Update Scene Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Scene Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Akinwunmi Akinrimisi",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T17:52:28.809Z",
        "id": 2382,
        "workflowId": "Lik3MUT0E9a6JUum",
        "versionId": "8139da98-2f17-48b3-9636-f53e97ea2a63",
        "event": "activated",
        "userId": "ab010feb-355c-4130-b354-4e929908258e"
      },
      {
        "createdAt": "2026-03-28T17:52:28.790Z",
        "id": 2381,
        "workflowId": "Lik3MUT0E9a6JUum",
        "versionId": "8139da98-2f17-48b3-9636-f53e97ea2a63",
        "event": "deactivated",
        "userId": "ab010feb-355c-4130-b354-4e929908258e"
      }
    ]
  }
}