workflows/WF_TOPICS_ACTION.json
{
  "name": "WF_TOPICS_ACTION — Approve/Reject/Refine/Edit Topics",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "topics/action", "responseMode": "lastNode", "options": { "allowedOrigins": "*" } },
      "id": "wf-ta-webhook", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 300]
    },
    {
      "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst action = body.action;\nconst topic_ids = body.topic_ids || (body.topic_id ? [body.topic_id] : []);\nconst project_id = body.project_id;\nconst feedback = body.feedback || '';\nconst instructions = body.instructions || '';\nconst fields = body.fields || {};\n\nif (!action) throw new Error('action required');\nif (!topic_ids.length && !['regenerate-rejected'].includes(action)) throw new Error('topic_ids required');\n\nreturn [{ json: { action, topic_ids, project_id, feedback, instructions, fields, topic_id: topic_ids[0] } }];" },
      "id": "wf-ta-parse", "name": "Parse Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 300]
    },
    {
      "parameters": { "rules": { "values": [
        { "outputIndex": 0, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "approve", "operator": { "type": "string", "operation": "equals" } }] } },
        { "outputIndex": 1, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "reject", "operator": { "type": "string", "operation": "equals" } }] } },
        { "outputIndex": 2, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "refine", "operator": { "type": "string", "operation": "equals" } }] } },
        { "outputIndex": 3, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "edit", "operator": { "type": "string", "operation": "equals" } }] } }
      ] } },
      "id": "wf-ta-switch", "name": "Route by Action", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [640, 300]
    },
    {
      "parameters": { "method": "PATCH", "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=in.({{ $json.topic_ids.join(',') }})", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" }, { "name": "Prefer", "value": "return=minimal" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ review_status: 'approved' }) }}", "options": {} },
      "id": "wf-ta-approve", "name": "Approve Topics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 100],
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" } }
    },
    {
      "parameters": { "method": "PATCH", "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=in.({{ $('Parse Request').first().json.topic_ids.join(',') }})", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" }, { "name": "Prefer", "value": "return=minimal" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ review_status: 'rejected', review_feedback: $('Parse Request').first().json.feedback }) }}", "options": {} },
      "id": "wf-ta-reject", "name": "Reject Topics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 260],
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" } }
    },
    {
      "parameters": { "method": "PATCH", "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Parse Request').first().json.topic_id }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" }, { "name": "Prefer", "value": "return=minimal" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ review_status: 'refining' }) }}", "options": {} },
      "id": "wf-ta-refine-status", "name": "Status → Refining", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 420],
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" } }
    },
    {
      "parameters": { "method": "GET", "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?project_id=eq.{{ $('Parse Request').first().json.project_id }}&select=*,avatars(*)&order=topic_number.asc", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" }] }, "options": {} },
      "id": "wf-ta-read-all-topics", "name": "Read All Topics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, 420],
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" } }
    },
    {
      "parameters": { "jsCode": "const allTopics = $input.first().json;\nconst topics = Array.isArray(allTopics) ? allTopics : [allTopics];\nconst targetId = $('Parse Request').first().json.topic_id;\nconst instructions = $('Parse Request').first().json.instructions;\nconst targetTopic = topics.find(t => t.id === targetId);\nconst otherTopics = topics.filter(t => t.id !== targetId).map(t => ({ topic_number: t.topic_number, seo_title: t.seo_title, playlist_angle: t.playlist_angle, narrative_hook: t.narrative_hook }));\n\nconst prompt = `Refine this YouTube topic based on the user's instructions. IMPORTANT: Consider the other 24 topics below to avoid overlap.\n\nTopic to refine:\n${JSON.stringify(targetTopic, null, 2)}\n\nUser instructions: ${instructions}\n\nOther topics (avoid overlap):\n${JSON.stringify(otherTopics, null, 2)}\n\nReturn ONLY valid JSON with the refined topic fields: { seo_title, narrative_hook, key_segments, estimated_cpm, viral_potential }`;\n\nreturn [{ json: { prompt, targetId, instructions, project_id: $('Parse Request').first().json.project_id, existingHistory: targetTopic?.refinement_history || [] } }];" },
      "id": "wf-ta-build-refine-prompt", "name": "Build Refine Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 420]
    },
    {
      "parameters": { "method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "anthropic-version", "value": "2023-06-01" }, { "name": "content-type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, messages: [{ role: 'user', content: $json.prompt }] }) }}", "options": { "timeout": 60000 } },
      "id": "wf-ta-anthropic-refine", "name": "Claude: Refine Topic", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1540, 420],
      "credentials": { "httpHeaderAuth": { "id": "anthropic-api-key", "name": "Anthropic API Key" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "jsCode": "const response = $input.first().json;\nif (response.error) throw new Error(`Refine error: ${response.error.message}`);\nconst text = (response.content || []).filter(c => c.type === 'text').map(c => c.text).join('');\nlet jsonText = text.replace(/^```(?:json)?\\s*/m, '').replace(/\\s*```$/m, '').trim();\nconst s = jsonText.indexOf('{'), e = jsonText.lastIndexOf('}');\nconst refined = JSON.parse(jsonText.substring(s, e + 1));\nconst prev = $('Build Refine Prompt').first().json;\nconst history = [...(prev.existingHistory || []), { instruction: prev.instructions, result: refined.seo_title, timestamp: new Date().toISOString() }];\nreturn [{ json: { targetId: prev.targetId, refined, history } }];" },
      "id": "wf-ta-parse-refine", "name": "Parse Refine Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 420]
    },
    {
      "parameters": { "method": "PATCH", "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $json.targetId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" }, { "name": "Prefer", "value": "return=minimal" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ ...($json.refined), review_status: 'pending', refinement_history: $json.history }) }}", "options": {} },
      "id": "wf-ta-update-refined", "name": "UPDATE Refined Topic", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1980, 420],
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" } }
    },
    {
      "parameters": { "method": "PATCH", "url": "={{$env.SUPABASE_URL}}/rest/v1/topics?id=eq.{{ $('Parse Request').first().json.topic_id }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$env.SUPABASE_ANON_KEY}}" }, { "name": "Prefer", "value": "return=minimal" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($('Parse Request').first().json.fields) }}", "options": {} },
      "id": "wf-ta-edit", "name": "Edit Topic", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 580],
      "credentials": { "httpHeaderAuth": { "id": "supabase-service-role", "name": "Supabase Service Role" } }
    },
    {
      "parameters": { "jsCode": "return [{ json: { success: true, action: $('Parse Request').first().json.action } }];" },
      "id": "wf-ta-success-approve", "name": "Success (Approve)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 100]
    },
    {
      "parameters": { "jsCode": "return [{ json: { success: true, action: 'reject' } }];" },
      "id": "wf-ta-success-reject", "name": "Success (Reject)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 260]
    },
    {
      "parameters": { "jsCode": "return [{ json: { success: true, action: 'refine' } }];" },
      "id": "wf-ta-success-refine", "name": "Success (Refine)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2200, 420]
    },
    {
      "parameters": { "jsCode": "return [{ json: { success: true, action: 'edit' } }];" },
      "id": "wf-ta-success-edit", "name": "Success (Edit)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 580]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Parse Request", "type": "main", "index": 0 }]] },
    "Parse Request": { "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]] },
    "Route by Action": { "main": [
      [{ "node": "Approve Topics", "type": "main", "index": 0 }],
      [{ "node": "Reject Topics", "type": "main", "index": 0 }],
      [{ "node": "Status → Refining", "type": "main", "index": 0 }],
      [{ "node": "Edit Topic", "type": "main", "index": 0 }]
    ] },
    "Approve Topics": { "main": [[{ "node": "Success (Approve)", "type": "main", "index": 0 }]] },
    "Reject Topics": { "main": [[{ "node": "Success (Reject)", "type": "main", "index": 0 }]] },
    "Status → Refining": { "main": [[{ "node": "Read All Topics", "type": "main", "index": 0 }]] },
    "Read All Topics": { "main": [[{ "node": "Build Refine Prompt", "type": "main", "index": 0 }]] },
    "Build Refine Prompt": { "main": [[{ "node": "Claude: Refine Topic", "type": "main", "index": 0 }]] },
    "Claude: Refine Topic": { "main": [[{ "node": "Parse Refine Result", "type": "main", "index": 0 }]] },
    "Parse Refine Result": { "main": [[{ "node": "UPDATE Refined Topic", "type": "main", "index": 0 }]] },
    "UPDATE Refined Topic": { "main": [[{ "node": "Success (Refine)", "type": "main", "index": 0 }]] },
    "Edit Topic": { "main": [[{ "node": "Success (Edit)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
