workflows/WF_WEBHOOK_PRODUCTION.json
{
  "name": "WF_WEBHOOK_PRODUCTION",
  "nodes": [
    {
      "id": "webhook-production-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/trigger",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-trigger-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-trigger",
      "name": "Check Auth - Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-trigger",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-trigger",
      "name": "Respond Unauthorized - Trigger",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "fetch-topic-trigger",
      "name": "Fetch Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        208
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.body.topic_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "validate-topic-trigger",
      "name": "Validate Topic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        208
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "validate-topic-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "validate-script-approved",
              "leftValue": "={{ $json.script_review_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "validate-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "script_approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-invalid-topic",
      "name": "Respond Invalid Topic",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        304
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Topic not found or not ready for production (must be script_approved or stopped with approved script)' }) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "update-topic-status-audio",
      "name": "Set Topic Status Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        -100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Compile Folder IDs').first().json.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'audio', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "log-production-started",
      "name": "Log Production Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Compile Folder IDs').first().json.project_id, topic_id: $('Compile Folder IDs').first().json.topic_id, stage: 'production', action: 'started', details: { triggered_by: 'dashboard', topic_number: $('Compile Folder IDs').first().json.topic_number } }) }}",
        "options": {}
      }
    },
    {
      "id": "fire-tts-workflow",
      "name": "Fire TTS Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3616,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/production/tts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "={{ $('Compile Folder IDs').first().json.topic_id }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-trigger-success",
      "name": "Respond Trigger Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3840,
        -100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $('Compile Folder IDs').first().json.topic_id, status: 'audio', message: 'Production started, Drive folders created, TTS workflow fired' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-batch-trigger",
      "name": "Webhook Batch Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        720
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/trigger-batch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-batch-trigger-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-batch",
      "name": "Check Auth - Batch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-batch",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-batch",
      "name": "Respond Unauthorized - Batch",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        816
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "prepare-batch",
      "name": "Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        624
      ],
      "parameters": {
        "jsCode": "// Batch trigger: set first topic to 'audio', rest to 'queued'\nconst topicIds = $input.first().json.body.topic_ids || [];\nif (!topicIds.length) {\n  return [{ json: { error: 'No topic_ids provided', topic_ids: [] } }];\n}\n\n// First topic starts immediately, rest queued\nreturn [{\n  json: {\n    first_topic_id: topicIds[0],\n    queued_topic_ids: topicIds.slice(1),\n    all_topic_ids: topicIds\n  }\n}];"
      }
    },
    {
      "id": "set-queued-status",
      "name": "Set Queued Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        624
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=in.({{ $json.queued_topic_ids.join(',') }})"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'queued', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "fire-first-topic",
      "name": "Fire First Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        624
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/production/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Prepare Batch').first().json.first_topic_id }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-batch-success",
      "name": "Respond Batch Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        624
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { first_topic_id: $('Prepare Batch').item.json.first_topic_id, queued_count: $('Prepare Batch').item.json.queued_topic_ids.length, message: 'Batch production started' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-stop",
      "name": "Webhook Stop",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        1136
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/stop",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-stop-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-stop",
      "name": "Check Auth - Stop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1136
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-stop",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-stop",
      "name": "Respond Unauthorized - Stop",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        1232
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "set-stopped-status",
      "name": "Set Stopped Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1040
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.body.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'stopped', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "log-stopped",
      "name": "Log Stopped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1040
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $('Webhook Stop').first().json.body?.project_id, topic_id: $('Webhook Stop').first().json.body.topic_id, stage: 'production', action: 'stopped', details: { stopped_by: 'dashboard' } }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-stop-success",
      "name": "Respond Stop Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        1040
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $('Webhook Stop').item.json.body.topic_id, status: 'stopped', message: 'Production stopped' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-resume",
      "name": "Webhook Resume",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        1552
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/resume",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-resume-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-resume",
      "name": "Check Auth - Resume",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1552
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-resume",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-resume",
      "name": "Respond Unauthorized - Resume",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        1648
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "fetch-last-stage",
      "name": "Fetch Last Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1456
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/production_log",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $json.body.topic_id }}"
            },
            {
              "name": "action",
              "value": "=eq.started"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "determine-resume-stage",
      "name": "Determine Resume Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        1456
      ],
      "parameters": {
        "jsCode": "// Determine resume stage from last production_log entry\nconst logEntry = $input.first().json;\nconst topicId = $('Webhook Resume').item.json.body.topic_id;\n\nlet resumeStage = 'audio';\nlet webhookPath = 'production/tts';\n\nif (logEntry && logEntry.stage) {\n  const lastStage = logEntry.stage;\n  switch (lastStage) {\n    case 'audio':\n      resumeStage = 'audio';\n      webhookPath = 'production/tts';\n      break;\n    case 'images':\n      resumeStage = 'images';\n      webhookPath = 'production/images';\n      break;\n    case 'i2v':\n      resumeStage = 'images';\n      webhookPath = 'production/i2v';\n      break;\n    case 't2v':\n      resumeStage = 'images';\n      webhookPath = 'production/t2v';\n      break;\n    case 'assembly':\n      resumeStage = 'assembling';\n      webhookPath = 'production/assemble';\n      break;\n    default:\n      resumeStage = 'audio';\n      webhookPath = 'production/tts';\n  }\n}\n\nreturn [{\n  json: {\n    topic_id: topicId,\n    resume_stage: resumeStage,\n    webhook_path: webhookPath\n  }\n}];"
      }
    },
    {
      "id": "set-resume-status",
      "name": "Set Resume Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        1456
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.resume_stage, last_status_change: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "fire-resume-workflow",
      "name": "Fire Resume Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        1456
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/{{ $('Determine Resume Stage').first().json.webhook_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Determine Resume Stage').first().json.topic_id }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-resume-success",
      "name": "Respond Resume Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        1456
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $json.topic_id, status: $('Determine Resume Stage').item.json.resume_stage, message: 'Production resumed' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-restart",
      "name": "Webhook Restart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        1968
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/restart",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-restart-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-restart",
      "name": "Check Auth - Restart",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1968
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-restart",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-restart",
      "name": "Respond Unauthorized - Restart",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        2064
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "reset-all-scenes",
      "name": "Reset All Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1872
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $json.body.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_status: 'pending', image_status: 'pending', video_status: 'pending', clip_status: 'pending', audio_duration_ms: null, audio_file_drive_id: null, audio_file_url: null, start_time_ms: null, end_time_ms: null, image_url: null, image_drive_id: null, video_url: null, video_drive_id: null, skipped: false, skip_reason: null }) }}",
        "options": {}
      }
    },
    {
      "id": "reset-topic-status",
      "name": "Reset Topic Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1872
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Webhook Restart').item.json.body.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'audio', last_status_change: new Date().toISOString(), cost_breakdown: null, total_cost: 0, audio_progress: 'pending', images_progress: 'pending', i2v_progress: 'pending', t2v_progress: 'pending', assembly_status: 'pending' }) }}",
        "options": {}
      }
    },
    {
      "id": "fire-tts-restart",
      "name": "Fire TTS After Restart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        1872
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/production/tts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Webhook Restart').item.json.body.topic_id }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-restart-success",
      "name": "Respond Restart Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        1872
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $('Webhook Restart').item.json.body.topic_id, status: 'audio', message: 'Production restarted from scratch' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-retry-scene",
      "name": "Webhook Retry Scene",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        2384
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/retry-scene",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-retry-scene-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-retry-scene",
      "name": "Check Auth - Retry Scene",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        2384
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-retry-scene",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-retry-scene",
      "name": "Respond Unauthorized - Retry Scene",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        2480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "fetch-scene-retry",
      "name": "Fetch Scene - Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        2288
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.body.scene_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "determine-failed-stage",
      "name": "Determine Failed Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        2288
      ],
      "parameters": {
        "jsCode": "// Determine which stage failed and reset it\nconst scene = $input.first().json;\nif (!scene || !scene.id) {\n  return [{ json: { error: 'Scene not found' } }];\n}\nconst resetFields = {};\nlet failedStage = '';\n\nif (scene.audio_status === 'failed') {\n  resetFields.audio_status = 'pending';\n  failedStage = 'tts';\n} else if (scene.image_status === 'failed') {\n  resetFields.image_status = 'pending';\n  failedStage = 'images';\n} else if (scene.video_status === 'failed') {\n  resetFields.video_status = 'pending';\n  failedStage = scene.visual_type === 'i2v' ? 'i2v' : 't2v';\n} else if (scene.clip_status === 'failed') {\n  resetFields.clip_status = 'pending';\n  failedStage = 'assembly';\n}\n\nreturn [{\n  json: {\n    scene_id: scene.id,\n    topic_id: scene.topic_id,\n    scene_number: scene.scene_number,\n    visual_type: scene.visual_type,\n    failed_stage: failedStage,\n    reset_fields: resetFields\n  }\n}];"
      }
    },
    {
      "id": "reset-scene-status",
      "name": "Reset Scene Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        2288
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.scene_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.reset_fields) }}",
        "options": {}
      }
    },
    {
      "id": "respond-retry-scene-success",
      "name": "Respond Retry Scene Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        2288
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { scene_id: $json.scene_id, failed_stage: $('Determine Failed Stage').item.json.failed_stage, message: 'Scene reset for retry' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-retry-all-failed",
      "name": "Webhook Retry All Failed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        2800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/retry-all-failed",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-retry-all-failed-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-retry-all",
      "name": "Check Auth - Retry All",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        2800
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-retry-all",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-retry-all",
      "name": "Respond Unauthorized - Retry All",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        2896
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "fetch-failed-scenes",
      "name": "Fetch Failed Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        2704
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $json.body.topic_id }}"
            },
            {
              "name": "or",
              "value": "(audio_status.eq.failed,image_status.eq.failed,video_status.eq.failed,clip_status.eq.failed)"
            },
            {
              "name": "select",
              "value": "id,audio_status,image_status,video_status,clip_status"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "prepare-retry-all",
      "name": "Prepare Retry All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        2704
      ],
      "parameters": {
        "jsCode": "// Reset all failed statuses to pending\nconst allItems = $input.all().filter(item => item.json.id);\nif (allItems.length === 0) {\n  return [{ json: { count: 0, scene_ids: [] } }];\n}\n\nconst sceneIds = allItems.map(item => item.json.id);\nreturn [{ json: { count: allItems.length, scene_ids: sceneIds, topic_id: $('Webhook Retry All Failed').item.json.body.topic_id } }];"
      }
    },
    {
      "id": "reset-all-failed",
      "name": "Reset All Failed Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        2704
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $json.topic_id }}"
            },
            {
              "name": "or",
              "value": "(audio_status.eq.failed,image_status.eq.failed,video_status.eq.failed,clip_status.eq.failed)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_status: $json.scene_ids.length > 0 ? undefined : 'pending', image_status: 'pending', video_status: 'pending', clip_status: 'pending' }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-retry-all-success",
      "name": "Respond Retry All Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        2704
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $json.topic_id, reset_count: $('Prepare Retry All').item.json.count, message: 'All failed scenes reset for retry' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-skip-scene",
      "name": "Webhook Skip Scene",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        3216
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/skip-scene",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-skip-scene-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-skip-scene",
      "name": "Check Auth - Skip Scene",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        3216
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-skip",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-skip",
      "name": "Respond Unauthorized - Skip Scene",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        3312
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "set-scene-skipped",
      "name": "Set Scene Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        3120
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.body.scene_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ skipped: true, skip_reason: $json.body.reason || 'Manually skipped' }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-skip-scene-success",
      "name": "Respond Skip Scene Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        3120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { scene_id: $('Webhook Skip Scene').item.json.body.scene_id, skipped: true, message: 'Scene skipped' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-skip-all-failed",
      "name": "Webhook Skip All Failed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        3632
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/skip-all-failed",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-skip-all-failed-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-skip-all",
      "name": "Check Auth - Skip All Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        3632
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-skip-all",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-skip-all",
      "name": "Respond Unauthorized - Skip All",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        3728
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "skip-all-failed-scenes",
      "name": "Skip All Failed Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        3536
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $json.body.topic_id }}"
            },
            {
              "name": "or",
              "value": "(audio_status.eq.failed,image_status.eq.failed,video_status.eq.failed,clip_status.eq.failed)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ skipped: true, skip_reason: 'Batch skip all failed' }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-skip-all-success",
      "name": "Respond Skip All Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        3536
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $('Webhook Skip All Failed').item.json.body.topic_id, message: 'All failed scenes skipped' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-edit-retry",
      "name": "Webhook Edit Retry Scene",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        4048
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/edit-retry-scene",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-edit-retry-scene-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-edit-retry",
      "name": "Check Auth - Edit Retry",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        4048
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-edit-retry",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-edit-retry",
      "name": "Respond Unauthorized - Edit Retry",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        4144
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "update-prompt-and-reset",
      "name": "Update Prompt and Reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        3952
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.body.scene_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_prompt: $json.body.image_prompt, image_status: 'pending', video_status: 'pending' }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-edit-retry-success",
      "name": "Respond Edit Retry Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        3952
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { scene_id: $('Webhook Edit Retry Scene').item.json.body.scene_id, message: 'Image prompt updated and scene reset for retry' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "webhook-assemble",
      "name": "Webhook Assemble",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        4560
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "production/assemble",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        },
        "authentication": "headerAuth"
      },
      "webhookId": "production-assemble-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "if-auth-assemble",
      "name": "Check Auth - Assemble",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        4560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check-assemble",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized-assemble",
      "name": "Respond Unauthorized - Assemble",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        4656
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: null, error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "check-incomplete-scenes",
      "name": "Check Incomplete Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        4464
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scenes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "=eq.{{ $json.body.topic_id }}"
            },
            {
              "name": "skipped",
              "value": "=eq.false"
            },
            {
              "name": "or",
              "value": "(and(visual_type.eq.static_image,audio_status.in.(pending,failed)),and(visual_type.eq.static_image,image_status.in.(pending,failed)),and(visual_type.eq.i2v,audio_status.in.(pending,failed)),and(visual_type.eq.i2v,image_status.in.(pending,failed)),and(visual_type.eq.i2v,video_status.in.(pending,failed)),and(visual_type.eq.t2v,audio_status.in.(pending,failed)),and(visual_type.eq.t2v,video_status.in.(pending,failed)))"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "validate-all-complete",
      "name": "Validate All Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        4464
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id ? 1 : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-assemble-blocked",
      "name": "Respond Assembly Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        4560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, data: { incomplete_count: $input.all().length }, error: 'Not all scenes are complete or skipped. Resolve failed scenes before assembly.' }) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "set-assembling-status",
      "name": "Set Assembling Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        4368
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Webhook Assemble').item.json.body.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'assembling', assembly_status: 'starting', last_status_change: new Date().toISOString() }) }}",
        "options": {}
      }
    },
    {
      "id": "fire-assembly-workflow",
      "name": "Fire Assembly Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        4368
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE }}/production/assembly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DASHBOARD_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic_id: $('Webhook Assemble').item.json.body.topic_id, project_id: $('Webhook Assemble').item.json.body.project_id }) }}",
        "options": {}
      }
    },
    {
      "id": "respond-assemble-success",
      "name": "Respond Assemble Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        4368
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { topic_id: $('Webhook Assemble').item.json.body.topic_id, status: 'assembling', message: 'Assembly started' }, error: null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "4a13f1ce-0ff6-44c0-b48b-e186cfc81912",
      "name": "Fetch Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -100
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Fetch Topic').first().json.project_id }}"
            },
            {
              "name": "select",
              "value": "drive_assets_folder_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ea8e6770-ee58-4e17-8d25-c9f1d45fc921",
      "name": "Create Topic Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        -100
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "={{ String($('Fetch Topic').first().json.topic_number || 1).padStart(2, '0') + ' - ' + ($('Fetch Topic').first().json.seo_title || 'Topic').substring(0, 80) }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Fetch Project').first().json.drive_assets_folder_id || 'root' }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "c217abde-d767-424a-8162-35fb0b3e6b35",
      "name": "Create Audio Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1600,
        -100
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "audio",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Topic Folder').first().json.id }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "773ec708-068e-4a5b-8af8-e833adb836ad",
      "name": "Create Images Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1824,
        -100
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "images",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Topic Folder').first().json.id }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "3effce5b-0424-488d-a742-5644b5206f08",
      "name": "Create VideoClips Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2048,
        -100
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "video_clips",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Topic Folder').first().json.id }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "32405b0a-873a-4458-8efb-c5697aca6c09",
      "name": "Create Captions Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        -100
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "captions",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Topic Folder').first().json.id }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "f9e7db6c-1a4d-4db4-b8ed-eae466f15971",
      "name": "Create Final Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2496,
        -100
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "final",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Topic Folder').first().json.id }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "90f85659-0a71-4038-9ce9-e7c69dd144ac",
      "name": "Compile Folder IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -100
      ],
      "parameters": {
        "jsCode": "const topic = $('Fetch Topic').first().json;\nconst topicFolderId = $('Create Topic Folder').first().json.id;\n\nreturn [{\n  json: {\n    topic_id: topic.id,\n    project_id: topic.project_id,\n    topic_number: topic.topic_number,\n    title: topic.seo_title || topic.original_title || 'Topic',\n    drive_folder_id: topicFolderId,\n    drive_subfolder_ids: {\n      audio: $('Create Audio Subfolder').first().json.id,\n      images: $('Create Images Subfolder').first().json.id,\n      video_clips: $('Create VideoClips Subfolder').first().json.id,\n      captions: $('Create Captions Subfolder').first().json.id,\n      final: $('Create Final Subfolder').first().json.id\n    }\n  }\n}];"
      }
    },
    {
      "id": "1bbdbcd6-4761-49dc-8832-f34686f5cfe0",
      "name": "Save Folder IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        -100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.topic_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ drive_folder_id: $json.drive_folder_id, drive_subfolder_ids: $json.drive_subfolder_ids }) }}",
        "options": {}
      }
    },
    {
      "id": "webhook-upload-drive",
      "name": "Webhook Upload to Drive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        5200
      ],
      "parameters": {
        "path": "production/upload-to-drive",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "KtMyWD7uJJBZYLjt",
          "name": "Authorization"
        }
      }
    },
    {
      "id": "download-for-drive",
      "name": "Download File for Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        5200
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://172.18.0.1:9999/{{ $json.body.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "upload-to-drive-node",
      "name": "Upload File to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        740,
        5200
      ],
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.body.file_name || 'video.mp4' }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.body.folder_id }}",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z0gigNHVnhcGz2pD",
          "name": "GoogleDriveAccount"
        }
      }
    },
    {
      "id": "respond-upload-drive",
      "name": "Respond Upload Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        5200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, file_id: $json.id, name: $json.name, link: 'https://drive.google.com/file/d/' + $json.id + '/view' }) }}"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Auth - Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Trigger": {
      "main": [
        [
          {
            "node": "Fetch Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Topic": {
      "main": [
        [
          {
            "node": "Validate Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Topic": {
      "main": [
        [
          {
            "node": "Fetch Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic Status Audio": {
      "main": [
        [
          {
            "node": "Log Production Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Production Started": {
      "main": [
        [
          {
            "node": "Fire TTS Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire TTS Workflow": {
      "main": [
        [
          {
            "node": "Respond Trigger Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Batch Trigger": {
      "main": [
        [
          {
            "node": "Check Auth - Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Batch": {
      "main": [
        [
          {
            "node": "Prepare Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch": {
      "main": [
        [
          {
            "node": "Set Queued Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queued Status": {
      "main": [
        [
          {
            "node": "Fire First Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire First Topic": {
      "main": [
        [
          {
            "node": "Respond Batch Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Stop": {
      "main": [
        [
          {
            "node": "Check Auth - Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Stop": {
      "main": [
        [
          {
            "node": "Set Stopped Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Stopped Status": {
      "main": [
        [
          {
            "node": "Log Stopped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Stopped": {
      "main": [
        [
          {
            "node": "Respond Stop Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Resume": {
      "main": [
        [
          {
            "node": "Check Auth - Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Resume": {
      "main": [
        [
          {
            "node": "Fetch Last Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last Stage": {
      "main": [
        [
          {
            "node": "Determine Resume Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Resume Stage": {
      "main": [
        [
          {
            "node": "Set Resume Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resume Status": {
      "main": [
        [
          {
            "node": "Fire Resume Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire Resume Workflow": {
      "main": [
        [
          {
            "node": "Respond Resume Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Restart": {
      "main": [
        [
          {
            "node": "Check Auth - Restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Restart": {
      "main": [
        [
          {
            "node": "Reset All Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset All Scenes": {
      "main": [
        [
          {
            "node": "Reset Topic Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Topic Status": {
      "main": [
        [
          {
            "node": "Fire TTS After Restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire TTS After Restart": {
      "main": [
        [
          {
            "node": "Respond Restart Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Retry Scene": {
      "main": [
        [
          {
            "node": "Check Auth - Retry Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Retry Scene": {
      "main": [
        [
          {
            "node": "Fetch Scene - Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Retry Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scene - Retry": {
      "main": [
        [
          {
            "node": "Determine Failed Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Failed Stage": {
      "main": [
        [
          {
            "node": "Reset Scene Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Scene Status": {
      "main": [
        [
          {
            "node": "Respond Retry Scene Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Retry All Failed": {
      "main": [
        [
          {
            "node": "Check Auth - Retry All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Retry All": {
      "main": [
        [
          {
            "node": "Fetch Failed Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Retry All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Failed Scenes": {
      "main": [
        [
          {
            "node": "Prepare Retry All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry All": {
      "main": [
        [
          {
            "node": "Reset All Failed Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset All Failed Scenes": {
      "main": [
        [
          {
            "node": "Respond Retry All Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Skip Scene": {
      "main": [
        [
          {
            "node": "Check Auth - Skip Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Skip Scene": {
      "main": [
        [
          {
            "node": "Set Scene Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Skip Scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Scene Skipped": {
      "main": [
        [
          {
            "node": "Respond Skip Scene Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Skip All Failed": {
      "main": [
        [
          {
            "node": "Check Auth - Skip All Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Skip All Failed": {
      "main": [
        [
          {
            "node": "Skip All Failed Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Skip All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip All Failed Scenes": {
      "main": [
        [
          {
            "node": "Respond Skip All Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Edit Retry Scene": {
      "main": [
        [
          {
            "node": "Check Auth - Edit Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Edit Retry": {
      "main": [
        [
          {
            "node": "Update Prompt and Reset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Edit Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prompt and Reset": {
      "main": [
        [
          {
            "node": "Respond Edit Retry Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Assemble": {
      "main": [
        [
          {
            "node": "Check Auth - Assemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth - Assemble": {
      "main": [
        [
          {
            "node": "Check Incomplete Scenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized - Assemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Incomplete Scenes": {
      "main": [
        [
          {
            "node": "Validate All Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate All Complete": {
      "main": [
        [
          {
            "node": "Set Assembling Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Assembly Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Assembling Status": {
      "main": [
        [
          {
            "node": "Fire Assembly Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire Assembly Workflow": {
      "main": [
        [
          {
            "node": "Respond Assemble Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project": {
      "main": [
        [
          {
            "node": "Create Topic Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Topic Folder": {
      "main": [
        [
          {
            "node": "Create Audio Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audio Subfolder": {
      "main": [
        [
          {
            "node": "Create Images Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Images Subfolder": {
      "main": [
        [
          {
            "node": "Create VideoClips Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VideoClips Subfolder": {
      "main": [
        [
          {
            "node": "Create Captions Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Captions Subfolder": {
      "main": [
        [
          {
            "node": "Create Final Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final Subfolder": {
      "main": [
        [
          {
            "node": "Compile Folder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Folder IDs": {
      "main": [
        [
          {
            "node": "Save Folder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Folder IDs": {
      "main": [
        [
          {
            "node": "Set Topic Status Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Upload to Drive": {
      "main": [
        [
          {
            "node": "Download File for Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File for Drive": {
      "main": [
        [
          {
            "node": "Upload File to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Drive": {
      "main": [
        [
          {
            "node": "Respond Upload Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3331a45c-1c4d-435a-90a2-d46aff4db5c0",
  "meta": null,
  "id": "SsdE4siQ8EbO76ye",
  "tags": [
    {
      "updatedAt": "2026-03-09T22:09:21.352Z",
      "createdAt": "2026-03-09T22:09:21.352Z",
      "id": "AThibo2wxLpjDbNa",
      "name": "vision-gridai"
    }
  ]
}